<!------------------------------------------New Design--------------------------------------------->


<div class="container-fluid">
  <div class="row">
    <main class="col-md-9 ml-sm-auto col-lg-10 styles">

      <div class="px-4">
          <h3 class="page-heading-wrap bg-white  pb-2 mb-1 border-bottom sticky-top " style="color: #4169e1;"><b>Profile</b></h3>
          <!-- <barcode-scanner-livestream type="code_128" (valueChanges)="onValueChanges($event)"></barcode-scanner-livestream>
          <div [hidden]="!barcodeValue">
              {{barcodeValue}}
          </div> -->
         
        <form >
          <div class="row mt-2">
            <div class="col-md-12 text-md-right" *ngIf="!isEdit">
              <!-- <button class=" fa fa-pencil btn btn-outline-danger fstyle " id="edit-profile" (click)="isEdit = true;">
                Edit  
              </button> -->
            </div>
            <div class="col-md-3">
              <div class="upload-profile position-relative d-inline-block mb-4">
                <!-- <input type="file" class="form-control position-absolute" <img src="assets/images/cris.jpg"
                  id="profileImage-logo" loadClass="rounded-circle" class="rounded-circle" width="150" height="150"> -->
                <!-- <i class="fa fa-camera"></i> -->
              </div>
              <!-- <div class="upload-profile position-relative d-inline-block mb-4">
                <img src="assets/images/cris.jpg" id="profileImage-logo1" loadClass="rounded-circle"
                  class="rounded-circle" width="150" height="150">
              </div> -->
            </div>

            <div class="col-md-9" *ngIf="!isEdit">
              <div class="form-group row">
                <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">First Name</strong></label>
                <div class="col-md-9 form-group">
                  <input type="text" name="first-name" class="form-control input-border fstyle " disabled id="first-name"
                  [(ngModel)]="userModel.firstName" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Last Name</strong></label>
                <div class="col-md-9 form-group">
                  <input type="text" name="last-name" class="form-control input-border fstyle " disabled
                  [(ngModel)]="userModel.lastName" [ngModelOptions]="{standalone: true}" id="last-name">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Phone Number</strong></label>
                <div class="col-md-9 form-group">
                  <input type="text" name="phoneNo" class="form-control input-border fstyle " disabled
                  [(ngModel)]="userModel.phoneNumber" [ngModelOptions]="{standalone: true}" id="phoneNo">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Email ID</strong></label>
                <div class="col-md-9 form-group">
                  <input type="text" name="email" class="form-control input-border fstyle " disabled
                  [(ngModel)]="userModel.email" [ngModelOptions]="{standalone: true}" id="email">
                </div>
              </div>
              <div>
                <div class="form-group row mb-0">
                  <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Permanent Address</strong></label>
                  <div class="col-md-9 form-group">
                    <textarea class="form-control input-border w-100 fstyle" rows="1" disabled
                    [(ngModel)]="permanentAddress.address" [ngModelOptions]="{standalone: true}" placeholder="Work Address"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 text-md-right col-form-label"></label>
                  <div class="col-md-3">
                    <input type="text" name="first-name" class="form-control input-border fstyle " disabled placeholder="City"
                    [(ngModel)]="permanentAddress.city" [ngModelOptions]="{standalone: true}" id="first-name">
                  </div>
                  <div class="col-md-3">
                    <input type="text" name="first-name" class="form-control input-border fstyle " disabled placeholder="State"
                    [(ngModel)]="permanentAddress.state" [ngModelOptions]="{standalone: true}" id="first-name">
                  </div>
                  <div class="col-md-3">
                    <input type="text" name="first-name" class="form-control input-border fstyle " disabled
                    [(ngModel)]="permanentAddress.pin" [ngModelOptions]="{standalone: true}" placeholder="PinCode" id="first-name">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 text-md-right col-form-label"></label>
                  <div class="col-md-3">
                    <input type="text" name="first-name" class="form-control input-border fstyle " disabled
                    [(ngModel)]="permanentAddress.country" [ngModelOptions]="{standalone: true}"placeholder="Country" id="first-name">
                  </div>
                  <!-- <div class="col-md-3">
                    <input type="text" name="first-name" class="form-control input-border " disabled
                      placeholder="ShopName" id="first-name">
                  </div> -->
                </div>

              </div>
              <div>
                <div class="form-group row mb-0">
                  <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Current Address</strong></label>
                  <div class="col-md-9 form-group">
                    <textarea class="form-control input-border w-100 fstyle" rows="1" disabled
                    [(ngModel)]="currentAddress.address" [ngModelOptions]="{standalone: true}" placeholder="Work Address"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 text-md-right col-form-label"></label>
                  <div class="col-md-3">
                    <input type="text" name="first-name" class="form-control input-border fstyle " disabled placeholder="City"
                    [(ngModel)]="currentAddress.city" [ngModelOptions]="{standalone: true}" id="first-name">
                  </div>
                  <div class="col-md-3">
                    <input type="text" name="first-name" class="form-control input-border fstyle " disabled placeholder="State"
                    [(ngModel)]="currentAddress.state" [ngModelOptions]="{standalone: true}" id="first-name">
                  </div>
                  <div class="col-md-3">
                    <input type="text" name="first-name" class="form-control input-border fstyle " disabled
                    [(ngModel)]="currentAddress.pin" [ngModelOptions]="{standalone: true}" placeholder="PinCode" id="first-name">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 text-md-right col-form-label"></label>
                  <div class="col-md-3">
                    <input type="text" name="first-name" class="form-control input-border fstyle " disabled
                    [(ngModel)]="currentAddress.country" [ngModelOptions]="{standalone: true}" placeholder="Country" id="first-name">
                  </div>

                </div>

              </div>
            </div >
            <div class="col-md-9" *ngIf="isEdit" >
              <div  >
              <div class="form-group row">
                <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">First Name</strong></label>
                <div class="col-md-9 form-group">
                  <input type="text" [(ngModel)]="userModel.firstName" [ngModelOptions]="{standalone: true}" class="form-control input-border w-50 fstyle"
                    id="first-name_edit" placeholder="First Name">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Last Name</strong></label>
                <div class="col-md-9 form-group">
                  <input type="text" [(ngModel)]="userModel.lastName" [ngModelOptions]="{standalone: true}" class="form-control input-border w-50 fstyle"
                    id="last-name_edit" placeholder="Last name">

                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Phone Number</strong></label>
                <div class="col-md-9 form-group">
                  <input type="text" [(ngModel)]="userModel.phoneNumber" [ngModelOptions]="{standalone: true}" class="form-control input-border w-50 fstyle"
                    id="phone_edit" placeholder="Phone Number" appInputOnlyNumber="" maxlength="10">

                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Email ID</strong></label>
                <div class="col-md-9 form-group">
                  <input type="email" [(ngModel)]="userModel.email" [ngModelOptions]="{standalone: true}" class="form-control input-border w-50 fstyle" id="user-email"
                    placeholder="Email Id">

                </div>
              </div>
              </div>
              <div >
                <div class="form-group row">
                  <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Permanent Address</strong></label>
                  <div class="col-md-9 form-group">
                    <textarea name="homeaddress" class="form-control input-border w-100 fstyle" [(ngModel)]="permanentAddress.address" [ngModelOptions]="{standalone: true}"
                      rows="1" id="homeaddress" placeholder="Home Address"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 text-md-right col-form-label"></label>
                  <div class="col-md-3">
                    <input type="text" class="form-control input-border w-100 fstyle"  [(ngModel)]="permanentAddress.pin" [ngModelOptions]="{standalone: true}" id="home-zipcode"
                      placeholder="PinCode">
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control input-border w-100 fstyle"  id="home-country"[(ngModel)]="permanentAddress.country" [ngModelOptions]="{standalone: true}"
                      placeholder="Country">
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control input-border w-100 fstyle" id="home-state"  [(ngModel)]="permanentAddress.state" [ngModelOptions]="{standalone: true}"
                      placeholder="State">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 text-md-right col-form-label"></label>
                  <div class="col-md-3 form-group">
                    <input type="text" class="form-control input-border w-100 fstyle" id="home-city" [(ngModel)]="permanentAddress.city" [ngModelOptions]="{standalone: true}"
                      placeholder="City">
                  </div>

                </div>
              </div>
              <div>
                <div class="form-group row">
                  <label class="col-md-3 text-md-right col-form-label"><strong class="fstyle">Work Address</strong></label>
                  <div class="col-md-9 form-group">
                    <textarea name="workaddress" class="form-control input-border w-100 fstyle" [(ngModel)]="currentAddress.address" [ngModelOptions]="{standalone: true}"
                      rows="1" id="workaddress" placeholder="Work Address"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 text-md-right col-form-label"></label>
                  <div class="col-md-3">
                    <input type="text" class="form-control input-border w-100 fstyle" [(ngModel)]="currentAddress.pin" [ngModelOptions]="{standalone: true}" id="work-country"
                      placeholder="PinCode">
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control input-border w-100 fstyle"  [(ngModel)]="currentAddress.country" [ngModelOptions]="{standalone: true}"
                      id="work-country" placeholder="Country">
                  </div>
                  <div class="col-md-3">
                    <input type="text" class="form-control input-border w-100 fstyle" id="work-state"  [(ngModel)]="currentAddress.state" [ngModelOptions]="{standalone: true}"
                      placeholder="State">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 text-md-right col-form-label"></label>
                  <div class="col-md-3 form-group">
                    <input type="text" class="form-control input-border w-100 fstyle" id="work-city"  [(ngModel)]="currentAddress.city" [ngModelOptions]="{standalone: true}"
                      placeholder="City">
                  </div>
                </div>
              </div>
              <div class="row mb-2" id="action-row">
                <div class="col-md-9 offset-md-3">
                  <a href="#" class="btn btn-pill px-4 btn-outline-danger mr-2 fstyle" (click)="isEdit = false">Cancel</a>
                  <button type="submit" class="btn btn-pill px-4 btn-danger fstyle" (click)="formSubmit()" >Save Changes</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
  </div>
</div>
<!-- <app-modal #modal1>
  <div class='app-modal-body'>
    <div class="modal-header" style="background-color: #F7D488;">
      <h5 class="modal-title" style="color:#dc3545; text-align: center">Verify YourSelf</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row">
       
          <div class=" col-3">
            
        </div>
        <div class="form-group col-6">
          <label for="exampleInputPassword1" class="text-center" style="color:#dc3545; align-content: center; text-align: center; margin-left: 100px; font-size: 22px;"> Enter Your Password</label>
          <input type="password" class="form-control" id="manufacture"  [(ngModel)]="loginModel.password"
          [ngModelOptions]="{standalone: true}"
            required>
        </div>
        <div class=" col-3">

        </div>
      </form>
    </div>
    <div class="modal-footer" style="background-color: #F7D488;">
      <button type="button" class="btn btn-danger" (click)="checkLogin()">Check</button>
      <button type="button" class="btn btn-secondary" (click)="modal1.hide()">Close</button>
    </div>
  </div>

</app-modal>
<app-modal #modal3>
  <div class='app-modal-body'>
    <div class="modal-header" style="background-color: #F7D488;">
      <h5 class="modal-title" style="color:#dc3545; text-align: center">Verify YourSelf</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="row">
       
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-6">
         <p style="color: brown;"> Username and Password is nt correct</p>
        
        </div>
        <div class="form-group col-md-3"></div>
      </form>
    </div>
    <div class="modal-footer" style="background-color: #F7D488;">
      <button type="button " style="align-content: center;" class="btn btn-secondary" (click)="modal3.hide()">Close</button>
    </div>
  </div>

</app-modal> -->