<main class="col-md-12 ml-sm-auto col-lg-12 styles" style="background: lightgrey; overflow: hidden;">
  <div class="col-md-5">
    <div id="printSectionId">
      <div class="row">
        <img style="height: 70px;
        width: 176px;
        margin-top: 25px;
        margin-left: 61px;" src="./assets/images/Untitled.png">
        <!-- <div style="  float: left; margin-top: 45px; font-size: 26px;margin-left: 11px; font-weight: 600;"><b
            style="font-size: 29px;">Govt of India</b><br>
          <b style="margin-left:45px; font-size: 26px;">Approved</b>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <b style="font-size: 22px;"> &nbsp; &nbsp; &nbsp; &nbsp;JAI SHREE GANESHA</b>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
        <b style="font-size: 22px;">Date:{{this.today}}</b>        
       </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <b style="font-size: 22px;">Retailer: {{this.firstName}}{{this.lastName}}({{retailerID}}) </b>
         </div>
      </div>
      ----------------------------------------------------------------
  
      <section class="section3 " *ngFor= "let u of ReportDetails">
        <b style="font-size: 20px;">Date:{{u.reportDate}} </b> <br>
        <b style="font-size: 20px;" >walletOpeningBalance:{{u.openingBalance}}</b> <br> 
        <b style="font-size: 20px;">Form Submitted:{{u.ticketBooked}} </b> <br>
        <b style="font-size: 20px;" >Claim:{{u.claimAmount}}</b> <br>
        <b style="font-size: 20px;">charges:{{u.profit}} </b> <br>
        <b style="font-size: 20px;" >cashAmount:{{u.cashAmount}}</b> <br>     
        <b style="font-size: 20px;" >walletClosingBalance:{{u.closingBalance}}</b> <br>     
        ----------------------------------------------------------------    

      </section>
    </div>
  </div>

  <div class="row">
    <input type="button" class="btn btn-danger" value="back" (click)="back()">
  </div>
</main>