.sidebar-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* .sidebarIcon-bulk-order {
  background-image: url(../../../assets/images/icons/bulkbooking1.png);
}

.active .sidebarIcon-bulk-order {
  background-image: url(../../../assets/images/icons/bulkorder.png);
} */
.dark{
  background: #4169e1;
}
.list-group.active {
  z-index: 2;
  /* color: #fff; */
  border: 1px solid white;
}
.sidebar .sidebar-sticky .nav-link {
  padding: 0.4rem 0rem;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #333;
}