<div class="container-fluid">
  <div class="row">
    <nav class=" d-none d-md-block sidebar dark" style="background:#4169e1;height: 100%;margin-top: -28px;">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item" *ngIf="id == 4">
            <a class="nav-link list-group " routerLinkActive="active-link active" routerLink="/client/booking"
              href="javascript:void(0)" ><i>
                <!-- <img src="assets/icons/booking.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                  data-placement="top" title="Booking"> -->
              </i>
              <label style="font-size: 24px; font-weight: 600; margin-bottom: 0.0rem; color: white; text-align: left;">App. Form</label>
            </a>
          </li>
          <li class="nav-item" *ngIf="id == 4">
            <a class="nav-link list-group " routerLinkActive="active-link active" routerLink="/client/claim-transaction"
              href="javascript:void(0)">
              <i>
                <!-- <img src="assets/icons/refund.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                  data-placement="top" title="Claim-Transaction"> -->
              </i>
              <label style="font-size: 24px; font-weight: 600; margin-bottom: 0.0rem;  color: white; text-align: left;   ">Scheme</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link list-group " routerLinkActive="active-link active" routerLink="/client/wallet-Details"
              href="javascript:void(0)"><i>
                <!-- <img src="assets/icons/wallet .png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                  data-placement="top" title="Wallet-Details"> -->
              </i><label
                style="font-size: 24px; font-weight: 600; margin-bottom:  0.0rem;  color: white; text-align: left; ">Packet</label>
            </a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link list-group " routerLinkActive="active-link active" routerLink="/client/result-view"
              href="javascript:void(0)"><i>
                <!-- <img src="assets/icons/experiment-results.png" class="app-icon" width="16" height="16"
                  data-toggle="tooltip" data-placement="top" title="Result-view"> -->
              </i> <label
                style="font-size: 24px; font-weight: 600; margin-bottom: 0.0rem;  color: white; text-align: left;">Ord.Cls</label>
            </a>
          </li>
          <li class="nav-item" *ngIf="id == 4">
            <a class="nav-link list-group " routerLinkActive="active-link active" routerLink="/client/ticket-history"
              href="javascript:void(0)">
              <i>
                <!-- <img src="assets/icons/refund.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                  data-placement="top" title="Claim-Transaction"> -->
              </i>
              <label style="font-size: 24px; font-weight: 600; margin-bottom: 0.0rem;  color: white; text-align: left;   ">History</label>
            </a>
          </li>
          <li class="nav-item" *ngIf="id == 4">
            <a class="nav-link list-group " routerLinkActive="active-link active" routerLink="/client/daily-report"
              href="javascript:void(0)">
              <i>
                <!-- <img src="assets/icons/refund.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                  data-placement="top" title="Claim-Transaction"> -->
              </i>
              <label style="font-size: 24px; font-weight: 600; margin-bottom: 0.0rem;  color: white; text-align: left;   ">Report</label>
            </a>
          </li>
          <li class="nav-item" *ngIf="id != 4">
            <a class="nav-link list-group " routerLinkActive="active-link active" routerLink="/distributor/distributor-report"
              href="javascript:void(0)">
              <i>
                <!-- <img src="assets/icons/refund.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                  data-placement="top" title="Claim-Transaction"> -->
              </i>
              <label style="font-size: 24px; font-weight: 600; margin-bottom: 0.0rem;  color: white; text-align: left;   ">Report</label>
            </a>
          </li>
          <li class="nav-item" *ngIf="id != 4">
            <a class="nav-link list-group " routerLinkActive="active-link active" routerLink="/distributor/view-client"
              href="javascript:void(0)"><i>
                <!-- <img src="assets/icons/avatar.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                  data-placement="top" title="Result-view"> -->

              </i><label
                style="font-size: 24px; font-weight: 600; margin-bottom: 0.0rem;  color: white; text-align: left;">Clients</label>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link list-group  " routerLinkActive="active-link active" routerLink="/client/result-report"
              href="javascript:void(0)"><i>
               
              </i><label
                style="font-size: 24px; font-weight: 600; margin-bottom: 0.0rem;  color: white; text-align: left;   ">Results</label>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link list-group" routerLinkActive="active-link active" routerLink="/client/user-profile"
              href="javascript:void(0)"><i>
                <!-- <img src="assets/icons/user.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                  data-placement="top" title="Profile"> -->
              </i><label
                style="font-size: 24px; font-weight: 600; margin-bottom: 0.0rem;  color: white; text-align: left;">Profile</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link list-group" routerLinkActive="active-link active" routerLink="/client/setting"
              href="javascript:void(0)"> <i>
                <!-- <img src="assets/icons/settings-gears.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                    data-placement="top" title="Settings"> -->
              </i><label
                style="font-size: 24px; font-weight: 600; margin-bottom: 0.0rem;  color: white; text-align: left;">Settings</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link list-group" routerLinkActive="active-link active" routerLink="/certificate"
              href="javascript:void(0)">
              <i>
                <!-- <img src="assets/icons/quality.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                      data-placement="top" title="logout"> -->
              </i><label
                style="font-size: 24px; font-weight: 600; margin-bottom: 0.0rem;  color: white; text-align: left;">Certificate</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link list-group" routerLinkActive="active-link active" routerLink="/aboutUs" href="javascript:void(0)">
              <i>
                <!-- <img src="assets/icons/about-us.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                        data-placement="top" title="logout"> -->
              </i> <label
                style="font-size: 24px; font-weight: 600; margin-bottom: 0.0rem;  color: white;      text-align: left;">About</label>
            </a>
          </li>
          <li class="nav-item" *ngIf="id === 4">
            <a class="nav-link list-group " routerLinkActive="active-link active" routerLink="/client/add-details"
              href="javascript:void(0)"><i>
                <!-- <img src="assets/icons/file.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                  data-placement="top" title="Add-Details"> -->
              </i>
              <label
                style="font-size: 24px; font-weight: 600;  color: white; text-align: left; ">Support</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link list-group" routerLinkActive="active-link active" routerLink="/login" href="javascript:void(0)">
              <i>
                <!-- <img src="assets/icons/logout.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                      data-placement="top" title="logout"> -->
              </i><label
                style="font-size: 24px; font-weight: 600; margin-bottom: 0.0rem;  color: white; text-align: left;">logout</label>
            </a>
          </li>
        </ul>

      </div>
    </nav>
  </div>
</div>