<app-header></app-header>
<app-aside></app-aside>
<main class="col-md-10 ml-sm-auto col-lg-10 styles">
  <div class="px-4">
    <h3 class="page-heading-wrap bg-white  pb-2 mb-1 border-bottom sticky-top" style="color: #4169e1; "> <b> About Us
    </b>
  </h3>
    <div class="ct-pageWrapper" id="ct-js-wrapper">
     
      <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding"
        id="section">
        <div class="container text-center">
          <h2>WHAT DRIVES US</h2>
          <h3>JAI SHREE GANESH</h3>
          <h4>Version <b>{{appVersion}}</b></h4>
          <div class="col-md-8 col-md-offset-2">
            <!-- <div class="red-border"></div>-->
          </div>
          <div class="row mt-1">
            <div class="col-md-3">

            </div>
            <div class="col-md-9" style="margin-left: -53px;">


              <!-- <div style="width:800px; height:306px; padding:20px; text-align:center; border: 10px solid #787878">
                <div style="width: 748px;height: 335px padding:20px; text-align:center; border:5px solid #787878"> -->
            <div>
             <div>
 
                  <span style="font-size:17px; font-weight:bold;margin-left: -212px;">Application Screen Shortcut Keys</span>
                  <br><br>

                  <div class="row">
                    <div class="col-md-3">
                      <label style=" font-weight:bold;font-size: 21px;">Ctrl+P</label>
                    </div>
                    <div class="col-md-2">
                      <label>:</label>
                    </div>
                    <div class="col-md-6">
                      <label style="font-size: 21px;">Print</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label style=" font-weight:bold;font-size: 21px;">Ctrl+D</label>
                    </div>
                    <div class="col-md-2">
                      <label>:</label>
                    </div>
                    <div class="col-md-6">
                      <label style="font-size: 21px;">Reset Application Screen</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label style=" font-weight:bold;font-size: 21px;">Ctrl+A</label>
                    </div>
                    <div class="col-md-2">
                      <label>:</label>
                    </div>
                    <div class="col-md-6">
                      <label style="font-size: 20px;">check Packet balance</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label style=" font-weight:bold; font-size: 21px;">Ctrl+C</label>
                    </div>
                    <div class="col-md-2">
                      <label>:</label>
                    </div>
                    <div class="col-md-6">
                      <label style="font-size: 20px;">Cancel the Recent From</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label style=" font-weight:bold; font-size: 21px;">Ctrl+R</label>
                    </div>
                    <div class="col-md-2">
                      <label>:</label>
                    </div>
                    <div class="col-md-6">
                      <label style="font-size: 20px;">Refresh JSG</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <label style=" font-weight:bold; font-size: 21px;">Ctrl+H</label>
                    </div>
                    <div class="col-md-2">
                      <label>:</label>
                    </div>
                    <div class="col-md-6">
                      <label style="font-size: 20px;">Set Focus on First Form</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label style=" font-weight:bold; font-size: 21px;">Ctrl+1</label>
                    </div>
                    <div class="col-md-2">
                      <label>:</label>
                    </div>
                    <div class="col-md-6">
                      <label style="font-size: 20px;">Set Focus on First Form CheckBox</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label style=" font-weight:bold; font-size: 21px;">Ctrl+N</label>
                    </div>
                    <div class="col-md-2">
                      <label>:</label>
                    </div>
                    <div class="col-md-6">
                      <label style="font-size: 20px;">Set Focus on First Number</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label style=" font-weight:bold; font-size: 21px;">Ctrl+B</label>
                    </div>
                    <div class="col-md-2">
                      <label>:</label>
                    </div>
                    <div class="col-md-6">
                      <label style="font-size: 20px;">Set Focus on First Back Number</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <label style=" font-weight:bold; font-size: 21px;">Ctrl+F</label>
                    </div>
                    <div class="col-md-2">
                      <label>:</label>
                    </div>
                    <div class="col-md-6">
                      <label style="font-size: 20px;">Set Focus on First Front Number</label>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
      <section class="customers-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
        <div class="container">
          <div class="row">
            <div class="col-md-3">

            </div>
            <div id="contactUsMain" class="section">
              <div class="content mt-5  mb-5">
                <h2 class="title" style="    position: absolute;top: 70%;left: 35%;">Contact Us</h2>
                <div class="row" style="background: bisque;width: 100%;margin-top: 85px;">
                  <!-- <div id="needhelp" class="col">
                    <div class="icon"></div>

                    <h2 class="subtitle">By Phone</h2>
                    <p class="desc" style="font-size: 17px;">
                      <small>(Monday to Friday, 9am to 6pm PST)</small>
                      <br />
                      India Toll-Free:<br />
                      9811029420
                      <br /><br />
                      International:<br />
                      9811029482
                    </p>

                  </div> -->
                  <div id="start-case" class="col">

                    <div class="icon newcase"></div>
                    <h2 class="subtitle">Start a new case</h2>
                    <p class="desc" style="font-size: 17px;">
                      Just send us your questions or concerns by starting
                      a new case and we will give you the help you need.

                    </p>
                    <p class="desc" style="font-size: 17px;">
                      Email: ganesh.help@gmail.com

                    </p>

                  </div>
                  <div id="livechat" class="col">
                    <div class="icon"></div>
                    <h2 class="subtitle">Live Chat</h2>
                    <p class="desc" style="font-size: 17px;">
                      Chat with a member of our in-house team.

                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix">
            </div>
          </div>
        </div>
      </section>
    </div>


  </div>
</main>