
<main class="col-md-12 ml-sm-auto col-lg-12 styles" style="background: lightgrey; overflow: hidden;">
  <div class="col-md-5">
    <div id="printSectionId" style="width: 400px;margin-left: -18px;">
        <ng-container >
          <div class="row">
            <img style="height: 70px;
            width: 176px;
            margin-top: 25px;
            margin-left: 61px;" src="./assets/images/Untitled.png">
            <!-- <div style="  float: left; margin-top: 45px; font-size: 26px;margin-left: 11px; font-weight: 600;"><b
                style="font-size: 29px;">Govt of India</b><br>
              <b style="margin-left:45px; font-size: 26px;">Approved</b>
            </div> -->
          </div>
          <div class="row">
            <div class="col-md-12">
              <b style="font-size: 22px;"> &nbsp; &nbsp; &nbsp; &nbsp;JAI SHREE GANESHA</b>
            </div>
          </div> 
      <div class="row">
        <div class="col-md-12">
          <b style="font-size: 34px;"> Dr. Date.{{this.Date}} </b>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <b style="font-size: 34px;"> Slot Time{{this.viewSlotsdrawTime}}} </b>
          </div>
        </div>
        <div class="row">
          <table class="table ">
            <colgroup>
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">

        
            </colgroup>
            <thead>
            <!-- <th style="text-align: center;">Booking_Date/Time</th> -->
            <th style="text-align: center;">Form_Id</th>
            <th style="text-align: center;">TotalPrice</th>
            <th style="text-align: center;">Form_Pass</th>

        
            </thead>
            <tbody class="bg">
            <tr  *ngFor= "let u of SlotsDetails">
            <!-- <td style="text-align: center;">{{u.createDate}}</td> -->
            <td style="text-align: center;">{{u.ticketId}}</td>
            <td style="text-align: center;">{{u.totalPrice}}</td>
            <td style="text-align: center;">{{u.winningPrice}}</td>

        
            </tr>
            
            </tbody>
            </table>
        </div>
    </ng-container>
  
    </div>
  </div>
  <!-- <button id="cmd" (click)="captureScreen()" >print</button> -->
  <!-- <button (click)="print()">print</button> -->
  <button (click)="Back()">back</button>  

</main>










<!-- <div class="body">
  <div class="row">
    <img style="height: 70px;
      margin-top: 25px;    margin-left: 138px;" src="assets/icons/logog.png">
    <div style="  float: left; margin-top: 45px; font-size: 26px;margin-left: 25px; font-weight: 600;"><b
        style="font-size: 29px;">Govt of India Approved</b><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <b style="font-size: 23px;margin-left: 165px;">Bhagyashree online software lotttery</b>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <b style="font-size: 34px;"> Dr. Date.{{this.Date}} </b>
    </div>
    <div class="col-md-6">
      <b style="font-size: 34px;">Slot-Time:- </b>
    </div>
  </div> -->
 <!-- <div class="row mt-4">


<div class="col-md-6">
  
</div>
<div class="col-md-2">
<button class="btn btn-danger" (click)="Back();">Back</button> 
</div>
</div> -->
      <!-- <div class="row mt-5">

            <div class="col-md-12 anyClass">
            <div slimScroll size="5px" height="calc(100vh - 320px)">
            <table class="table ">
            <colgroup>
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">

        
            </colgroup>
            <thead>
            <th style="text-align: center;">Booking_Date/Time</th>
            <th style="text-align: center;">Ticket_Id</th>
            <th style="text-align: center;">TotalPrice</th>
            <th style="text-align: center;">winningPrice</th>

        
            </thead>
            <tbody class="bg">
            <tr  *ngFor= "let u of SlotsDetails.bookingDetail">
            <td style="text-align: center;">{{u.createDate}}</td>
            <td style="text-align: center;">{{u.ticketId}}</td>
            <td style="text-align: center;">{{u.totalPrice}}</td>
            <td style="text-align: center;">{{u.winningPrice}}</td>

        
            </tr>
            
            </tbody>
            </table>
            </div>
            </div>
            
    </div> -->
 
  <!-- </div> -->