<main class="col-md-12 ml-sm-auto col-lg-12 styles" style="background: lightgrey; overflow: hidden;">
  <div class="col-md-5">
    <div id="printSectionId">

      <!-- <ng-container *ngFor="let element of ticketcount"> -->
      <ng-container *ngFor="let item of totaltickets">
        <div class="row">
          <img style="height: 70px;
          width: 176px;
          margin-top: 25px;
          margin-left: 61px;" src="./assets/images/Untitled.png">
          <!-- <div style="  float: left; margin-top: 45px; font-size: 26px;margin-left: 11px; font-weight: 600;"><b
              style="font-size: 29px;">Govt of India</b><br>
            <b style="margin-left:45px; font-size: 26px;">Approved</b>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-12">
            <b style="font-size: 22px;"> &nbsp; &nbsp; &nbsp; &nbsp;JAI SHREE GANESHA</b>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <b style="font-size: 20px;"> Dr. Date.{{item.bookingDate}} {{item.slot}}</b>
          </div>
        </div>
        <section class="section3 ">
          <table>
            <tr>
  <th class="style">No  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;    NO</th>
  <!-- <th class="style">NO</th> -->
  </tr>

            <!-- <div class="container-fluid"> -->

            <!-- <div class="row">
              <ng-container *ngFor="let qt of qtyDetails">
                <div class="col-3">
                  <tr>
                    <td class="style">{{qt.No}}</td><td class="style">{{qt.qty}}</td>;
                  </tr>
                </div>

              </ng-container>
            </div> -->

            <div class="row">
              <div class="col-12">
                <div class="row">
                  <ng-container *ngFor="let num of item.ticketNumbers | keyvalue">
                    <div class="col-5">
                      <tr>
                        <td class="style">{{num.key}}</td>
                        <td class="style" >({{num.value}})</td>
                      </tr>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </table>

          <b>Per Form Price Rs.{{singlePrice}}</b> <br>
          <b>Form Value:{{item.totalPrice}} </b> <br>
          <b>Total Form: {{item.totalTicket}} </b><br>
          <b>retailerId: {{item.retailerId}} </b><br>
          <b>createDate: {{item.createDate}} </b>
          <br>
          <div style="margin-left: 10px;">
            <ngx-barcode [bc-width]="3" [bc-height]="100" [bc-value]=item.ticketId [bc-display-value]="true">
            </ngx-barcode>
          </div>


        </section>
      </ng-container>

      <!-- </ng-container> -->
    </div>
  </div>
  <!-- <button id="cmd" (click)="captureScreen()" >print</button> -->
  <!-- <button (click)="print()">print</button> -->
  <button (click)="back()">back</button>  

</main>