* {box-sizing: border-box;}

body { 
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.header {
overflow: hidden;
background-color:#4169e1;
// background-color:#933430;
padding: 20px 10px;
height: 85px;
}

.header a {
float: left;
color: black;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px; 
line-height: 25px;
border-radius: 4px;
}

.header a.logo {
font-size: 25px;
font-weight: bold;
}

.header a:hover {
// background-color: #ddd;
color: black; 
}

.header a.active {
background-color: dodgerblue;
// color: white;
}

.header-right {
float: right;
}

@media screen and (max-width: 500px) {
.header a {
float: none;
display: block;
text-align: left;
}

.header-right {
float: none;
}
}
.navbar-default .dropdown-menu {
position: absolute;
right: 0 !important;
left: auto;
}

.navbar-default .dropdown-menu.notify-drop {
min-width: 330px;
background-color: #fff;
max-height: 370px;
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
border-bottom: 1px solid #e2e2e2;
padding: 5px 15px 10px 15px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content {
max-height: 330px;
overflow-y: scroll;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track {
background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar {
width: 8px;
background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb {
background-color: #ccc;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li {
border-bottom: 1px solid #e2e2e2;
padding: 10px 0px 5px 0px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
background-color: #fafafa;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
content: "";
clear: both;
display: block;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
background-color: #fcfcfc;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
border-bottom: none;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
float: left;
display: inline-block;
width: 45px;
height: 45px;
margin: 0px 0px 8px 0px;
}

.navbar-default .dropdown-menu.notify-drop .allRead {
margin-right: 7px;
}

.navbar-default .dropdown-menu.notify-drop .rIcon {
float: right;
color: #999;
}

.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
color: #333;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
font-size: 12px;
font-weight: normal;
white-space: normal;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li {
font-weight: bold;
font-size: 11px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
margin: 5px 0;
width: 70%;
border-color: #e2e2e2;
}

.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
padding-left: 0;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
font-size: 11px;
color: #666;
font-weight: normal;
margin: 3px 0;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
font-size: 10px;
font-weight: 600;
top: -6px;
margin: 8px 0px 0px 0px;
padding: 0px 3px;
border: 1px solid #e2e2e2;
position: relative;
background-image: linear-gradient(#fff, #f2f2f2);
display: inline-block;
border-radius: 2px;
color: #4169e1;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
background-image: linear-gradient(#fff, #fff);
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
border-top: 1px solid #e2e2e2;
bottom: 0;
position: relative;
padding: 8px 15px;
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
color: #777;
text-decoration: none;
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
color: #333;
}


.select{ 
background: #4169e1;
display: inline-block;
margin-top: 18px;
width: 21px;

}
.text{
color: cornsilk;
}

.bg-orange{
    background: #4169e1;
}