<main  class="col-md-9 ml-sm-auto col-lg-10 styles">
  <div class="px-4">
      <h3 class="page-heading-wrap bg-white  pb-2 mb-1 border-bottom sticky-top" style="color: #933430; z-index:0;  "> <b>Result Report</b></h3>


  <div id="dash" class="main-width">
    <!-- <div class="row">
      <div class="col-md-2">
        <a href="/client/booking"> <img src="assets/icons/left-arrow.png"> </a>
      </div>
      <div class="col-6" style="margin-left: 350px">
        <h2 class="label bold d-inline-block">Result View </h2>
      </div>
    </div> -->
  </div>

  <!-- <div class="row mt-3" style="    margin-left: 453px;">
    <div class="btn-group styles">
      <button type="button" class="btn btn-outline-danger" style="width: 150px">Yesterday
      </button>
      <button type="button" class="btn btn-outline-danger"  style="width: 150px">
        Today
      </button>
    </div>
  </div> -->


  <div class="panel panel-default " >
    <div class="scrollmenu" >
    <ng-container *ngFor="let slot of bookingslot">
   <button class="btn btn-primary" (click)="getResult()">{{slot.startTime}}</button>
   <!-- <button class="btn btn-secondary" >{{slot.startTime}}</button> -->
 </ng-container>
</div>
       <div class="row" style="  margin-left: 17px;margin-top: 29px;">
      <!-- <div class="new"  *ngFor="let u of resultList">
      <button class="btn m-1 btn-outline-primary" *ngIf="u.gherNo<10"><span class="font">0{{u.gherNo}}</span></button>
      <button class="btn m-1 btn-outline-primary" *ngIf="u.gherNo>10"><span class="font">{{u.gherNo}}</span></button>
      <button class="btn m-1 btn-outline-primary" *ngIf="u.luckyNumber<10"><span class="font">0{{u.luckyNumber}}</span></button>
        <button class="btn m-1 btn-outline-primary" *ngIf="u.luckyNumber>10"><span class="font">{{u.luckyNumber}}</span></button>


      </div> -->
      <ng-container *ngFor="let u of resultList">
        <button class="btn m-1 btn-outline-primary"> 
        <ng-container *ngIf="u.gherNo<10">0{{u.gherNo}}</ng-container>
          <ng-container *ngIf="u.gherNo >=10">{{u.gherNo}}</ng-container>
          <ng-container *ngIf="u.luckyNumber<10">0{{u.luckyNumber}} </ng-container>
          <ng-container *ngIf="u.luckyNumber >=10">{{u.luckyNumber}}</ng-container>
        </button>
        </ng-container>
    
    </div>
  </div>

</div>
</main>