<div class="container-fluid">

    <main class="col-md-9 ml-sm-auto col-lg-10 styles">
      <div class="px-4">
        <div class="row border-bottom">
          <div class="col-md-4">
    
            <h3 class="page-heading-wrap  pb-2 mb-1  sticky-top" style="color: #4169e1;  z-index:0; "> <b>Packet Details
            </b></h3>
            </div>
              <div class="col-md-5" style="margin-top: -10px;">
                <div class="btn-group">
                  <button type="button" *ngIf="navModel2.wallet==1" class="btn btn-outline-primary fstyle" (click)="walletHistory()"
                    (click)="navbar(2)" style="width: 150px; font-size: 17px;">Packet
                  </button>
                  <button type="button" *ngIf="navModel2.wallet==2" class="btn btn-primary fstyle" (click)="walletHistory()"
                    (click)="navbar(2)" style="width: 150px; font-size: 17px; ">Packet
                  </button>
                  <!-- <button type="button" *ngIf="navModel2.walletHistory==1  && id != 4" class="btn btn-outline-danger fstyle"
                    (click)="openDistributorWalletHistory()" (click)="navbar(1)" style="width: 180px; font-size: 17px;">
                    Recharge History
                  </button>
                  <button type="button" *ngIf="navModel2.walletHistory==2  && id != 4" class="btn btn-danger fstyle"
                    (click)="openDistributorWalletHistory()" (click)="navbar(1)" style="width: 180px; font-size: 17px;">
                    Recharge History
                  </button> -->
                  <button type="button" *ngIf="navModel2.walletHistory==1 && id == 4" class="btn btn-outline-primary fstyle"
                  (click)="openClientWalletHistory()" (click)="navbar(1)" style="width: 180px; font-size: 17px;">
                  Recharge History
                </button>
                <button type="button" *ngIf="navModel2.walletHistory==2  && id == 4" class="btn btn-primary fstyle"
                  (click)="openClientWalletHistory()" (click)="navbar(1)" style="width: 180px; font-size: 17px;">
                  Recharge History
                </button>
              
                </div>
            </div>
         
        </div> 
      
        

        <form>
          <div class="row my-3">
            <div class="col-md-12">
              <div class="row ">
                <div class="form-label-group  panel col-md-12">
                  <div class="row ">
                    <div class="col-md-6">
                      <a>
                         <!-- <img src="assets/icons/wallet .png" style="width:30px ;margin-bottom: 10px; height:30px"> -->
  <b
                          class="fstyle"> &nbsp;   {{Balance.amount | twoDecimalFormatNumber}}</b></a>
                      <a style="font-size: 21px;"> &nbsp;&nbsp;Is Your Packet Balance</a>
                    </div>
                    <div class="col-md-5" style="margin-left: 60px;">
                      <a>  <b
                          class="fstyle"> &nbsp;  {{this.Commissionbalance | twoDecimalFormatNumber}}</b></a>
                      <a style="font-size: 21px;"> &nbsp;&nbsp;Is Your Commission Balance</a>
                    </div>
                 
                  </div>
                </div>

              </div>
            </div>
          </div>
        </form>


        <div class="row ">
          <div class="col-md-1"></div>
          <div class="col-md-11">
            <div class="btn-group style border-bottom"
              style="height: 61px;  border: 1px;margin-top: -50px;margin-left: 113px;">
              <button type="button" *ngIf="navModel.ShowTransaction==1" (click)="navbar(5)"
                class="btn btn-outline-primary fstyle" (click)="allTransactionDone()" style="width: 180px; font-size: 17px;">
                All Transaction
              </button>
              <button type="button" *ngIf="navModel.ShowTransaction==2" (click)="navbar(5)" class="btn btn-primary fstyle"
                style="width: 180px; font-size: 17px;">
                All Transaction
              </button>

              <button type="button" *ngIf="navModel.Credit==1" (click)="navbar(1)" class="btn btn-outline-primary fstyle"
                (click)="showCredit()" style="width: 150px; font-size: 17px;">Credit
              </button>
              <button type="button" *ngIf="navModel.Credit==2" (click)="navbar(1)" class="btn btn-primary fstyle"
                style="width: 150px; font-size: 17px;">Credit
              </button>
              <button type="button" *ngIf="navModel.Debit==1" (click)="navbar(2)" class="btn btn-outline-primary fstyle"
                (click)="showDebit()" style="width: 150px; font-size: 17px;">Debits
              </button>
              <button type="button" *ngIf="navModel.Debit==2" (click)="navbar(2)" class="btn btn-primary fstyle"
                style="width: 150px; font-size: 17px;">Debits
              </button>
              <button type="button" *ngIf="navModel.BonusWallet==1" (click)="navbar(3)" class="btn btn-outline-primary  fstyle"
                (click)="walletBonus()" style="width: 151px; font-size: 17px;">Commission
              </button>
              <button type="button" *ngIf="navModel.BonusWallet==2" (click)="navbar(3)" class="btn btn-primary fstyle"
                style="width: 151px ; font-size: 17px;">Commission

              </button>
              <!-- <button type="button" *ngIf="navModel.BonusClaim==1" (click)="navbar(4)" class="btn btn-outline-danger fstyle"
                (click)="claimBonus()" style="width: 150px; font-size: 17px;">Bonus Claim

              </button>
              <button type="button" *ngIf="navModel.BonusClaim==2" (click)="navbar(4)" class="btn btn-danger fstyle"
                style="width: 150px; font-size: 17px;">Bonus Claim

              </button>

              <button type="button" *ngIf="navModel.ShowRequested==1 && id !=4" (click)="navbar(6)" class="btn btn-outline-danger fstyle"
                (click)="showRequest()" style="width: 150px; font-size: 17px;">
                Requested
              </button>
              <button type="button" *ngIf="navModel.ShowRequested==2 && id !=4" (click)="navbar(6)" class="btn btn-danger fstyle"
                style="width: 150px; font-size: 17px;">
                Requested
              </button>
              <button type="button" *ngIf="navModel.ShowRequested==1 && id ==4 " (click)="navbar(6)" class="btn btn-outline-danger fstyle"
              (click)="retailerRequestedList()" style="width: 150px; font-size: 17px;">
              Requested
            </button>
            <button type="button" *ngIf="navModel.ShowRequested==2 && id ==4 " (click)="navbar(6)" class="btn btn-danger fstyle"
              style="width: 150px; font-size: 17px;">
              Requested
            </button> -->
            </div>
          </div>

        </div>
        <div class="row mt-3">
          <div class="col-md-4">

          </div>
         
          <!-- <div class="col-md- 6" style=" left: 12%">
            <ng-container *ngIf="pre1==true">
              <button (click)="predateFunction()" class="btn btn-outline-danger">Back</button>
            </ng-container>
    
            <label
              style="font-size: 17px;font-weight: 600;">&nbsp;&nbsp;&nbsp;{{today | date:'MMM d, y'}}&nbsp;&nbsp;&nbsp;</label>
            <ng-container *ngIf="nxt1==true">
              <button (click)="nextdateFunction() " class="btn btn-outline-danger">Next</button>
            </ng-container>
          </div> -->
        </div>
        <div class="allTransactionForm">
          <div class="row">
           
            <div class="col-md-4">
              <input type="date" name="" placeholder="Enter Date" style="height: 36px;"[(ngModel)]="transactionCalenderDate" [ngModelOptions]="{standalone: true}">
              <input type="button" class="btn btn-primary" (click)="getTransactionDetails()"  value="Submit" style="margin-left: 10px;height: 36px;margin-top: -8px;">           
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-3">
                <label style="font-weight: 600;font-size: 18px;color: #4169e1;">Date:-</label>
                <b>{{this.allTransactionDate}}</b>
            </div>
            <div class="col-md-3">
              <label style="font-weight: 600;font-size: 18px;color: #4169e1;"> Sub Total:-</label>
              <b>INR ({{this.SubAmount | twoDecimalFormatNumber}})</b>
            </div>
          </div>
          
          <div class="row">
            <div class="col-12 anyClass">
              <div class="open-tabs" id="">
                <div class="container-fluid scrollable fstyle" slimScoll size="2px" height="calc(100vh - 320px)">
                  <div id="team-table" class="table mt-1">
                    <form>

                    </form>
                  </div>
                  <table class="table">
                    <colgroup>
                      <col width="15%">
                      <col width="15%">
                      <col width="15%">
                      <col width="20%">
                      <col width="15%">
                      <col width="20%">

                    </colgroup>
                    <thead>
                      <!-- <th class="fstyle">Booking ID</th> -->
                      <th class="fstyle">Date</th>
                      <th class="fstyle ">Form Value</th>                     
                      <th class="fstyle">Mode</th>
                      <th class="fstyle">Type</th>
                    </thead>
                    <tbody class="bg">
                      <tr *ngFor="let row of allTransactionList  | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize;">
                        <!-- <td (click)="bookingIDModal.show()"><b class="fstyle">{{row.bookingId}}</b></td> -->
                        <!-- <td  ><b class="fstyle">{{row.bookingId}}</b></td> -->
                        <td><b class="fstyle">{{row.transactionDate}}</b></td>
                        <td><b class="fstyle">{{row.transactionAmount}}</b></td>
                       
                        <td><b class="fstyle ">{{row.transactionMode}}</b></td>
                        <td  *ngIf="row.transactionType == 'TicketCommission'"><b class="fstyle" >charges</b></td>
                        <td  *ngIf="row.transactionType == 'ticket booking'"><b class="fstyle" >form submitted</b></td>
                      </tr>


                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center mr-5" *ngIf="allTransactionList.length > 0" style="margin-top: -20px;">
            <ngb-pagination [collectionSize]="allTransactionList.length" [(page)]="page" [maxSize]="6"
                            [rotate]="true"
                            [pageSize]="pageSize" class="d-flex justify-content-center"
                            [boundaryLinks]="true">
            </ngb-pagination>
          </div>
        </div>
        <div class="creditForm">
          <div class="row">
            
            <div class="col-md-4">
              <input type="date" name="" placeholder="Enter Date"style="height: 36px;"[(ngModel)]="transactionCreditDate" [ngModelOptions]="{standalone: true}">
              <input type="button" class="btn btn-primary" (click)="getCreditDetails()"  value="Submit" style="margin-left: 10px;height: 36px;margin-top: -8px;">           

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-3" >
              <label style="font-weight: 600;font-size: 18px;color: #4169e1;">Date:-</label>
              <b  >{{this.CreditDate}}</b>
            </div>
            <div class="col-md-3">
              <label style="font-weight: 600;font-size: 18px;color: #4169e1;"> Sub Total:-</label>
              <b>INR ({{this.CreditSubAmount | twoDecimalFormatNumber}})</b>
            </div>
          </div>
          <div class="row">
            <div class="col-12 anyClass">
              <div class="open-tabs" id="">
                <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
                  <div id="team-table" class="table mt-1">
                    <form>

                    </form>
                  </div>
                  <table class="table">
                    <colgroup>
                      <col width="20%">
                      <col width="20%">
                      <col width="20%">
                      <col width="20%">


                    </colgroup>
                    <thead>
                        <th class="fstyle">Date</th>
                      <th class="fstyle ">Form Value</th>                     
                      <th class="fstyle">Mode</th>
                      <th class="fstyle">Type</th>

                    </thead>
                    <tbody class="bg" *ngIf="this.creditBalance != null">
                      <tr *ngFor="let u of creditBalance | slice: (page3-1) * pageSize3:(page3-1) * pageSize3 + pageSize3;">
                        <!-- <td class="fstyle">{{u.bookingId}}</td> -->
                        <td class="fstyle">{{u.transactionDate}}</td>
                        <td class="fstyle"> {{u.transactionAmount}}</td>                        
                        <td class="fstyle">{{u.transactionMode}}</td>
                        <td  *ngIf="u.transactionType == 'TicketCommission'"><b class="fstyle" >charges</b></td>
                        <td  *ngIf="u.transactionType == 'ticket booking'"><b class="fstyle" >form submitted</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center mr-5"  style="margin-top: -20px;">
            <ngb-pagination [collectionSize]="creditBalance.length" [(page)]="page3" [maxSize]="6"
                            [rotate]="true"
                            [pageSize]="pageSize3" class="d-flex justify-content-center"
                            [boundaryLinks]="true">
            </ngb-pagination>
          </div>
        </div>
        <div class="debitForm">
          <div class="row">
            
            <div class="col-md-4">
              <input type="date" name="" placeholder="Enter Date" style="height: 36px;" [(ngModel)]="transactionDebitDate" [ngModelOptions]="{standalone: true}">
              <input type="button" class="btn btn-primary" (click)="getDebitDetails()"  value="Submit" style="margin-left: 10px;height: 36px;margin-top: -8px;">           

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-3">
              <label style="font-weight: 600;font-size: 18px;color: #4169e1;">Date:-</label>
              <b>{{this.DebitDate}}</b>
            </div>
            <div class="col-md-3">
              <label style="font-weight: 600;font-size: 18px;color: #4169e1;"> Sub Total:-</label>
              <b>INR ({{this.DebitSubAmount | twoDecimalFormatNumber}})</b>
            </div>
          </div>
          <div class="row">
            <div class="col-12 anyClass">
              <div class="open-tabs" id="">
                <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
                  <div id="team-table" class="table mt-1">
                    <form>

                    </form>
                  </div>
                  <table class="table">
                    <colgroup>
                      <col width="20%">
                      <col width="20%">
                      <col width="20%">
                      <col width="20%">
                    </colgroup>
                    <thead>
                        <th class="fstyle">Date</th>
                        <th class="fstyle ">Form Value</th>                     
                        <th class="fstyle">Mode</th>
                        <th class="fstyle">Type</th>
                    </thead>
                    <tbody class="bg" >
                      <tr *ngFor="let u of debitBalance  | slice: (page2-1) * pageSize2:(page2-1) * pageSize2 + pageSize2;">
                        <!-- <td class="fstyle">{{u.bookingId}}</td> -->
                        <td class="fstyle ">{{u.transactionDate}}</td>
                        <td class="fstyle">{{u.transactionAmount}}</td>
                       
                        <td class="fstyle">{{u.transactionMode}}</td>
                        <td  *ngIf="u.transactionType == 'TicketCommission'"><b class="fstyle" >charges</b></td>
                        <td  *ngIf="u.transactionType == 'ticket booking'"><b class="fstyle" >form submitted</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center mr-5"  style="margin-top: -20px;">
            <ngb-pagination [collectionSize]="debitBalance.length" [(page)]="page2" [maxSize]="6"
                            [rotate]="true"
                            [pageSize]="pageSize2" class="d-flex justify-content-center"
                            [boundaryLinks]="true">
            </ngb-pagination>
          </div>
        </div>
        <div class="bonusWalletForm">
          <div class="row">
            
            <div class="col-md-4">
              <input type="date" name="" placeholder="Enter Date" style="height: 36px;"[(ngModel)]="transactionBonusWalletDate" [ngModelOptions]="{standalone: true}">
              <input type="button" class="btn btn-primary" (click)="getBonusWalletDetails()"  value="Submit" style="margin-left: 10px;height: 36px;margin-top: -8px;">           

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-3">
              <label style="font-weight: 600;font-size: 18px;color: #4169e1;">Date:-</label>
              <b>{{this.WalletBonusDate}}</b>
            </div>
            <div class="col-md-3">
              <label style="font-weight: 600;font-size: 18px;color: #4169e1;"> Sub Total:-</label>
              <b>INR ({{this.WalletBonusSubAmount | twoDecimalFormatNumber}})</b>
            </div>
          </div>
          <div class="row">
            <div class="col-12 anyClass">
              <div class="open-tabs" id="">
                <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
                  <div id="team-table" class="table mt-1">
                    <form>

                    </form>
                  </div>
                  <table class="table">
                    <colgroup>
                      <col width="20%">
                      <col width="20%">
                      <col width="20%">
                      <col width="20%">
                    </colgroup>
                    <thead>
                      <th class="fstyle">Date</th>
                      <th class="fstyle">Form Value</th>
                      <th class="fstyle">Mode</th>
                      <th class="fstyle">Type</th>

                    </thead>
                    <tbody class="bg" *ngIf="this.wallletBonusList != null">
                      <tr *ngFor="let u of walletBonusBalance | slice: (page4-1) * pageSize4:(page4-1) * pageSize4 + pageSize4;">
                        <td  class="fstyle">{{u.transactionDate}}  </td>
                        <td class="fstyle">{{u.transactionAmount}}</td>
                        <td class="fstyle">{{u.transactionMode}}</td>
                        <td  *ngIf="u.transactionType == 'TicketCommission'"><b class="fstyle" >charges</b></td>
                        <td  *ngIf="u.transactionType == 'ticket booking'"><b class="fstyle" >form submitted</b></td>
                      </tr>


                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center mr-5"  style="margin-top: -20px;">
            <ngb-pagination [collectionSize]="walletBonusBalance.length" [(page)]="page4" [maxSize]="6"
                            [rotate]="true"
                            [pageSize]="pageSize4" class="d-flex justify-content-center"
                            [boundaryLinks]="true">
            </ngb-pagination>
          </div>
        </div>
        <div class="bonusClaimForm ">
          <div class="row">
           
            <div class="col-md-4">
              <input type="date" name="" placeholder="Enter Date" style="height: 32px;"[(ngModel)]="transactionBonusClaimDate" [ngModelOptions]="{standalone: true}">
              <input type="button" class="btn btn-primary" (click)="getBonusClaimDetails()"  value="Submit" style="margin-left: 10px;height: 36px;margin-top: -8px;">           

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-3">
              <label style="font-weight: 600;font-size: 18px;color: #4169e1;">Date:-</label>
              <b>{{this.ClaimBonusDate}}</b>
            </div>
            <div class="col-md-3">
              <label style="font-weight: 600;font-size: 18px;color: #4169e1;"> Sub Total:-</label>
              <b>INR ({{this.ClaimBonusSubAmount}})</b>
            </div>
          </div>
          <div class="row">
            <div class="col-12 anyClass">
              <div class="open-tabs" id="">
                <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
                  <div id="team-table" class="table mt-1">
                    <form>

                    </form>
                  </div>
                  <table class="table">
                    <colgroup>
                      <col width="20%">
                      <col width="20%">
                      <col width="20%">
                      <col width="20%">
                    </colgroup>
                    <thead>
                        <th class="fstyle">Date</th>
                        <th class="fstyle">Form Value</th>
                        <th class="fstyle">Mode</th>
                        <th class="fstyle">Type</th>
                    </thead>
                    <tbody class="bg" *ngIf="this.claimBonusBalance != null">
                      <tr *ngFor="let u of claimBonusBalance | slice: (page5-1) * pageSize5:(page5-1) * pageSize5 + pageSize5;">
                          <td class="fstyle">{{u.transactionDate}}</td>
                        <td class="fstyle">{{u.transactionAmount}}</td>
                        <td class="fstyle">{{u.transactioMode}}</td>
                        <td  *ngIf="u.transactionType == 'TicketCommission'"><b class="fstyle" >charges</b></td>
                        <td  *ngIf="u.transactionType == 'ticket booking'"><b class="fstyle" >form submitted</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center mr-5"  style="margin-top: -20px;">
            <ngb-pagination [collectionSize]="claimBonusBalance.length" [(page)]="page5" [maxSize]="6"
                            [rotate]="true"
                            [pageSize]="pageSize5" class="d-flex justify-content-center"
                            [boundaryLinks]="true">
            </ngb-pagination>
          </div>
        </div>
        <div class="showRequestedForm ">
          <!-- <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-6">
              <input type="date" name="" placeholder="Enter Date" style="height: 32px;"[(ngModel)]="transactionDate" [ngModelOptions]="{standalone: true}">
              <input type="button" class="btn btn-danger" (click)="getRequestedDetails()"  value="Submit" style="margin-left: 10px;height: 36px;margin-top: -8px;">           

            </div>
          </div> -->
          <div class="row">
            <div class="col-12 anyClass">
              <div class="open-tabs" id="">
                <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
                  <div id="team-table" class="table mt-1">
                    <form>

                    </form>
                  </div>
                  <table class="table">
                    <colgroup>
                      <col width="20%">
                      <col width="20%">
                      <col width="20%">
                      <col width="15%">
                      <col width="15%">
                      <col width="10%">


                    </colgroup>
                    <thead>
                      <th  class="fstyle">Name</th>
                      <th class="fstyle">Form Value</th>
                      <th class="fstyle">Bank</th>
                      <th class="fstyle">Date</th>
                      <th class="fstyle">Status</th>
                      <th class="fstyle">Approv</th>
                    </thead>
                    <tbody class="bg">
                      <tr *ngFor="let u of balance ">                        
                        <td  class="fstyle">{{u.requestBy.firstName}}{{u.requestBy.lastName}}</td>
                        <td class="fstyle">{{u.amount}}</td>
                        <td class="fstyle">{{u.bankName}}</td>
                        <td class="fstyle">{{u.createDate}}</td>  
                        <td class="fstyle">{{u.status.name}}</td>
                        <td><button class="btn btn-primary fstyle" (click)="approv(u.id,u.amount)">Approv</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="showClientRequestedForm hide">
          <div class="row">
           
            <div class="col-md-4">
              <input type="date" name="" placeholder="Enter Date" style="height: 32px;"[(ngModel)]="transactionRequestedDate" [ngModelOptions]="{standalone: true}">
              <input type="button" class="btn btn-primary" (click)="getRequestedDetails()"  value="Submit" style="margin-left: 10px;height: 36px;margin-top: -8px;">           

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-3">
              <label style="font-weight: 600;font-size: 18px;color: #4169e1;">Date:-</label>
              <b>{{this.RequestedDate}}</b>
            </div>
            <div class="col-md-3">
              <label style="font-weight: 600;font-size: 18px;color: #4169e1;"> Sub Total:-</label>
              <b>INR ({{this.RequestedSubAmount}})</b>
            </div>
          </div>
          <div class="row">
            <div class="col-12 anyClass">
              <div class="open-tabs" id="">
                <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
                  <div id="team-table" class="table mt-1">
                    <form>

                    </form>
                  </div>
                  <table class="table">
                    <colgroup>
                      <col width="20%">
                      <col width="20%">
                      <col width="20%">
                      <col width="15%">
                      <col width="15%">
                      <col width="10%">


                    </colgroup>
                    <thead>
                      <th  class="fstyle">Name</th>
                      <th class="fstyle">Form Value</th>
                      <th class="fstyle">Bank</th>
                      <th class="fstyle">Date</th>
                      <th class="fstyle">Status</th>
                    </thead>
                    <tbody class="bg">
                      <tr *ngFor="let u of requestbalance ">                        
                        <td  class="fstyle">{{u.requestBy.firstName}}{{u.requestBy.lastName}}</td>
                        <td class="fstyle">{{u.amount}}</td>
                        <td class="fstyle">{{u.bankName}}</td>
                        <td class="fstyle">{{u.createDate}}</td>  
                        <td class="fstyle">{{u.status.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container" style="width: 50%">
          <app-wallet-modal #walletModal>


            <div class='app-wallet-modal-body'>
              <div class="modal-header">
                <h5 class="modal-title fstyle" style="color:#4169e1 ; text-align: center;font-weight: 600; font-size: 26px;">
                  Add Money Packet</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="walletModal.hide()"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-7">
                    <input type="text" name="amount" id="amount" class="form-control" 
                      placeholder="Enter Form Value to be Added in Wallet" [(ngModel)]="amount">
                  </div>

                  <form class="form-group col-12">
                    <h3 style="color:#282a3c; margin-top: 20px" class="fstyle">Select Mode Of Payment</h3>
                    <label class="fstyle">Cash</label>

                    <!-- <div class="row comment" *ngIf="options">
                      <div class="col-md-5">

                        <input type="text" name="amount" id="name" class="form-control fstyle" placeholder="Name of Payee">
                      </div>
                      <div class="col-md-5">
                        <input type="number" name="amount" id="phoneNo" class="form-control fstyle" placeholder="Phone No.">
                      </div>
                    </div> -->
                    <!-- <div class="row comment" *ngIf="options">
                      <div class="col-md-10">
                        <input type="text" name="amount" id="comment" class="form-control fstyle" placeholder="Any Comment ?"
                          style=" height:85px">
                      </div>
                    </div> -->
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="addMoney()" [(disabled)]="isDisabled">Save</button>
                <button type="button" class="btn btn-secondary" (click)="walletModal.hide()">Close</button>
              </div>
            </div>
          </app-wallet-modal>


          <app-wallet-modal #otpModal>


            <div class='app-wallet-modal-body'>
              <div class="modal-header">
                <h5 class="modal-title" style="color:#4169e1 ; text-align: center;font-weight: 600; font-size: 26px;">
                  Verify OTP</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="otpModal.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div id="wrapper">
                  <div id="dialog">
                    <div id="form">
                      <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                      <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input type="text"
                        maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input type="text" maxLength="1"
                        size="1" min="0" max="9" pattern="[0-9]{1}" />
                      <button class="btn btn-primary btn-embossed">Verify</button>
                    </div>

                    <div class="fstyle">
                      Didn't receive the code?<br />
                      <a href="javascript.void(0)" class="fstyle">Send code again</a><br />
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </app-wallet-modal>
          <app-wallet-modal #bookingIDModal>
            <div class='app-wallet-modal-body'>
              <div class="modal-header">
                <h5 class="modal-title fstyle" style="color:#4169e1 ; text-align: center;font-weight: 600; font-size: 26px;">
                  Form Details</h5>
                <button type="button" class="close fstyle" data-dismiss="modal" (click)="bookingIDModal.hide()"
                  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div id="wrapper">
                  <div id="dialog">


                  </div>
                </div>
              </div>

            </div>
          </app-wallet-modal>

            <!--=========================== Modal 5 End ==========================================-->
    <app-history-modal #modal5>
      <div class='app-modal-body'>
          <div id="printSectionId" class="container">
            <div class="header mt-2" style="background-color: #4169e1;  ">
              <div class="row">
                <div class="col-md-4 float-left"> <img  src="assets/icons/newLogo.jpg"></div>
                <div class="col-md-8 float-center mt-2">
                  <p class="fstyle" style=" color:white">Bhagya Shree</p>
                  <p class="fstyle"  style=" color:white">B.Date: {{ bookingdate}}</p>
                  
                  <p class="fstyle"  style=" color:white"> TIme:{{slottime}}</p>
                </div>
              </div>
  
            </div>
            <div class="modal-body ">
              <section class="">
              <table >
                  <th style="text-align:center; " width="5%" scope="col" class="fstyle">Number</th>
                <th style="text-align:right" width="5%" scope="col" class="fstyle">Qty</th>
                <th style="text-align:center" width="5%" scope="col" class="fstyle">Amt</th>
                <ng-container >

      
                <ng-container *ngFor="let item of previewModal; ">
                    
                    <tr class="table-active" style="text-align:center" class="fstyle">
                      <td><ng-container *ngIf="item.gherno<10">0{{item.gherno}}</ng-container>
                        <ng-container *ngIf="item.gherno >=10">{{item.gherno}}</ng-container></td>
                        <td style="text-align: right" width="5%">{{item.ticketNo}}</td>
                        <td style="text-align:center" width="5%">{{item.totalticketAmt}}</td>
                    </tr>
                    <tr class="table-light">
                        <td colspan="10">
                            <b style="font-size: 19px; font-weight: 700;" class="fstyle" >
                                <ng-container *ngFor="let numbers of item.numbersSelected">
                                  <ng-container *ngIf="item.gherno<10">0{{item.gherno}}</ng-container>
                                  <ng-container *ngIf="item.gherno >=10">{{item.gherno}}</ng-container>
                                  <ng-container *ngIf="numbers<10">0{{numbers}}, </ng-container>
                                  <ng-container *ngIf="numbers >=10">{{numbers}}, </ng-container>
                                </ng-container>
                                </b>
                        </td>
                      </tr>
                </ng-container>
              </ng-container>
               
                <tr class="table-success">
                  <td style="text-align:center" width="5%" class="fstyle"> Total Amt</td>
                  <td style="text-align:center" colspan="8" width="5%" class="fstyle">{{totalprice}}</td>
                </tr>
              </table>
            </section>
            </div>
          </div>
          <div class="modal-footer"class="doNotPrint">
           
            <button type="button" class="btn btn-secondary" (click)="modal5.hide()" style="margin-left: 196px;background-color: #933430; margin-bottom: 10px; ">Close</button>
          </div>
        </div>
  </app-history-modal>
        </div>
      </div>
    </main>
  
</div>