.panel{
  // background-color: #4b88a6;
  width: 150px;
}
.style{
  height: 83px;
  padding-top: 20px;
  // caption-side: ;
}
.styles{
  top: 75px;
  position: absolute;
  left:140px;
}
.modal-style{
  display:table;
  height: 100%;
  width: 53%;
  margin-left: 231px;
  pointer-events:none;

}
.anyClass{
  overflow: hidden;
  overflow-x: hidden;
  height: 400px;
  width: auto;
}
.comment{
  margin-top: 20px;
}
.active-pink-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink input[type=text] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
#wrapper {
  font-family: Lato;
  font-size: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  color: #333;

  #dialog {
    
    overflow: hidden;
    position: relative;
    max-width: 613px;

    h3 {
      margin: 0 0 10px;
      padding: 0;
      line-height: 1.25;
    }

    span {
      font-size: 90%;
    }

    #form {
      max-width: 240px;
      margin: 25px auto 0;

      input {
        margin: 0 5px;
        text-align: center;
        line-height: 80px;
        font-size: 50px;
        border: solid 1px #ccc;
        box-shadow: 0 0 5px #ccc inset;
        outline: none;
        width: 20%;
        transition: all .2s ease-in-out;
        border-radius: 3px;

        &:focus {
          border-color: purple;
          box-shadow: 0 0 5px purple inset;
        }

        &::selection {
          background: transparent;
        }
      }

      button {
        margin:  30px 0 50px;
        width: 100%;
        padding: 6px;
        background-color: #B85FC6;
        border: none;
        text-transform: uppercase;
      }
    }

    button {
      &.close {
        border: solid 2px;
        border-radius: 30px;
        line-height: 19px;
        font-size: 120%;
        width: 22px;
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }

    div {
      position: relative;
      z-index: 1;
    }

    img {
      position: absolute;
      bottom: -70px;
      right: -63px;
    }
  }
}
.hide{
  display: none;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color :gray;
}

.fstyle {
  font-size: 16px;
  font-weight: 600;
}



