
    

  <!-----------------------------------------------New Design------------------------------------------------------>

  <main  class="col-md-9 ml-sm-auto col-lg-10 styles">
    <div class="row border-bottom">
      <div class="col-md-5">
        <h3 class="page-heading-wrap bg-white  pb-2 mb-1  sticky-top " style="color: #4169e1;"><b>Setting</b></h3>

      </div>
      <div class="col-md-4">
        <div class="btn-group " >
       
          <button type="button" *ngIf="navModel.setting==2 &&  id != 1" class="btn btn-primary fstyle" (click)="navbar(1)" style="width: 250px; height: 36px;margin-left: -19px;">
            Change-Password
          </button>
        </div>
      </div>
    </div>

        <div class="px-4">
      <div class="row mt-5" >
        <div class="col-md-4 "></div>
        <div class="col-md-4">
          <div class="btn-group style justify-content-center" >
            <button type="button" *ngIf="navModel.claim==1 &&  id == 1" class="btn btn-outline-primary fstyle" (click)="navbar(2)"
              (click)="openClaim()" style="width: 150px; height: 36px;">Bonus
            </button>
            <button type="button" *ngIf="navModel.claim==2 &&  id == 1" class="btn btn-primary fstyle" (click)="navbar(2)"
              style="width: 150px; height:36px;">Bonus
            </button>
            <button type="button" *ngIf="navModel.setting==1 &&  id == 1" class="btn btn-outline-primary fstyle" (click)="navbar(1)"
              (click)="openPassword()" style="width: 250px; height: 36px;">
              Change-Password
            </button>
            <button type="button" *ngIf="navModel.setting==2 &&  id == 1" class="btn btn-primary fstyle" (click)="navbar(1)" style="width: 250px; height: 36px;">
              Change-Password
            </button>
          </div>
        </div>
     
      </div>
      <div class="row">
          <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="password-Form">
                <section id="login" class="d-flex justify-content-center" style="width: 400px;">
                  <div class="panel-login" style="width:400px;height: 469px;">
                    <div class="login-form" style="background-color: blanchedalmond;">
                      <h4 class="my-4 mb-4 text-gray page-heading fstyle" style="margin-left: 32%; padding-top: 20px; ">Change Password</h4>
                      <form>
                       
                        
                        <div class="form-label-group col-md-12">
                          <input type="password" name="emp-shopName" id="emp-shopName" class="form-control " placeholder="Old -Password"
                          [(ngModel)]="passwordModel.securityStamp">
                          <label for="emp-firstName" class="fstyle" style="align-content: center;">Old Password*</label>
            
                        </div>
                        <div class="form-label-group col-md-12">
                          <input type="password" name="emp-shopName" id="emp-shopName" class="form-control" placeholder="Old -Password"
                          [(ngModel)]="passwordModel.passwordHash">
                          <label for="emp-lastName" class="fstyle" style="align-content: center;">New Password*</label>
            
                        </div>
                        <div class="form-label-group col-md-12">
                          <input type="password" name="emp-phoneNumber" id="emp-city" class="form-control"
                            placeholder="Re-Type Password" [(ngModel)]="passwordModel.confirm">
                          <label for="emp-id" class="fstyle" style="align-content: center;">ReType Password*</label>
            
                        </div>
                        <div class="text-center" style="padding-top: 30px;padding-bottom: 30px;">
                          <button class="btn btn-pill px-4 btn-primary fstyle" (click)=changePwd()>Change Password</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </section>
              </div>
        </div>
      </div>
      
      <div class="newScreen-Form hide">
        <div class="row" >
          <div class="col-md-4"></div>
          <div class="col-md-4 mt-2">
              <div class="btn-group style justify-content-center">
                  <button type="button" *ngIf="newModel.claimBouns==1" class="btn btn-outline-primary" (click)="newbar(2)"
                    (click)="claimBonus()" style="width: 200px;height: 36px;">Scheme </button>
                  <button type="button" *ngIf="newModel.claimBouns==2" class="btn btn-primary" (click)="newbar(2)"
                    style="width: 200px;height: 36px;">Scheme
                  </button>
                  <button type="button" *ngIf="newModel.walletBonus==1" class="btn btn-outline-primary" (click)="newbar(1)"
                    (click)="walletBonus()" style="width: 200px;height: 36px;">
                    Packet
                  </button>
                  <button type="button" *ngIf="newModel.walletBonus==2" class="btn btn-primary" (click)="newbar(1)"
                    style="width: 200px;height: 36px;">
                    Packet
                  </button>
          
                </div>
          </div>
          
        </div>
    
      </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <div class="claim-Form hide mt-2">
              <div class="claimBonus-Form ">
                <section id="login" class="d-flex justify-content-center" style="margin-top: -24px;width: 400px;">
                  <div class="panel-login" style="width: 400px;height: 469px;">
                    <div class="login-form" style="background-color: blanchedalmond;">
          
                      <h4 class="my-4 mb-4 text-gray page-heading" style="margin-left: 28%; padding-top: 20px;">Scheme Bonus
                      </h4>
                      <form>
                        <table class="table mt-2">
                          <colgroup>
                            <col width="50%">
                            <col width="50%">
                          </colgroup>
                          <thead>
                            <th class="table-warning">Role</th>
                            <th class="table-warning">% of Bonus</th>
                            <th class="table-warning"> Update</th>
                          </thead>
                          <tbody>
                             <!-- <ng-container *ngFor="let amount of commission"> -->
                             <tr *ngFor="let u of commissionClaimList">
          
                              <td class="table-primary">{{u.role.name}}</td>
                              <td class="table-info"><input type="text" name="first-name" class="form-control input-border "
                                  (change)=onChange($event) [value]="u.commisionAmount"></td>
                              <td class="table-primary"><button type="button" class="btn btn-primary"
                                  (click)="saveClaimBonus(u.role.id,u.id)">
                                  Save
                                </button></td>
          
                            </tr>
                             <!-- </ng-container>  -->
                          </tbody>
                        </table>
          
                      </form>
                    </div>
                  </div>
                </section>
              </div>
              <div class="walletBonus-Form  hide">
                <section id="login" class="d-flex justify-content-center" style="margin-top: -24px;width: 400px;">
                  <div class="panel-login" style="width: 400px;height: 469px;">
                    <div class="login-form" style="background-color: blanchedalmond;">
                      <h4 class="my-4 mb-4 text-gray page-heading" style="margin-left: 28%; padding-top: 20px;">Packet Bonus
                      </h4>
                      <form>
                        <table class="table mt-2">
                          <colgroup>
                            <col width="50%">
                            <col width="50%">
                          </colgroup>
                          <thead>
                            <th class="table-warning">Role</th>
                            <th class="table-warning">% of Bonus</th>
                            <th class="table-warning"> Update</th>
                          </thead>
                          <tbody >
                            <tr *ngFor="let u of commissionWalletList">
                              <td class="table-primary">{{u.role.name}}</td>
                              <td class="table-info"><input type="text" name="first-name" class="form-control input-border "
                                  (change)=onChange1($event) [value]="u.commisionAmount"></td>
                              <td class="table-danger"><button type="button" class="btn btn-primary"
                                  (click)="saveWalletBonus(u.role.id,u.id)">
                                  Save
                                </button></td>
                            </tr>
                          </tbody>
                        </table>
          
                      </form>
                    </div>
                  </div>
                </section>
              </div>
            </div>
      </div>
    </div>
   
  
    </div>
  </main>
  