.position{
  margin-left: 30%;
  margin-top: 43px;
}
// .style{
//   margin-top: 106px;
//   margin-left: 31%;
// }
.hide{
  display: none;
}
.new{
  width: 418px;
  margin-left: -20px;
}
.ready{
  margin-top: -17px;
  margin-left: 9px;

}

.styles{
  top: 75px;
  position: absolute;
  left: 140px;
}


.fstyle{
font-size: 17px;
font-weight: 600;

}