<main class="col-md-10 ml-sm-auto col-lg-10 styles">
  <div class="px-4">
    <h3 class="page-heading-wrap bg-white  pb-2 mb-1 border-bottom sticky-top" style="color: #4169e1; "> <b> Any Support </b>
    </h3>

  
    <div class="row">
      <div class="col-md-6">
        <section class="login-form d-flex align-items-center ">
          <div class="bg-white p-2 form-wrap shadow-lg">
            <h4 class="page-heading-wrap bg-white border-bottom pb-2 mb-1" style="color: #4169e1; margin-left: 20px;"> <b> Please Select Your Option </b>
            </h4>
            <form [formGroup]="supportForm" style="margin-left: 25px        ;">
              <div class="row mt-2">
                <p>
                  <input type="radio" id="test1" name="radio-group" (click)="onClick($event)" value="Issue In Booking Ticket">
                  <label class="style" for="test1">Issue In Application Form</label>
                </p>
              </div>
              <div class="row">
                <p>
                  <input type="radio" id="test2" name="radio-group" (click)="onClick($event)" value="Print Option is not working">
                  <label class="style" for="test2">Print Option is not working</label>
                </p>
              </div>
              <div class="row">
                <p>
                  <input type="radio" id="test3" name="radio-group" (click)="onClick($event)" value="Result Screen Showing wrong Results">
                  <label class="style" for="test3">Application  Form Pass Screen Showing Wrong Pass
                  </label>
                </p>
              </div>
              <div class="row">
                <p>
                  <input type="radio" id="test4" name="radio-group" (click)="onClick($event)" value="Wallet Balance Is displaying Incorrect Amount">
                  <label class="style" for="test4">Packet Balance Is displaying Incorrect Amount</label>
                </p>
              </div>
              <div class="row">
                <p>
                  <input type="radio" id="test5" name="radio-group" (click)="onClick($event)" value="Profile Not updating">
                  <label class="style" for="test5">Profile Not updating</label>
                </p>
              </div>
              <div class="row">
                <p>
                  <input type="radio" id="test6" name="radio-group" (click)="onClick($event)" value="Change Email/Phone Number">
                  <label class="style" for="test6">Change Email/Phone Number</label>
                </p>
              </div>
              
              <div class="row">
                  <p>
                    <input type="radio" id="test7" name="radio-group" (click)="onClick($event)" value="Problem not Mentioned">
                    <label class="style" for="test7">Problem not Mentioned</label>
                  </p>
                </div>
              <div class="row">
                <textarea placeholder="Any Comment Then Please Mention Here......!" rows="20" name="comment[text]" id="comment_text"
                  cols="40" class="ui-autocomplete-input" formControlName="text" autocomplete="off" role="textbox" aria-autocomplete="list"
                  aria-haspopup="true"></textarea>
        
              </div>
              <div class="row" style="margin-top:20px;margin-left: 190px;">
                <button type="button" class="btn btn-success"style="width:100px " (click)="getSupport()">save</button>
        
              </div>
        
            </form>
            </div>
        </section>  
          </div>
          
  
      
      <!-- <div class="col-md-6">
        <section class="login-form d-flex align-items-center ">
          <div class="bg-white p-2 form-wrap shadow-lg" >
          <body>
            <h4 class="page-heading-wrap bg-white border-bottom pb-2 mb-1" 
            style="color: #933430; margin-left: 20px;"> <b> Chat Screen </b>
            </h4>
              <div class="container">
                <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
                <p>Hello. How are you today?</p>
                <span class="time-right">11:00</span>
              </div>
              
              <div class="container darker">
                <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
                <p>Hey! I'm fine. Thanks for asking!</p>
                <span class="time-left">11:01</span>
              </div>
              
              <div class="container">
                <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
                <p>Sweet! So, what do you wanna do today?</p>
                <span class="time-right">11:02</span>
              </div>
              
              <div class="container darker">
                <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
                <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
                <span class="time-left">11:05</span>
              </div>    
</body>
            </div> 
          </section> 
            </div> -->
            
  
      
    </div>
    



 







  </div>
</main>