<main class="col-md-10 ml-sm-auto col-lg-10 styles">

  <div class="px-4">
      <div class="row  border-bottom">
          <div class="col-md-3">
              <h3 class="  pb-2 mb-1 sticky-top" style="color: #4169e1;margin-top: -10px; z-index:0;  ">
                  <b>Daily-Report</b></h3>
          </div>
          <div class="col-md-5" style="margin-top: -10px;">
            <div class="btn-group">
              <button type="button" *ngIf="navModel.selfReport==1" class="btn btn-outline-primary fstyle" (click)="selfReport()"
                (click)="navbar(2)" style="width: 150px; font-size: 17px;">Self Report
              </button>
              <button type="button" *ngIf="navModel.selfReport==2" class="btn btn-primary fstyle"  (click)="selfReport()"
                (click)="navbar(2)" style="width: 150px; font-size: 17px; ">Self Report
              </button>
              <button type="button" *ngIf="navModel.claimvsbooking==1" class="btn btn-outline-primary fstyle"
                (click)="openCliamVsBooking()" (click)="navbar(1)" style="width: 180px; font-size: 17px;">
                Scheme vs App.Form
              </button>
              <button type="button" *ngIf="navModel.claimvsbooking==2" class="btn btn-primary fstyle"
                (click)="openCliamVsBooking()" (click)="navbar(1)" style="width: 180px; font-size: 17px;">
                Scheme vs App.Form
              </button>
             
          
            </div>
        </div>
        <div class="col-md-4"  *ngIf="status == 1">
          <b>ToDate:</b> {{this.PlayerTodayDate}} &nbsp;&nbsp;
          
        </div>
        <!-- <div class="col-md-4"  *ngIf="status == 2">
          <b>ToDate:</b> {{this.PlayerTodayDate}} &nbsp;&nbsp;
          <b>FromDate:</b> {{this.PlayerFromDate}}
        </div> -->
      </div>
    
      <div class="dailyReportForm">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <div class="radio">
                <input id="radio-1" name="radio" type="radio" checked (click)="single()">
                <label for="radio-1" class="radio-label"><b style="color: #4169e1;">Single</b></label>
              </div>
            </div>
    
            <!-- <div class="col-md-2">
              <div class="radio">
                <input id="radio-2" name="radio" type="radio" (click)="duration()">
                <label for="radio-2" class="radio-label"><b style="color: #933430;">Duration</b></label>
              </div>
            </div> -->
          </div>
    
    
        </div>
        <div class="row">
          <div class="col-md-6">
            <section class="login-form d-flex align-items-center ">
              <div class="bg-white p-2 form-wrap shadow-lg" style=" height: 100px;width:100% " *ngIf="status == 2">
                <b style="color: #4169e1;">Select Date</b>
                <div class="row ml-3 mt-2">
                  <label><b>From:</b></label>&nbsp;&nbsp;
                  <input type="date" name="Fromdate" placeholder="FromDate" [(ngModel)]="FromDate"
                    [ngModelOptions]="{standalone: true}">
                  &nbsp;&nbsp;&nbsp;
    
                  <label><b>To:</b></label>&nbsp;&nbsp;
                  <input type="date" name="Todate" placeholder="ToDate" [(ngModel)]="TodayDate"
                    [ngModelOptions]="{standalone: true}">
                </div>
    
    
              </div>
              <div class="bg-white p-2 form-wrap shadow-lg" style=" height: 100px;width:100% " *ngIf="status ==1">
                <b style="color: #4169e1;">Select Date</b>
                <div class="row ml-3 mt-2">
                  <!-- <label><b>From:</b></label>&nbsp;&nbsp;
                  <input type="date" name="Fromdate" placeholder="FromDate" disabled>
                  &nbsp;&nbsp;&nbsp; -->
    
                  <label><b>To:</b></label>&nbsp;&nbsp;
                  <input type="date" name="Todate" placeholder="ToDate" [(ngModel)]="TodayDate"
                    [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </section>      
          </div>
    <!-- <div class="col-md-1" *ngIf="status == 2">
      <input type="button" class="btn btn-danger" value="Submit" style="margin-left: 13px;margin-top: 33px;"
      (click)="durationReportByDate()">
    </div> -->
    <div class="col-md-1" *ngIf="status == 1">
      <input type="button" class="btn btn-primary" value="Submit" style="margin-left: 13px;margin-top: 33px;"
      (click)="dailyReportByDate()">
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" value="print" (click)="print();"style="margin-left: 13px;margin-top: 33px;"> Print </button>
    </div>  
        </div>

          <div class="singleForm ">
        <div class="row mt-3 singleForm"  style="margin-right: -87px;">
          <div class="col-md-12 anyClass">
          <div slimScroll size="5px" height="calc(100vh - 320px)">
          <table class="table ">
          <colgroup>
          <col width="25%">
          <col width="25%">
          <col width="25%">
          <col width="25%">
         
      
          </colgroup>
          <thead>
          <th style="text-align: center;">Application Form Date</th>
          <th style="text-align: center;">Slot_Time</th>
          <th style="text-align: center;">TotalPrice</th>
          <th style="text-align: center;">Form Pass</th>
          <th style="text-align: center;">View</th>

      
          </thead>
          <tbody class="bg">
          <tr *ngFor="let u of dailyReportFiltered | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize;" >
          <td style="text-align: center;">{{u.bookingDate}}</td>
          <td style="text-align: center;">{{u.drawTimeAm}}</td>
          <td style="text-align: center;">{{u.totalPrice}}</td>
          <td style="text-align: center;">{{u.winningPrice}}</td>
          <td  style="text-align: center;"><a class="fa fa-eye" (click)="Details(u.slotId,u.drawTimeAm)"></a></td>

      
          </tr>
          
          </tbody>
          </table>
          </div>
          </div>
          </div>
         
          <div class="row mt-3 d-flex justify-content-center mr-5" *ngIf="dailyReportFiltered.length > 0" style="margin-top: -20px;">
            <ngb-pagination [collectionSize]="dailyReportFiltered.length" [(page)]="page" [maxSize]="4"
                            [rotate]="true"
                            [pageSize]="pageSize" class="d-flex justify-content-center"
                            [boundaryLinks]="true">
            </ngb-pagination>
          </div>
      </div>
          <!-- <div class="durationForm hide">        
              <div class="row mt-3"  style="margin-right: -87px;">
            <div class="col-md-12 anyClass">
            <div slimScroll size="5px" height="calc(100vh - 320px)">
            <table class="table ">
            <colgroup>
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
           
        
            </colgroup>
            <thead>
            <th style="text-align: center;">BookingDate</th>
            <th style="text-align: center;">Slot_Time</th>
            <th style="text-align: center;">TotalPrice</th>
            <th style="text-align: center;">winningPrice</th>
            <th style="text-align: center;">View</th>
  
        
            </thead>
            <tbody class="bg">
            <tr *ngFor="let u of durationReportFiltered " >
            <td style="text-align: center;">{{u.bookingDate}}</td>
            <td style="text-align: center;">{{u.slot.drawTimeAm}}</td>
            <td style="text-align: center;">{{u.totalPrice}}</td>
            <td style="text-align: center;">{{u.winningPrice}}</td>
            <td  style="text-align: center;"><a class="fa fa-eye" (click)="Details(u.slot.slotId,u.slot.drawTimeAm)"></a></td>
  
        
            </tr>
            
            </tbody>
            </table>
            </div>
            </div>
            </div>
           
            <div class="row d-flex justify-content-center mr-5 mt-2 durationForm hide">
              <ngb-pagination [collectionSize]="durationReportFiltered" [(page)]="page2" [maxSize]="7"
                              [rotate]="true"
                              [pageSize]="pageSize2" class="d-flex justiSfy-content-center"
                              [boundaryLinks]="true">
              </ngb-pagination>
            </div>
          </div> -->

      </div>
   

  </div>
</main>