.y-padded {
  padding-top: 80px;
  padding-bottom: 80px;
}

.t-padded {
  padding-top: 80px;
}

.bg-bright {
  /* background-color: #ff852e; */
  background-color: #ffa666;
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:0; 
;
}
.bg-lightorange {
  background: #ffc9a3a6;
}

button:hover,
button:focus,
a:hover,
a:focus,
.btn:hover,
.btn:focus,
input:focus,
.form-control:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

.h-100vh {
  height: 100vh;
}

.index2 {
  z-index: 2;
}

.pointer {
  cursor: pointer;
}

.dashed-border {
  border: 2px dashed #ccc;
}

.modal-content,
.one-coner-radius {
  border-radius: 0 20px 20px 20px;
}

.search-box input.form-control {
  padding-left: 40px;
}

.search-box .fa {
  bottom: 10px;
  left: 10px;
}

.icon-input input.form-control {
  padding-left: 40px;
}

.icon-input label {
  left: 25px;
}

.icon-input .fa {
  bottom: 10px;
  left: 20px;
}

.pagination .page-item .page-link {
  color:#933430;
}

.modal-body .modal-close-btn {
  z-index: 1;
  right: 10px;
  /*width: 30px;*/
  top: 10px;
}

.login-back {
  background: #933430 ;
}

.login-back .form-wrap {
  opacity: 0.9;
}

.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-pill {
  border-radius: 30px !important;
}

.border-orange {
  border: 1px solid #ff852c;
}

.btn-gray {
  background: #eee;
}

.btn-outline-white {
  color: #000000;
  border-color: #fff;
  background: #fff;
}

.btn-outline-white:hover {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-outline-dark:hover .fa {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.text-red {
  color: #ff2f2f;
}

.text-orange,
a {
  color: brown;
}

.text-green {
  color: #2fd99b;
}

.text-greenShade {
  color: #22b049;
}

.bg-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#34946c), to(#ffffff));
  background: linear-gradient(180deg, #34946c 0%, #ffffff 100%);
}

.bg-orange {
  background:#933430



  ;
}

.bg-trancyBlack {
  background: #000000a6;
}

.border-orange {
  border: 1px solid #ff852c;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.corner-radius {
  border-radius: 0 20px 20px 20px;
}

.promo-actions {
  bottom: -15px;
  right: 10px;
}

.promo-actions a {
  border-radius: 8px;
  display: inline-block;
  width: 35px;
  height: 35px;
  padding-top: 3px;
}

.order-summary-table td {
  vertical-align: middle;
}

#order-breakdown {
  width: 100%;
  height: 350px;
}

#order-type,
#business-order-type,
#customers,
#loyal-customer,
#order-pickup-time,
#daily-revenue,
#bestseller-menu,
#customer-reservetable,
#reserved-tables,
#serve-assigntable {
  width: 100%;
  height: 350px;
}

/*-----------------------------------radio-----------------------------------*/
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #ff852c;
  background-color: #ff852c;
}

/*---------------------------------end radio---------------------------------*/
/*----------------------------------Sidebar----------------------------------*/
.sidebar {
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-sticky .nav .nav-item {
  border-bottom: 1px solid #ccc;
  margin: 0 20px;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .sidebar-sticky .nav-link {
  padding:  0.65rem 0rem;;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #333;
}
.bg{
  background: lightgray;
}

.sidebar-sticky .nav-link i.fa {
  margin-right: 10px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color:white;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: blue;
}

.navbar .nav-link .badge.badge-pill {
  top: 0;
  right: 0;
}

.navbar .nav-item .fa {
  top: 10px;
  left: 10px;
}

.navbar .nav-item .form-control-dark {
  padding-left: 30px;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*----------------------------------Content----------------------------------*/
[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 1366px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*----------------------------------Navbar-----------------------------------*/
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  /* background-color: rgba(0, 0, 0, .25); */
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.navbar .nav-item .form-control::placeholder {
  color: #d9d9d9;
}

.navbar .nav-item .form-control-dark {
  color: #fff;
  background-color: #57575729;
  border-color: #57575729;
}

.navbar .nav-item .form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px #6666661a;
}

.form-control.input-border {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.form-control.input-border:disabled {
  border: none;
  border-bottom: none;
  border-radius: 0;
  background: transparent;
}

.form-control[readonly] {
  background-color: transparent;
  opacity: 1;
}

/*.panel-content{
    margin-top: 90px;
}*/
/*---------------------------------------------------------------------------*/
.opening-hr-wrap {
  border: 2px solid;
  position: relative;
  width: 280px;
}

.opening-hr-wrap .opening-hr-heading {
  position: absolute;
  top: -24px;
  background: #fff;
  text-align: center;
  left: 10%;
  padding: 0 15px;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
.promo-info-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-info-wrap img {
  opacity: 0.5;
}

.promo-info-wrap .promo-info {
  position: absolute;
  color: #000;
  /*top: 40%;*/
  width: 50%;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.page-heading-wrap {
  top: 50px;
}

/*---------------------------------------------------------------------------*/
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #ff842c;
  border-bottom: 2px solid #ff852c;
  border-radius: 0;
  background: transparent;
}

#v-pills-tab.nav-pills .nav-link.active,
#v-pills-tab.nav-pills .show > .nav-link {
  color: #ffffff;
  background-color: #ff842c;
}

#v-pills-tab.nav-pills .nav-link.active::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 0 21px 12px;
  border-color: transparent transparent transparent #ff842c;
  content: '';
  top: 0;
  right: -12px;
  position: absolute;
}

#v-pills-tab.nav-pills .nav-link.active {
  position: relative;
}

.nav-pills .nav-link {
  color: gray;
}

#pills-tab {
  border: none;
}

#pills-tab.nav-tabs .nav-item.show .nav-link,
#pills-tab.nav-tabs .nav-link.active {
  background-color: #ff852c;
  color: #fff;
}

#pills-tab.nav-tabs .nav-link {
  color: #ff852c;
  border-bottom: 2px solid #ff852c !important;
  border-right: 1px solid #ff852c;
  border-left: 1px solid #ff852c;
  border-top: 1px solid #ff852c;
}

#pills-tab.nav-tabs .nav-item:first-child .nav-link {
  border-top-left-radius: 12px;
  border-top-right-radius: 0;
}

#pills-tab.nav-tabs .nav-item:not(:first-child):not(:last-child) .nav-link {
  border-radius: 0;
}

#pills-tab.nav-tabs .nav-item:last-child .nav-link {
  border-top-right-radius: 12px;
  border-top-left-radius: 0;
}

#pills-tab.nav-tabs .nav-link.active {
  color: #fff;
}

#pills-tabContent .card .card-text {
  color: #333;
}

#menu-item .menu-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* overflow: hidden; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 220px;
  height: 220px;
  border: 2px solid #ccc;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0 20px 20px 20px;
}

#menu-item .menu-wrap::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  content: '';
  /*background-color: rgba(0, 0, 0, .3);*/
  border-radius: 0 20px 20px 20px;
}

#menu-item .menu-wrap .menu-img {
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 0 20px 20px 20px;
  /*-webkit-filter: grayscale(100%) blur(2px);
          filter: grayscale(100%) blur(2px);*/
}

#menu-item .menu-wrap p {
  color: #fff;
}

#menu-item .menu-wrap:hover {
  border: 2px solid #ff852c;
}

#menu-item .menu-wrap:hover .menu-img {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
}

#menu-item .cd-add-to-cart {
  bottom: -5px;
  right: -15px;
  /* border: 1px solid #ff852c; */
}

.upload-profile .form-control {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.upload-profile .fa {
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.card .favorite-icon {
  right: 10px;
  top: 10px;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}

.card .menu-img {
  height: 165px;
  object-fit: cover;
}

.card .card-body .menu-item-list {
  min-height: 135px;
}

.card-no-wrap .form-control {
  padding-left: 40px;
}

.card-no-wrap img.position-absolute {
  bottom: 10px;
}

/*--------------------------------FLOAT LABEL--------------------------------*/
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label,
.form-label-group > textarea,
.form-label-group > .select2 {
  padding: .75rem;
}

.form-label-group > label.active {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group > input,
.form-label-group > label,
.form-label-group > .select2 {
  height: 3.125rem;
}

.form-label-group > label,
.form-label-group > label.active {
  position: absolute;
  top: 0;
  left: 15px;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder,
.form-label-group textarea::-webkit-input-placeholder,
.form-label-group .select2::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder,
.form-label-group textarea:-ms-input-placeholder,
.form-label-group .select2:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder,
.form-label-group textarea::-ms-input-placeholder,
.form-label-group .select2::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder,
.form-label-group textarea::-moz-placeholder,
.form-label-group .select2::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder,
.form-label-group textarea::placeholder,
.form-label-group .select2::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown),
.form-label-group textarea:not(:placeholder-shown),
.form-label-group .select2:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label,
.form-label-group textarea:not(:placeholder-shown) ~ label,
.form-label-group .select2:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.modal-close-btn {
  right: 10px;
  top: 10px;
  z-index: 1;
}

/* ---------------------feedbackForm-------------------------------------- */
#feedbackForm .form-label-group .form-control,
#feedbackForm .form-label-group .select2-container {
  border: 1px solid #ccc;
  border-radius: 20px;
}

/*----------------------------------select2----------------------------------*/

.select2-container .select2-selection--single {
  height: 28px;
}

.select2-container--default .select2-selection--single {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.select2-container--default .select2-selection--single:focus {
  outline: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 21px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: none;
  cursor: text;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none;
  outline: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }

  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

.ribbon {
  position: absolute;
  right: 10px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon-orange span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#FF9F5E 0%, #F5802A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon-orange span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #F5802A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #F5802A;
}

.ribbon-orange span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #F5802A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #F5802A;
}

.ribbon-blue span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#05EFF7 0%, #087F8F 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon-blue span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #087F8F;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #087F8F;
}

.ribbon-blue span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #087F8F;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #087F8F;
}

.ribbon-green span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#42FF55 0%, #2DAD3A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon-green span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #2DAD3A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #2DAD3A;
}

.ribbon-green span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #2DAD3A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #2DAD3A;
}

.ribbon-danger span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#f85032 0%, #e73827 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon-danger span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #f85032;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #f85032;
}

.ribbon-danger span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #f85032;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #f85032;
}

/*-------------------------------Switch button-------------------------------*/
#toggles {
  width: 60px;
  /*margin:50px auto;*/
  text-align: center;
}

.ios-toggle, .ios-toggle:active {
  position: absolute;
  top: -5000px;
  height: 0;
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
}

.checkbox-label {
  display: block;
  position: relative;
  padding: 10px;
  /*margin-bottom:20px;*/
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  height: 26px;
  /*border-radius*/
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  background: #f8f8f8;
  cursor: pointer;
}

.checkbox-label:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 34px;
  text-indent: 40px;
  height: 26px;
  width: 26px;
  /*border-radius*/
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  right: auto;
  background: white;
  /*box-shadow*/
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
}

.checkbox-label:after {
  content: attr(data-off);
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: -300px;
  padding: 10px;
  height: 100%;
  width: 300px;
  text-align: right;
  color: #bfbfbf;
  white-space: nowrap;
}

.ios-toggle:checked + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
  -moz-box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
  box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
}

.ios-toggle:checked + .checkbox-label:before {
  left: calc(100% - 26px);
  /*box-shadow*/
  -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
}

.ios-toggle:checked + .checkbox-label:after {
  content: attr(data-on);
  left: 60px;
  width: 36px;
}

/* GREEN CHECKBOX */

#checkbox1 + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 0px rgba(19, 191, 17, 1), 0 0 0 2px #dddddd;
  -moz-box-shadow: inset 0 0 0 0px rgba(19, 191, 17, 1), 0 0 0 2px #dddddd;
  box-shadow: inset 0 0 0 0px rgba(19, 191, 17, 1), 0 0 0 2px #dddddd;
}

#checkbox1:checked + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 18px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
  -moz-box-shadow: inset 0 0 0 18px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
  box-shadow: inset 0 0 0 18px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
}

#checkbox1:checked + .checkbox-label:after {
  color: rgba(19, 191, 17, 1);
}

#v-pills-tabContent .menu-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* overflow: hidden; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 220px;
  height: 220px;
  border: 2px solid #ccc;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0 20px 20px 20px;
}

#v-pills-tabContent .menu-wrap::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  content: '';
  border-radius: 0 20px 20px 20px;
  /*background-color: rgba(0, 0, 0, .3);*/
}

.bg-trancyBlack {
  background: #00000094;
}

#v-pills-tabContent .menu-wrap .menu-img {
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 0 20px 20px 20px;
  /* -webkit-filter: grayscale(100%) blur(2px);
           filter: grayscale(100%) blur(2px);*/
}

#v-pills-tabContent .menu-wrap p {
  color: #fff;
  font-size: 80%;
}

#v-pills-tabContent .menu-wrap:hover {
  border: 2px solid #ff852c;
}

#v-pills-tabContent .menu-wrap:hover .menu-img {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
}

/*--------------------------- INPUT EFFECT FORMS ----------------------------*/
form .form-control {
  background-color: transparent;
  /*color: #fff !important;*/
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

form#formDeliverAddress .form-control {
  background-color: transparent;
  color: #000 !important;
}

form#formDeliverAddress .form-control::-webkit-input-placeholder {
  color: #ccc !important;
}

form#formDeliverAddress .form-control:-ms-input-placeholder {
  color: #ccc !important;
}

form#formDeliverAddress .form-control::-ms-input-placeholder {
  color: #ccc !important;
}

form#formDeliverAddress .form-control::placeholder {
  color: #ccc !important;
}

form .input-effect .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-color: #fff;
}

form .input-effect .form-control:not(textarea) {
  height: calc(2.25rem + 2px);
}

form .input-effect .form-control::-webkit-input-placeholder {
  color: #fff;
  text-transform: capitalize;
}

form .input-effect .form-control:-ms-input-placeholder {
  color: #fff;
  text-transform: capitalize;
}

form .input-effect .form-control::-ms-input-placeholder {
  color: #fff;
  text-transform: capitalize;
}

form .input-effect .form-control::placeholder {
  color: #fff;
  text-transform: capitalize;
}

.input-effect {
  position: relative;
}

.input-effect .form-control:not(.effect-17) {
  border: 0;
  border-bottom: 1px solid #ccc;
}

.input-effect span.error {
  color: #f70303;
  font-size: 11px;
  position: absolute;
  top: -8px;
  left: 5px;
}

.input-effect textarea:focus::-webkit-input-placeholder,
.input-effect input:focus::-webkit-input-placeholder {
  color: transparent;
}

.input-effect textarea:focus:-moz-placeholder,
.input-effect input:focus:-moz-placeholder {
  color: transparent;
}

.input-effect textarea:focus::-moz-placeholder,
.input-effect input:focus::-moz-placeholder {
  color: transparent;
}

.input-effect textarea:focus:-ms-input-placeholder,
.input-effect input:focus:-ms-input-placeholder {
  color: transparent;
}

.input-effect .effect-17 {
  padding: 4px 20px 4px 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background-color: transparent;
  color: #fff;
}

.input-effect .effect-17 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #ff852c;
}

.input-effect .effect-17:focus ~ .focus-border,
.input-effect .has-content.effect-17 ~ .focus-border {
  left: 5px;
  width: calc(100% - 10px);
  -webkit-transition: .4s;
  transition: .4s;
}

.input-effect .has-content.effect-17 ~ .focus-border {
  background-color: #ccc;
}

.input-effect .effect-17 ~ label {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 5px;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  color: transparent;
  margin: 0;
}

.input-effect .effect-17:focus ~ label,
.has-content.effect-17 ~ label {
  z-index: 0;
  bottom: -20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.input-effect .effect-17:focus ~ label,
.has-content.effect-17 ~ label,
.input-effect label.active {
  font-size: 12px;
  font-weight: bold;
  color: #ff852c;
}

/*-- MANAGER > ORDER-DETAILS --*/
#deliveryStatusList li {
  position: relative;
}

#deliveryStatusList li:not(:first-child):after {
  content: '';
  width: 5px;
  height: 0;
  position: absolute;
  left: 6px;
  top: -52px;
  background: #0dab19;
  z-index: 1;
  transition: all .3s ease;
}

#deliveryStatusList li.status-updated:not(:first-child):after {
  height: calc(100% - 16px);
}

#deliveryStatusList .custom-control.custom-checkbox span {
  position: absolute;
  left: -80px;
  top: 2px;
  font-size: 85%;
}

/*--------------------------------notify-drop--------------------------------*/
.navbar-default .dropdown-menu {
  position: absolute;
  right: 0 !important;
  left: auto;
}

.navbar-default .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  max-height: 370px;
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content {
  max-height: 330px;
  overflow-y: scroll;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}

.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}

.navbar-default .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}

.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
  white-space: normal;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}

.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff, #f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff, #fff);
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}

#v-pills-tabContent .card .card-footer .prep-time {
  color: #aaa;
  /*font-size: 65%;*/
  /*margin-left: 8px;*/
  /*font-weight: normal;*/
}

.show-error-field {
  position: absolute;
  font-size: 13px;
}

.cdk-overlay-container {
  z-index: 9999;
}

/* #v-pills-tabContent .card .card-title .prep-time .fa {
  margin-right: 5px;
} */
ul.flex-nowrap .ngx-select__toggle{color: #fff; border-bottom: 1px solid #fff; background-color: transparent}
ul.flex-nowrap .ngx-select__toggle:hover,
ul.flex-nowrap .ngx-select__toggle:focus{background-color: transparent; color: #fff; outline: none; border: 0; border-bottom: 1px solid #fff;}
ul.flex-nowrap .ngx-select__selected-plural, ul.flex-nowrap .ngx-select__selected-single{overflow: visible; margin-right: 60px; margin-left: -15px;}
