
<main class="col-md-10 ml-sm-auto col-lg-10 styles">

  <div class="px-4">
    <div class="row border-bottom">
      <div class="col-md-3">

        <h3 class="page-heading-wrap  pb-2 mb-1  sticky-top" style="color: #4169e1;  z-index:0; "> <b>Daily-Report
        </b></h3>
        </div>
          <div class="col-md-5" style="margin-top: -10px;">
            <div class="btn-group">
              <button type="button" *ngIf="navModel.selfReport==1" class="btn btn-outline-primary fstyle" (click)="selfReport()"
                (click)="navbar(2)" style="width: 150px; font-size: 17px;">Self Report
              </button>
              <button type="button" *ngIf="navModel.selfReport==2" class="btn btn-primary fstyle"  (click)="selfReport()"
                (click)="navbar(2)" style="width: 150px; font-size: 17px; ">Self Report
              </button>
              <button type="button" *ngIf="navModel.claimvsbooking==1" class="btn btn-outline-primary fstyle"
                (click)="openCliamVsBooking()" (click)="navbar(1)" style="width: 180px; font-size: 17px;">
                Scheme vs App.Form
              </button>
              <button type="button" *ngIf="navModel.claimvsbooking==2" class="btn btn-primary fstyle"
                (click)="openCliamVsBooking()" (click)="navbar(1)" style="width: 180px; font-size: 17px;">
                Scheme vs App.Form
              </button>
             
          
            </div>
        </div>
        <!-- <div class="col-md-2">
          <h3 class="  pb-2 mb-1  sticky-top" style="margin-top: -10px; z-index:0; color: #933430; ">Date:</h3>
          
        </div>
<div class="col-md-2">
  <h3 class="  pb-2 mb-1  sticky-top" style="margin-top: -10px; z-index:0;  ">{{this.reportDate}}</h3>
  
</div> -->
        <!-- <div class="col-md-3">
          Date: {{this.date}}
        </div> -->
     
    </div>
    
      <div class="row">
        <div class="col-md-2">
          <div class="radio">
            <input id="radio-1" name="radio" type="radio" checked (click)="single()">
            <label for="radio-1" class="radio-label"><b style="color: #4169e1;">Single</b></label>
          </div>
        </div>

        <div class="col-md-2">
          <div class="radio">
            <input id="radio-2" name="radio" type="radio" (click)="duration()">
            <label for="radio-2" class="radio-label"><b style="color: #4169e1;">Duration</b></label>
          </div>
        </div>
        <div class="col-md-6" *ngIf="status ==1">
          <div class="bg-white  " style=" height: 100px;width:100% " >
           
            <div class="row ml-3 mt-2">
              <!-- <label><b>From:</b></label>&nbsp;&nbsp;
              <input type="date" name="Fromdate" placeholder="FromDate" disabled>
              &nbsp;&nbsp;&nbsp; -->

              <label><b>To:</b></label>&nbsp;&nbsp;
              <input type="date" name="Todate" placeholder="ToDate" [(ngModel)]="ToDate"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="col-md-6"*ngIf="status == 2">
          <section class=" ">
            <div class="bg-white  " style=" height: 100px;width:100% " >
             
              <div class="row ml-3 mt-2">
                <label><b>From:</b></label>&nbsp;&nbsp;
                <input type="date" name="Fromdate" placeholder="FromDate" [(ngModel)]="FromDate"
                  [ngModelOptions]="{standalone: true}">
                &nbsp;&nbsp;&nbsp;
  
                <label><b>To:</b></label>&nbsp;&nbsp;
                <input type="date" name="Todate" placeholder="ToDate" [(ngModel)]="ToDate"
                  [ngModelOptions]="{standalone: true}">
              </div>
  
  
            </div>
           
          </section>      
        </div>
        <div class="col-md-1" *ngIf="status ==1">
          <input type="button" class="btn btn-primary" value="Submit" style="margin-left: 13px;margin-top: 3px;"
          (click)="getDetails()">
        </div>
        <div class="col-md-1" *ngIf="status ==2">
         <input type="button" class="btn btn-primary" value="Submit" style="margin-left: 13px;margin-top: 3px;"
          (click)="getDurationDetails()">
        </div>
      </div>
      <div class="section" style="margin-top: -45px;" *ngIf="status == 2">
        <section class="login-form d-flex align-items-center ">
          <div class="bg-white p-2 form-wrap shadow-lg  " style="width: 100%;">
    <div class="row">
      <h3 class="  pb-2 mb-1  sticky-top" style="margin-top: -10px;margin-left: 13px;; z-index:0; color: #4169e1;; ">Summary:</h3>
    </div>
      <div class="row mt-2">
    <div class="col-md-2">
      <label><b>From Date:</b></label>
    </div>
    <div class="col-md-2">
      <label>{{this.FromDate}}</label>
    </div>
    <div class="col-md-2">
      <label><b>To Date:</b></label>
    </div>
    <div class="col-md-2">
      <label>{{this.ToDate}}</label>
    </div>
  </div>
  <div class="row  mt-2">
    <div class="col-md-3">
      <label><b>Packet OpeningBalance:</b></label>
    </div>
    <div class="col-md-1">
      <label></label>
    </div>
    <div class="col-md-3">
      <label><b> Packet ClosingBalance:</b></label>
    </div>
    <div class="col-md-1">
      <label></label>
    </div>
    <div class="col-md-3">
      <label><b>Application Submitted:</b></label>
    </div>
    <div class="col-md-1">
      <label>{{this.durationticketBooked}}</label>
    </div>
  </div>
  <div class="row  mt-2">
  
    <div class="col-md-3">
      <label><b> Form Pass:</b></label>
    </div>
    <div class="col-md-1">
      <label>{{this.durationclaimAmount}}</label>
    </div>
    <div class="col-md-3">
      <label><b> Charges:</b></label>
    </div>
    <div class="col-md-1">
      <label>{{this.durationprofit}}</label>
    </div>
    <div class="col-md-3">
      <label><b>Cash InDrawer:</b></label>
    </div>
    <div class="col-md-1">
      <label>{{this.durationcashInDrawer}}</label>
    </div>
  </div>
  </div>
  </section>
      </div>
     
    
    <div class="row " style="position: absolute;    left: 85%;
    top: 17%;"*ngIf="status ==1">
      <input type="button" class="btn btn-primary" value="Print Details" (click)="printReport()">
    </div>
    <div class="row " style="position: absolute;left: 93%;
    top: -2%;"*ngIf="status ==2">
      <input type="button" class="btn btn-primary" value="Print Detail" (click)="durationPrintReport()">
    </div>

    <div class="row " *ngIf="status ==1">

      <div class="col-12 anyClass">
        <div class="open-tabs" id="">
          <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
       
       
            
           
            <div class="row mt-3">

         <div class="col-md-3">
           <b> Date Of Report:</b>
         </div>
         <div class="col-md-3">
          {{this.reportDate}}
         </div>
          <div class="col-md-3">
          <b>Name:</b>
          </div> 
        <div class="col-md-3">
          {{this.name}}
        </div>
       </div>
       --------------------------------------------------------------------------------------------------------------------------------------------------------------
       <div class="row mt-3">
         
        <div class="col-md-3">
          <b> Packet Opening Balance:</b>
        </div>
        <div class="col-md-3">
        {{this.openingBalance}}
        </div>
        <div class="col-md-3">
          <b>Packet Purchase:</b>
         </div>
         <div class="col-md-3">
           {{this.totalWalletRecharge}}
         </div>
     
         
      
      
       
      </div>
      --------------------------------------------------------------------------------------------------------------------------------------------------------------
      <div class="row mt-3">
        <div class="col-md-3">
          <b>Application Submitted:</b>
        </div>
        <div class="col-md-3">
        {{this.ticketBooked}}
        </div>
        <div class="col-md-3">
          <b>Form Pass:</b>
        </div>
        <div class="col-md-3">
        {{this.claimAmount}}
        </div>
       
      
     </div>
     --------------------------------------------------------------------------------------------------------------------------------------------------------------

     <div class="row mt-3">
      <div class="col-md-3">
        <b>Charges:</b>
      </div>
      <div class="col-md-3">
      {{this.profit}}
      </div>
      <div class="col-md-3">
       <b>Cash :</b>
     </div>
     <div class="col-md-3">
      {{cashInDrawer}}
     </div>
    
    </div>
    
    --------------------------------------------------------------------------------------------------------------------------------------------------------------
    
    <div class="row mt-3">
      
      <div class="col-md-3">
        <b>Packet Closing Balance:</b>
      </div>
      <div class="col-md-3">
       {{this.closingBalance}}
      </div>
     <div class="col-md-3">
      <b *ngIf = "this.payToCompany < 0">Take  From Company:</b>
      <b *ngIf = "this.payToCompany > 0">Give To Company:</b>
    </div>
    <div class="col-md-3" *ngIf = "this.payToCompany < 0">
    {{this.payToCompany * (-1)}}
    </div>
    <div class="col-md-3" *ngIf = "this.payToCompany > 0">
      {{this.payToCompany}}
      </div>
     
   
    </div>
    
    --------------------------------------------------------------------------------------------------------------------------------------------------------------
    
     <div class="row mt-3">
     <b>Packet Recharges</b>
      <table class="table">
        <colgroup>
          <col width="20%">
          <col width="10%">        

        </colgroup>
        <thead>
          <th>
         Date/Time
          </th>
           <th>
         Amount
          </th>
        </thead>
       
        <tr *ngFor= "let u of this.dailyRecharge">
        <td>{{u.date}}</td>
        <td> {{u.amount}}</td>
        </tr>
       

      </table>
    </div>
    
    <div class="row mt-3">
  
    
   </div>
   
   <div class="row mt-3">
    
  </div>
  




            <!-- <table class="table">
              <colgroup>
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
              </colgroup>
              <thead>
                <th class="fstyle">TicketBooked</th>
                <th class="fstyle">Claim </th>
                <th class="fstyle">Commision</th>
                <th class="fstyle ">ClaimBonus</th>
                <th class="fstyle">Profit</th>
                <th class="fstyle ">Wallet Balance</th>
                
                <th></th>
              </thead>
              <tbody>
                <tr>
                  <td><b>{{this.TicketBooked}}</b></td>
                  <td><b>{{this.Claim}}</b></td>
                  <td><b>{{this.Commission}}</b></td>
                  <td><b>{{this.ClaimBonus}}</b></td>
                  <td><b>{{this.Profit}}</b></td>
                  <td><b>{{this.WalletBalance}}</b></td>
                </tr>

              </tbody>
            </table> -->
          </div>
        </div>
      </div>


    </div>



    <div class="row mt-2" *ngIf="status ==2">
      <div class="col-12 anyClass">
        <div class="open-tabs" id="">
          <div class="container-fluid scrollable fstyle" slimScoll size="2px" height="calc(100vh - 320px)">
            <div id="team-table" class="table mt-1">
              <form>

              </form>
            </div>
            <table class="table">
              <colgroup>
                <col width="20%">
                <col width="15%">
                <col width="15%">
                <col width="20%">
                <col width="15%">
                <col width="15">
                <col width="15">
              </colgroup>
              <thead>
                <!-- <th class="fstyle">Booking ID</th> -->
                <th  style="text-align: center;" class="fstyle">ReportDate</th>
                <th  style="text-align: center;" class="fstyle ">openingBalance</th>                     
                <th  style="text-align: center;" class="fstyle">App. Submitted</th>
                <th  style="text-align: center;" class="fstyle">Scheme</th>
                <th  style="text-align: center;" class="fstyle ">Charges</th>                     
                <th  style="text-align: center;" class="fstyle">Cash</th>
                <th  style="text-align: center;" class="fstyle">closingBalance</th>
              </thead>
              <tbody class="bg">
                <tr *ngFor ="let u of durationDetailsList | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize;">
                  
                    <td style="font-size: 20px;text-align: center;">{{u.reportDate}} </td> 
                    <td style="font-size: 20px;text-align: center;" >{{u.openingBalance | twoDecimalFormatNumber}}</td>
                    <td style="font-size: 20px;text-align: center;">{{u.ticketBooked}} </td> 
                    <td style="font-size: 20px;text-align: center;" >{{u.claimAmount | twoDecimalFormatNumber}}</td> 
                    <td style="font-size: 20px;text-align: center;">{{u.profit | twoDecimalFormatNumber}} </td>
                    <td style="font-size: 20px;text-align: center;" >{{u.cashAmount | twoDecimalFormatNumber}}</td>      
                    <td style="font-size: 20px;text-align: center;" >{{u.closingBalance | twoDecimalFormatNumber}}</td>    
                  </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="status == 2">
      <div class="row mt-3 d-flex justify-content-center mr-5" *ngIf="durationDetailsList.length > 0" style="margin-top: -20px;">
        <ngb-pagination [collectionSize]="durationDetailsList.length" [(page)]="page" [maxSize]="4"
                        [rotate]="true"
                        [pageSize]="pageSize" class="d-flex justify-content-center"
                        [boundaryLinks]="true">
        </ngb-pagination>
      </div>
    </div>
   
    <!-- <div class="row mt-5" *ngIf="status ==2">

      <div class="col-12 anyClass">
        <div class="open-tabs" id="">
          <div class="container-fluid scrollable" slimScoll size="2px" height="calc(100vh - 320px)">
       
       
            <div class="row mt-3" >

              <div class="col-md-3">
                <b> Date Of Report From:</b>
              </div>
              <div class="col-md-3">
                {{this.durationreportDate}}

              </div>
               <div class="col-md-3">
               <b>Date Of Report To:</b>
               </div> 
             <div class="col-md-3">
              {{this.durationToDate}}

             </div>
                   &nbsp;&nbsp;&nbsp;--------------------------------------------------------------------------------------------------------------------------------------------------------------
            </div>
            
           
            <div class="row mt-3">

         <div class="col-md-3">
           <b> Date of Today:</b>
         </div>
         <div class="col-md-3">
          {{this.today}}
         </div>
          <div class="col-md-3">
          <b>Name:</b>
          </div> 
        <div class="col-md-3">
          {{this.durationname}}
        </div>
       </div>
       --------------------------------------------------------------------------------------------------------------------------------------------------------------
       <div class="row mt-3">
         
        <div class="col-md-3">
          <b> Wallet Opening Balance:</b>
        </div>
        <div class="col-md-3">
        {{this.durationopeningBalance}}
        </div>
        <div class="col-md-3">
          <b>WalletRecharge:</b>
         </div>
         <div class="col-md-3">
           {{this.durationtotalWalletRecharge}}
         </div>
     
         
      
      
       
      </div>
      --------------------------------------------------------------------------------------------------------------------------------------------------------------
      <div class="row mt-3">
        <div class="col-md-3">
          <b>Ticket Booked:</b>
        </div>
        <div class="col-md-3">
        {{this.durationticketBooked}}
        </div>
        <div class="col-md-3">
          <b>Claim Settelment:</b>
        </div>
        <div class="col-md-3">
        {{this.durationclaimAmount}}
        </div>
       
      
     </div>
     --------------------------------------------------------------------------------------------------------------------------------------------------------------

     <div class="row mt-3">
      <div class="col-md-3">
        <b>Profit:</b>
      </div>
      <div class="col-md-3">
      {{this.durationprofit}}
      </div>
      <div class="col-md-3">
       <b>Cash Amount:</b>
     </div>
     <div class="col-md-3">
      {{this.durationcashInDrawer}}
     </div>
    
    </div>
    
    --------------------------------------------------------------------------------------------------------------------------------------------------------------
    
    <div class="row mt-3">
      
      <div class="col-md-3">
        <b>Wallet Closing Balance:</b>
      </div>
      <div class="col-md-3">
       {{this.durationclosingBalance}}
      </div>
     <div class="col-md-3">
      <b *ngIf = "this.payToCompany < 0">Take  From Company:</b>
      <b *ngIf = "this.payToCompany > 0">Give To Company:</b>
    </div>
    <div class="col-md-3" *ngIf = "this.payToCompany < 0">
    {{this.durationpayToCompany * (-1)}}
    </div>
    <div class="col-md-3" *ngIf = "this.payToCompany > 0">
      {{this.durationpayToCompany}}
      </div>
     
   
    </div>
    
    --------------------------------------------------------------------------------------------------------------------------------------------------------------
    
     <div class="row mt-3">
     <b>Wallet Recharges</b>
      <table class="table">
        <colgroup>
          <col width="20%">
          <col width="10%">        

        </colgroup>
        <thead>
          <th>
         Date/Time
          </th>
           <th>
         Amount
          </th>
        </thead>
       
        <tr *ngFor= "let u of this.durationdailyRecharge">
        <td>{{u.date}}</td>
        <td> {{u.amount}}</td>
        </tr>
       

      </table>
    </div>
    
    <div class="row mt-3">
  
    
   </div>
   
   <div class="row mt-3">
    
  </div>
          </div>
        </div>
      </div>


    </div> -->
  </div>
</main>