
  <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
        
  
         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        
    </head>
    <body>
  
  
  
        <div class="">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>JSG</h3>
                    <strong>BL</strong>
                </div>
              
                <ul class="list-unstyled components">
                <li class="nav-item" *ngIf="id == 4">
                <a class="nav-link" routerLinkActive="active-link active" routerLink="/client/booking"
                  href="javascript:void(0)"><i>
                  <img src="assets/icons/booking.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                    data-placement="top" title="Booking"></i>Booking
                </a>
                
              </li>
              <li class="nav-item" *ngIf="id == 4">
                <a class="nav-link" routerLinkActive="active-link active" routerLink="/client/claim-transaction"
                  href="javascript:void(0)">
                 <i> <img src="assets/icons/refund.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                    data-placement="top" title="Claim-Transaction"></i>Claim-Transaction
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active-link active" routerLink="/client/wallet-Details"
                  href="javascript:void(0)"><i>
                  <img src="assets/icons/wallet .png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                    data-placement="top" title="Wallet-Details"></i>Wallet-Details
                </a>
              </li>
              <!--*ngIf="this.userForm.value.usrName == 'admin'"-->
            
              <li class="nav-item" *ngIf="id == 4">
                <a class="nav-link" routerLinkActive="active-link active" routerLink="/client/add-details"
                  href="javascript:void(0)"><i>
                  <img src="assets/icons/file.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                    data-placement="top" title="Add-Details"></i>Add-Details
                </a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active-link active" routerLink="/client/result-view"
                  href="javascript:void(0)"><i>
                  <img src="assets/icons/experiment-results.png" class="app-icon" width="16" height="16"
                    data-toggle="tooltip" data-placement="top" title="Result-view"></i>Result-view
                </a>
              </li>
              <li class="nav-item" *ngIf="id == 1">
                  <a class="nav-link" routerLinkActive="active-link active" routerLink="/distributor/view-client"
                    href="javascript:void(0)"><i>
                    <img src="assets/icons/avatar.png" class="app-icon" width="16" height="16"
                      data-toggle="tooltip" data-placement="top" title="Result-view"></i>View-Client
                  </a>
                </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active-link active" routerLink="/client/result-report"
                  href="javascript:void(0)"><i>
                  <img src="assets/icons/growth.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                    data-placement="top" title="Result-Report"></i>Result-Report
                </a>
              </li>
              <li class="nav-item" *ngIf="id == 4">
                  <a class="nav-link" routerLinkActive="active-link active" routerLink="/client/user-profile"
                    href="javascript:void(0)"><i>
                    <img src="assets/icons/user.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                      data-placement="top" title="Profile"></i>Profile
                  </a>
                </li>
             
              <li class="nav-item" *ngIf="id == 1">
                <a class="nav-link" routerLinkActive="active-link active" routerLink="/distributor/admin-profile"
                  href="javascript:void(0)"><i>
                  <img src="assets/icons/user.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                    data-placement="top" title="Profile"></i>Profile
                </a>
              </li>
    
              <!-- <li class="nav-item">
                <a class="nav-link" routerLinkActive="active-link active" routerLink="/client/setting"
                  href="javascript:void(0)"> <i>
                  <img src="assets/icons/settings-gears.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                    data-placement="top" title="Settings"></i>Settings
                </a>
              </li> -->
    
              <!-- <li class="nav-item">
                <a class="nav-link" routerLinkActive="active-link active" routerLink="/login" href="javascript:void(0)">
                <i>  <img src="assets/icons/logout.png" class="app-icon"width="16" height="16" data-toggle="tooltip"
                    data-placement="top" title="logout"></i>logout
                </a>
              </li> -->
              <!-- <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active-link active" routerLink="/collapsing" href="javascript:void(0)">
                  <i>  <img src="assets/icons/logout.png" class="app-icon" width="16" height="16" data-toggle="tooltip"
                      data-placement="top" title="logout"></i>logout
                  </a>
                </li> -->
                  
                </ul>
  
                </nav>
  
            <!-- Page Content Holder -->
           
        </div>
    </body>
  </html>