.style{
    font-size: 24px;
    font-weight: 600;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #dee2e6;
}