<main class="col-md-12 ml-sm-auto col-lg-12 styles" style="background: lightgrey; overflow: hidden;">
  <div class="col-md-5">
    <div id="printSectionId">
      <div class="row">
        <img style="height: 70px;
        width: 176px;
        margin-top: 25px;
        margin-left: 61px;" src="./assets/images/Untitled.png">
        <!-- <div style="  float: left; margin-top: 45px; font-size: 26px;margin-left: 11px; font-weight: 600;"><b
            style="font-size: 29px;">Govt of India</b><br>
          <b style="margin-left:45px; font-size: 26px;">Approved</b>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <b style="font-size: 22px;"> &nbsp; &nbsp; &nbsp; &nbsp;JAI SHREE GANESHA</b>
        </div>
      </div>    

      <div class="row">
        <div class="col-md-12">
        <b style="font-size: 22px;">Report Of Date:{{this.reportDate}}</b>        
       </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        <b style="font-size: 22px;">Retailer: {{this.name}}({{retailerID}}) </b>
         </div>
      </div>
      ----------------------------------------------------------------

      <section class="section3 ">
        <b style="font-size: 20px;">Wallet Opening Balance(Credit):{{this.openingBalance}} </b> <br>
        <b style="font-size: 20px;" >Wallet Recharge:{{this.totalWalletRecharge}}</b> <br>      
      </section>
      ----------------------------------------------------------------

      <section class="section3 ">
        <b style="font-size: 20px;">Form_Selected(Credit):{{this.ticketBooked}} </b> <br>
        <b style="font-size: 20px;" >Claim Settlement(Debit):{{this.claimAmount}}</b> <br>
      
      </section>
      ----------------------------------------------------------------
      <section class="section3 ">
       <b>Charges:{{this.profit}}</b> <br>

     </section>
      ----------------------------------------------------------------
       <section class="section3 ">
        <b>Cash In Drawer:{{this.cashInDrawer}}</b> <br>
        <b>(Form Selected - Claim)</b>
      </section>
      
      ----------------------------------------------------------------
      <section class="section3 ">
       <b>Wallet Closing Balance:{{this.closingBalance}}</b> <br>

     </section>
     ----------------------------------------------------------------
     <section class="section3 ">
      
       <b>Give to Company ={{this.payToCompany}} </b> 
       <br>
       <b> (Wallet Recharge - Profit)</b> 
     </section>
     ----------------------------------------------------------------   
        <section class="section3 ">
          <b>Wallet Recharges</b> <br>

          <table class="table">
            <colgroup>
              <col width="20%">
              <col width="10%">
              

            </colgroup>
            <thead>
              <th>
             Date/Time
              </th>
               <th>
             Form Value
              </th>
            </thead>
           
            <tr *ngFor="let u of this.dailyRecharge">
            <td>{{u.date}}</td>
            <td> {{u.amount}}</td>
            </tr>
     
          </table>
       
      </section>
  
      ----------------------------------------------------------------
     
    </div>
  </div>

  <div class="row">
    <!-- <input type="button" class="btn btn-danger" value="back" (click)="back()"> -->
  </div>
</main>