<main class="col-md-10 ml-sm-auto col-lg-10 styles">
 
  <div class="px-4">
    <div class="row">
      <div class="col-md-6">

        <h3 class="  pb-2 mb-1 border-bottom sticky-top" style="color: #4169e1;margin-top: -10px; z-index:0;  ">
          <b>Scheme-Transaction</b></h3>
      </div>
      <div class="col-md-6" style="margin-top: -40px;">
        <form #myForm="ngForm" class="search1-Form">
          <div class="form-group" id="searchField  ">
            <label for="ticket" class="fstyle" style="color: #4169e1; ">Form Number:</label>
            <input type="text"  name="ticket" [(ngModel)]="ticket" [ngModelOptions]="{standalone: true}" id="Box1"
              class="form-control" placeholder="Enter Form Number" aria-describedby="helpId" maxlength="10 " autofocus style="width: 75%;">
            <button type="submit" (click)="getdetails();" class="btn btn-primary fstyle" style="margin-left: 75%;
            margin-top: -107px;">Search</button>
          </div>
        </form>

        <!-- <div class="mt-4 text-right left">
          <input type="text" placeholder="Enter only Gher Number" name="search" [(ngModel)]="searchText">
          <button (click)="search1()" type="submit" class="btn btn-primary">Submit</button>
        </div> -->
        <form #myForm="ngForm" class="search2-Form hide ">
          <div class="form-group" id="searchField  ">
            <label for="ticket" class="fstyle" style="color: #4169e1; ">Form Number:</label>
            <input type="text" name="ticket" [(ngModel)]="searchText2" [ngModelOptions]="{standalone: true}" id="ticket"
              class="form-control" placeholder="Enter Form Number" aria-describedby="helpId" style="width: 75%;">
            <button type="submit" (click)="search2();" class="btn btn-primary fstyle" style="margin-left: 75%;
            margin-top: -107px;">Search</button>
          </div>

        
        </form>
        <form #myForm="ngForm" class="search3-Form hide ">
          <div class="form-group" id="searchField  ">
            <label for="ticket" class="fstyle" style="color: #933430; ">Form Number:</label>
            <input type="text" name="ticket" [(ngModel)]="searchText3" [ngModelOptions]="{standalone: true}" id="ticket"
              class="form-control" placeholder="Enter Form Number" aria-describedby="helpId" style="width: 75%;">
            <button type="submit" (click)="search3();" class="btn btn-primary fstyle" style="margin-left: 75%;
            margin-top: -107px;">Search</button>
          </div>

        
        </form>
        <form #myForm="ngForm" class="search4-Form hide ">
          <div class="form-group" id="searchField  ">
            <label for="ticket" class="fstyle" style="color: #4169e1; ">Form Number:</label>
            <input type="text" name="ticket" [(ngModel)]="searchText4" [ngModelOptions]="{standalone: true}" id="ticket"
              class="form-control" placeholder="Enter Form Number" aria-describedby="helpId" style="width: 75%;">
            <button type="submit" (click)="search4();" class="btn btn-primary fstyle" style="margin-left: 75%;
            margin-top: -107px;">Search</button>
          </div>

        
        </form>
        <form #myForm="ngForm" class="search5-Form hide ">
          <div class="form-group" id="searchField  ">
            <label for="ticket" class="fstyle" style="color: #4169e1; ">Form Number:</label>
            <input type="text" name="ticket" [(ngModel)]="searchText5" [ngModelOptions]="{standalone: true}" id="ticket"
              class="form-control" placeholder="Enter Form Number" aria-describedby="helpId" style="width: 75%;">
            <button type="submit" (click)="search5();" class="btn btn-primary fstyle" style="margin-left: 75%;
            margin-top: -107px;">Search</button>
          </div>

        
        </form>
      </div>
   
    </div>
    <div class="row">
      <div class="col-md-6" >
        <!-- <div class="form-group search-box position-relative mt-1">
          <input type="text" name="search-menu" id="search-menu-1" class="form-control"
                 placeholder="Search by Id/email/phone/fullName" [(ngModel)]="searchData"
                 (keyup)="onSearchFilterActivate(searchData)">
          <i class="fa fa-search text-orange position-absolute" aria-hidden="true"></i>
        </div> -->
      
      </div>
    </div>
    <div id="pg-login">
      <section id="login" class="d-flex justify-content-center">
        <div class="container-fluid">
          <!-- <div class="row mt-1" style="background-color: brown ; color: cornsilk;width: 107%; height: 40px;">
        <div class="col-md-4 mt-1">
          <h2 style="margin-left: 500px;">Claim</h2>
        </div>
        <div class="col-md-8 mt-1">
          <h5 class="label bold d-inline-block" style="margin-left: 610px;">{{userName}} {{phoneDisp}} </h5>
        </div>


      </div>
      <div class="row" style="background-color: brown ; color: cornsilk;width: 107%;">

        <div class="col-md-12" style="margin-left: 1080px;">
          <h4> ({{role}})</h4>
        </div>
      </div> -->
          <div class="row" style="margin-left: -14%;margin-top: -49px;">
            <div class="btn-group style">
              <button type="button" *ngIf="navModel.claim==1" class="btn btn-outline-primary fstyle" (click)="openCliamForm()"
                (click)="navbar(2)" style="width: 150px; font-size: 17px;">Scheme
              </button>
              <button type="button" *ngIf="navModel.claim==2" class="btn btn-primary fstyle" (click)="openCliamForm()"
                (click)="navbar(2)" style="width: 150px; font-size: 17px; ">Scheme
              </button>
              <button type="button" *ngIf="navModel.transcation==1" class="btn btn-outline-primary fstyle"
                (click)="openTransactionForm()" (click)="navbar(1)" style="width: 150px; font-size: 17px;">
                Transaction
              </button>
              <button type="button" *ngIf="navModel.transcation==2" class="btn btn-primary fstyle"
                (click)="openTransactionForm()" (click)="navbar(1)" style="width: 150px; font-size: 17px;">
                Transaction
              </button>
              <button type="button" *ngIf="navModel.dispatch==1" class="btn btn-outline-primary fstyle"
                (click)="openDispatchedForm()" (click)="navbar(3)" style="width: 180px; font-size: 17px;">
                Dispatched
              </button>
              <button type="button" *ngIf="navModel.dispatch==2 " class="btn btn-primary fstyle" (click)="openDispatchedForm()"
                (click)="navbar(3)" style="width: 180px; font-size: 17px;">
                Dispatched
              </button>
              <button type="button" *ngIf="navModel.requested==1" class="btn btn-outline-primary fstyle"
                (click)="openRequestedForm()" (click)="navbar(4)" style="width: 180px; font-size: 17px;">
                Requested
              </button>
              <button type="button" *ngIf="navModel.requested==2 " class="btn btn-primary fstyle" (click)="openRequestedForm()"
                (click)="navbar(4)" style="width: 180px; font-size: 17px;">
                Requested
              </button>
              <!-- <button type="button" *ngIf="navModel.history==1" class="btn btn-outline-danger fstyle"
                (click)="openHistoryForm()" (click)="navbar(5)" style="width: 180px; font-size: 17px;">
                History
              </button>
              <button type="button" *ngIf="navModel.history==2 " class="btn btn-danger fstyle" (click)="openHistoryForm()"
                (click)="navbar(5)" style="width: 180px; font-size: 17px;">
                History
              </button> -->
            </div>
          </div>
         
          <!--// Claim Design //-->
          <div class="claim-Form mt-4">
            <ng-container>
              <ng-container>
                <table class="table hide  ">
                  <colgroup>
                    <col width="10%">
                    <col width="15%">
                    <col width="10%">
                    <col width="20%">
                    <col width="20%">
                    <col width="25%">
                  </colgroup>
                  <thead>
                    <th class="fstyle">FormID</th>
                    <th class="fstyle">SlotTime</th>
                    <th class="fstyle">Total Price</th>
                    <th class="fstyle"> Date</th>
                    <th class="fstyle">Form pass</th>
                    <th class="fstyle">Scheme</th>
                  </thead>
                  <b *ngIf="claimList == null">No Record Found</b>

                  <tbody class="bg">
                    <tr>
                      <td (click)="ticketModal(bookingDetails.id)"><b class="fstyle">{{bookingDetails.id }}</b></td>
                      <td ><b class="fstyle">{{bookingDetails.startTime}}</b></td>
                      <td><b class="fstyle">{{bookingDetails.totalPrice}}</b></td>
                      <td ><b class="fstyle">{{bookingDetails.bookingDate}}</b></td>
                      <td ><b class="fstyle">{{bookingDetails.winningPrice}}</b></td>
                      <td   *ngIf="this.bookingDetails.status== 5">
                        <ng-container *ngIf="claimList.id==null">
                            <button class="btn btn-warning fstyle"  style="margin-left: 10px;">Better Luck Next Time !</button>
                            </ng-container>                   
                     <ng-container *ngIf="claimList.id!=null">
                  <button class="btn btn-primary fstyle" (click)="selfClaim(bookingDetails.id)" [(disabled)]="isDisabled1">Scheme</button>
                    <!-- <button class="btn btn-warning fstyle" (click)="modal4.show()" style="margin-left: 10px;">Farword
                      Claim</button> -->
                    </ng-container>
                    <ng-container *ngIf="claimList.status.id == 15">
                      <button class="btn btn-primary fstyle" (click)="modal1.show()">Form Canceled</button>
                        <!-- <button class="btn btn-warning fstyle" (click)="modal4.show()" style="margin-left: 10px;">Farword
                          Claim</button> -->
                        </ng-container>
                  </td>
                      <td  *ngIf="this.bookingDetails.status == 14"><b>PROCESSED</b></td>
                    </tr>
                  </tbody>
                </table>
              </ng-container>
            </ng-container>
          </div>


          <!--//  Transaction Design //-->

          <div class="transaction-Form hide anyClass">
            <!-- <div class="col-md-4" style="margin-right: 25px;">
              <input type="text" name="search-menu" id="search-menu-1" class="form-control"
              placeholder="Search by TicketId" [(ngModel)]="searchDataActivate"
              (keyup)="onSearchFilterActivate(searchDataActivate)">
            </div> -->
            <ng-container>
              <ng-container>
                <table class="table mt-5">
                  <colgroup>
                    <col width="20%">
                    <col width="10%">
                    <col width="10%">
                    <col width="5%">
                    <col width="10%">
                    <col width="10%">
                    <col width="15%">
                    <col width="15%">
                  </colgroup>
                  <thead>
                    <th class="fstyle"> date/time</th>
                    <th class="fstyle">Form ID</th>
                    <th class="fstyle">SlotTime</th>
                    <th class="fstyle">Qty</th>
                    <th class="fstyle">Form Value</th>
                    <th class="fstyle">Form pass</th>
                    <th class="fstyle">Scheme Status</th>
                    <!-- <th class="fstyle">Re-Print</th> -->
                    <!-- <th class="fstyle">Re-Print</th> -->
                  </thead>
                  <tbody class="bg">
                    <tr *ngFor="let u of filterTransList | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize">
                      <!-- <td (click)="ticketModal(u.claim.bookingDetail.id)" class="fstyle">{{u.claim.bookingDetail.bookingDate}}</td> -->
                      <td  class="fstyle">{{u.bookingDetail.createDate }}</td>
                      <td class="fstyle">{{u.bookingDetail.ticketId}}</td>
                      <td class="fstyle">{{u.bookingDetail.slot.drawTimeAm}}</td>
                      <td  class="fstyle">{{u.bookingDetail.totalTicket }}</td>
                      <td class="fstyle">{{u.bookingDetail.totalPrice}}</td>
                      <td class="fstyle">{{u.bookingDetail.winningPrice}}</td>
                      <td class="fstyle">{{u.bookingDetail.status.name}}</td>
                      <!-- <td class="fstyle"><button class="btn btn-danger " (click)="ticketModal(u.id)"
                        >Re-Print</button> -->
                      <!-- <td class="fstyle">{{u.bookingDetail.status.name}}</td> -->
                    </tr>
                  </tbody>
                </table>
              </ng-container>
            </ng-container>
             <div class="row d-flex justify-content-center mr-5 mt-2" *ngIf="filterTransList.length > 0">
              <ngb-pagination [collectionSize]="filterTransList.length" [(page)]="page" [maxSize]="8"
                              [rotate]="true"
                              [pageSize]="pageSize" class="d-flex justify-content-center"
                              [boundaryLinks]="true">
              </ngb-pagination>
            </div>
          </div>

          <!--// Dispatched Design //-->

          <div class="dispatched-Form hide anyClass">

            <ng-container>
              <ng-container>

                <table class="table mt-5">
                  <colgroup>
                    <col width="10%">
                    <col width="15%">
                    <col width="10%">
                    <col width="20%">
                    <col width="20%">
                    <col width="15%">
                    <col width="10%">


                  </colgroup>
                  <thead>

                    <th class="fstyle">FormID</th>
                    <th class="fstyle">Name</th>
                    <!-- <th>SlotTime</th> -->
                    <th class="fstyle">Total Price</th>
                    <th class="fstyle"> Date</th>
                    <th class="fstyle">Scheme</th>
                    <th class="fstyle">Settle-Down</th>
                  </thead>
                  <tbody class="bg" *ngIf="this.newList != null">

                    <tr *ngFor="let u of newList">

                      <td  (click)="ticketModal(u.bookingDetail.id)"class="table-primary fstyle">{{u.bookingDetail.id}}</td>
                      <td class="table-info fstyle">{{u.requestBy.firstName }}</td>
                      <!-- <td class="table-success">{{u.bookingDetail.slot.startTime}}</td> -->
                      <td class="table-danger fstyle">{{u.bookingDetail.totalPrice}}</td>
                      <td class="table-warning fstyle">{{u.bookingDetail.bookingDate}}</td>
                      <td class="table-primary fstyle">{{u.status.name}}</td>
                      <td class="table-info fstyle"><button class="btn btn-primary" (click)="modal1.show()">Scheme</button></td>
                    </tr>

                  </tbody>
                </table>
              </ng-container>
            </ng-container>
          </div>
          <!--//Requested Design-->
          <div class="requested-Form hide anyClass">
            <ng-container>
              <ng-container>
                <table class="table mt-5">
                  <colgroup>
                    <col width="10%">
                    <col width="15%">
                    <col width="10%">
                    <col width="20%">
                    <col width="20%">
                    <col width="25%">
                  </colgroup>
                  <thead>
                    <th class="fstyle">FormID</th>
                    <th class="fstyle">Name</th>
                    <th class="fstyle">Total Price</th>
                    <th class="fstyle"> Date</th>
                    <th class="fstyle">Scheme</th>
                  </thead>
                  <tbody class="bg" *ngIf="this.requestList != null">
                    <tr *ngFor="let u of requestList">
                      <td  (click)="ticketModal(u.id)"class="table-primary fstyle">{{u.bookingDetail.id}}</td>
                      <td class="table-info fstyle">{{u.requestBy.firstName }}</td>
                      <!-- <td class="table-success">{{u.bookingDetail.slot.startTime}}</td> -->
                      <td class="table-danger fstyle">{{u.bookingDetail.totalPrice}}</td>
                      <td class="table-warning fstyle">{{u.bookingDetail.bookingDate}}</td>
                      <td class="table-primary fstyle">{{u.status.name}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-container>
            </ng-container>
          </div>

          <!-- ------------------------------History Form-------------------- -->
          <div class="history-Form hide anyClass">
            <ng-container>
              <ng-container>
                <table class="table mt-5 ">
                  <colgroup>
                    <col width="25%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="20%">
                    <col width="10%">
                  </colgroup>
                  <thead>
                    <th class="fstyle" style="text-align:center"> Date/Time</th>
                    <th class="fstyle"style="text-align:center">Form ID</th>
                    <!-- <th class="fstyle"style="text-align:center">Booking Time</th> -->
                    <th class="fstyle"style="text-align:center">Slot Time</th>
                    <th class="fstyle"style="text-align:center">Form Price</th>
                    <th class="fstyle"style="text-align:center">Total Form</th>
                    <!-- <th class="fstyle"style="text-align:center">View Ticket</th> -->
                    <th class="fstyle"style="text-align:center">Re-Print </th>
                    <th class="fstyle"style="text-align:center">Cancel</th>
                  </thead>
                  <tbody class="bg">
                    <tr *ngFor="let demo of filteredhistoryList">
                      <td class="fstyle"style="text-align:center">{{demo.createDate}}</td>
                      <td class="fstyle"style="text-align:center">{{demo.ticketId}}</td>
                      <!-- <td class="fstyle"style="text-align:center">{{demo.createDate}}</td> -->
                      <td class="fstyle"style="text-align:center">{{demo.slot.startTime}}</td>
                      <td class="fstyle"style="text-align:center">{{demo.totalPrice}}</td>
                      <td class="fstyle"style="text-align:center">{{demo.totalTicket}}</td>
                      <!-- <td (click)="previewticketModal(demo.id)" style="text-align:center"><a class="fa fa-eye fstyle"></a></td> -->
                      <td  style="text-align:center" ><button class="btn btn-primary fstyle" (click)="ticketModal(demo.id)"
                        style="width: 100px;">Re-Print</button>
                      </td>
                      <td *ngIf="demo.cancalable === true" style="text-align:center"><button class="btn btn-primary fstyle" (click)="cancleTicket(demo.id)"
                        >Cancel</button></td>
                    </tr>
                  </tbody>
                </table>
              </ng-container>
            </ng-container>
          </div>

        </div>
      </section>
    </div>
    <!--=========================== Modal 1 Start ==========================================-->
    <app-modal #modal1>
      <div class='app-modal-body'>
        <div class="modal-header" style="background-color: #F7D488;">
          <h5 class="modal-title fstyle" style="color:#dc3545; text-align: center">Self Scheme Details</h5>
          <button type="button" class="close fstyle" data-dismiss="modal" (click)="modal1.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 class="fstyle">Sattelment Type</h3>
          <div>
            <form #myForm="ngForm" (submit)="myForm.reset()" class="col-12">
              <div class="form-group">

                <label class="self fstyle">By Self</label>

              </div>
            </form>

            <form class="form-group col-12">
              <div>
                <h3 class="fstyle">Payment Method</h3>
                <!-- <label class="radio-inline m-4 "><input type="radio" name="optradio" checked>NEFT</label>
            <label class="radio-inline m-4"><input type="radio" name="optradio">RTGS</label>
            <label class="radio-inline m-4"><input type="radio" name="optradio">VPA</label> -->
                <label class="radio-inline m-4 fstyle"><input type="radio" name="optradio">Cash</label><br>

                <input type="text" name="amount" value="{{mprice}}" style="background-color: lightgray" disabled
                  value={{bookingDetails.winningPrice}} class="fstyle">
                <input class="ml-1" type="text" name="comment" style="background-color: lightgray"
                  placeholder="Comments" class="fstyle">
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer" style="background-color: #F7D488;">
          <button type="button" class="btn btn-primary fstyle" (click)="selfClaim(bookingDetails.id)" [(disabled)]="isDisabled">Save</button>
          <button type="button" class="btn btn-secondary fstyle" (click)="modal1.hide()">Close</button>
        </div>
      </div>
    </app-modal>


    <!--=========================== Modal 2 Start ==========================================-->

    <app-modal #modal2>
      <div class='app-modal-body'>
        <div class="modal-header" style="background-color: #F7D488;">
          <h5 class="modal-title fstyle" style="color:#dc3545; text-align: center">Distributor</h5>
          <button type="button" class="close fstyle" data-dismiss="modal" (click)="modal2.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <!-- <form class="form-group col-12">
              <div>
              <h3 style="color:bisque;">Sattelment Type</h3>
              <label class="radio-inline m-4 " style="color:bisque;"><input type="radio" name="optradio" checked>By Self</label>
              <label class="radio-inline m-4"  style="color:bisque;"><input type="radio"  name="optradio">By Distributor</label>
            </div>
          </form> -->
            <form class="form-group col-12">
              <h3 style="color:bisque;" class="fstyle">Payment</h3>
              <div class="row">

                <!-- <label class="radio-inline m-4 " style="color:bisque;"><input type="radio" name="optradio" checked>NEFT</label>
            <label class="radio-inline m-4" style="color:bisque;"><input type="radio" name="optradio">RTGS</label>
            <label class="radio-inline m-4" style="color:bisque;"><input type="radio" name="optradio">VPA</label>
            <label class="radio-inline m-4" style="color:bisque;"><input type="radio" name="optradio">Cash</label>-->
                <div class="form-group col-md-4">
                  <label for="ammount" style="color: lightgrey" class="fstyle"><b>Amount:</b></label>

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text fstyle">$</span>
                    </div>
                    <input type="text" class="form-control fstyle" value="{{mprice}}" style="background-color: lightgray"
                      placeholder="Amount">
                  </div>

                </div>
                <div class="form-group col-md-4">
                  <label for="contact" style="color: lightgrey"><b class="fstyle">Contact Number:</b></label>
                  <input class="form-control fstyle" type="text" name="contact" style="background-color: lightgray"
                    placeholder="Contact Number">
                </div>
                <div class="form-group col-md-4">
                  <label for="comments" style="color: lightgrey"><b class="fstyle">Comment:</b></label>
                  <input class="form-control fstyle" type="text" name="comments" style="background-color: lightgray"
                    placeholder="Comments">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer" style="background-color: #F7D488;">
          <button type="button" class="btn btn-primary fstyle">Save</button>
          <button type="button" class="btn btn-secondary fstyle" (click)="modal2.hide()">Close</button>
        </div>
      </div>
    </app-modal>
    <!--=========================== Modal 3 End ==========================================-->

    <app-modal #modal3>
      <div class='app-modal-body'>
        <div class="modal-header" style="background-color: #F7D488;">
          <h5 class="modal-title fstyle" style="color:#dc3545; text-align: center">Settlement Scheme</h5>
          <button type="button" class="close fstyle" data-dismiss="modal" (click)="modal2.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <!-- <form class="form-group col-12">
              <div>
              <h3 style="color:bisque;">Sattelment Type</h3>
              <label class="radio-inline m-4 " style="color:bisque;"><input type="radio" name="optradio" checked>By Self</label>
              <label class="radio-inline m-4"  style="color:bisque;"><input type="radio"  name="optradio">By Distributor</label>
            </div>
          </form> -->
            <form class="form-group col-12">
              <h3 style="color:bisque;" class="fstyle">Settlement</h3>
              <div class="row">

                <!-- <label class="radio-inline m-4 " style="color:bisque;"><input type="radio" name="optradio" checked>NEFT</label>
            <label class="radio-inline m-4" style="color:bisque;"><input type="radio" name="optradio">RTGS</label>
            <label class="radio-inline m-4" style="color:bisque;"><input type="radio" name="optradio">VPA</label>
            <label class="radio-inline m-4" style="color:bisque;"><input type="radio" name="optradio">Cash</label>-->



                <div class="form-group col-md-4">
                  <label for="contact" style="color: lightgrey"><b class="fstyle">Enter OTP:</b></label>
                  <input class="form-control fstyle" type="text" name="contact" style="background-color: lightgray"
                    placeholder="OTP">
                </div>

              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer" style="background-color: #F7D488;">
          <button type="button" class="btn btn-primary fstyle">Save</button>
          <button type="button" class="btn btn-secondary fstyle" (click)="modal3.hide()">Close</button>
        </div>
      </div>
    </app-modal>


    <!--=========================== Modal 4 End ==========================================-->
    <app-modal #modal4>
      <div class='app-modal-body'>
        <div class="modal-header" style="background-color: #F7D488;">
          <h5 class="modal-title fstyle" style="color:#dc3545; text-align: center">Farword Scheme Details</h5>
          <button type="button" class="close fstyle" data-dismiss="modal" (click)="modal4.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 class="fstyle">Sattelment Type</h3>
          <div>
            <form #myForm="ngForm" (submit)="myForm.reset()" class="col-12">
              <div class="form-group">
                <label class="m-4 fstyle" (click)="modal2.show();modal1.hide();">
                  By Distributor</label>

              </div>
            </form>

            <form class="form-group col-12">
              <div>
                <h3 class="fstyle">Payment Method</h3>
                <!-- <label class="radio-inline m-4 "><input type="radio" name="optradio" checked>NEFT</label>
            <label class="radio-inline m-4"><input type="radio" name="optradio">RTGS</label>
            <label class="radio-inline m-4"><input type="radio" name="optradio">VPA</label> -->
                <label class="radio-inline m-4 fstyle"><input type="radio" name="optradio">Cash</label><br>

                <input type="text" name="amount" value="{{mprice}}" style="background-color: lightgray" disabled
                  value={{bookingDetails.winningPrice}} class="fstyle">
                <input class="ml-1" type="text" name="comment" style="background-color: lightgray"
                  placeholder="Comments" class="fstyle">
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer" style="background-color: #F7D488;">
          <button type="button" class="btn btn-primary fstyle" (click)="farwordClaim(bookingDetails.id)"
            >Save</button>
          <button type="button" class="btn btn-secondary fstyle" (click)="modal4.hide()">Close</button>
        </div>
      </div>
    </app-modal>


    <!--=========================== Modal 5 End ==========================================-->
    <!-- <app-history-modal #modal5>
        <div class='app-modal-body'>
           
            <div id="printSectionId" class="container">
                
              <div class="header mt-2" style="background-color: #933430;  ">
                  <button type="button" class="close fstyle" data-dismiss="modal" (click)="modal5.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                <div class="row">
                  <div class="col-md-4 float-left"> <img  src="assets/icons/newLogo.jpg"></div>
                  <div class="col-md-8 float-center mt-2">
                    <p class="fstyle" style=" color:white">Bhagya Shree</p>
                    <p class="fstyle"  style=" color:white">B.Date: {{ ticketBookingDate}}</p>
                    
                    <p class="fstyle"  style=" color:white">Draw TIme:{{ticketSlotTime}}</p>
                  </div>
                </div>
    
              </div>
              <div class="modal-body "style="overflow: scroll;    height: 220px">
                <section class="">
                <table >
                    <th style="text-align:center; " width="5%" scope="col" class="fstyle">Number</th>
                  <th style="text-align:right" width="5%" scope="col" class="fstyle">Qty</th>
                  <th style="text-align:center" width="5%" scope="col" class="fstyle">Amt</th>
                  <ng-container >        
                  <ng-container *ngFor="let item of TicketpreviewModal; ">                      
                      <tr class="table-active" style="text-align:center" class="fstyle">
                        <td><ng-container *ngIf="item.gherno<10">0{{item.gherno}}</ng-container>
                          <ng-container *ngIf="item.gherno >=10">{{item.gherno}}</ng-container></td>
                          <td style="text-align: right" width="5%">{{item.ticketNo}}</td>
                          <td style="text-align:center" width="5%">{{item.totalticketAmt}}</td>
                      </tr>
                      <tr class="table-light">
                          <td colspan="10">
                              <b style="font-size: 19px; font-weight: 700;" class="fstyle" >
                                  <ng-container *ngFor="let numbers of item.numbersSelected">
                                    <ng-container *ngIf="item.gherno<10">0{{item.gherno}}</ng-container>
                                    <ng-container *ngIf="item.gherno >=10">{{item.gherno}}</ng-container>
                                    <ng-container *ngIf="numbers<10">0{{numbers}}, </ng-container>
                                    <ng-container *ngIf="numbers >=10">{{numbers}}, </ng-container>
                                  </ng-container>
                                  </b>
                          </td>
                        </tr>
                  </ng-container>
                </ng-container>
                <div class="row">
                  <div class="col-9">
                    <div class="row">
                      <ng-container *ngFor="let num of ticketNumbers | keyvalue">
                        <div class="col-4">
                          <tr>
                            <td style="font-size: 20px;" class="style">{{num.key}}</td>
                            <td style="font-size: 20px;" class="style">({{num.value}})</td>
                          </tr>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                  <tr class="table-success">
                    <td style="text-align:center" width="5%" class="fstyle"> Total Amt</td>
                    <td style="text-align:center" colspan="8" width="5%" class="fstyle">{{ticketTotalPrice}}</td>
                  </tr>
                </table>
              </section>
              </div>
            </div>
            <div class="modal-footer"class="doNotPrint">
             
              <button type="button" class="btn btn-secondary" (click)="modal5.hide()"style="margin-left: 196px;background-color: #933430; margin-bottom: 10px;  ">Close</button>
            </div>
          </div>
    </app-history-modal> -->
    
    <app-history-modal #modal5>
      <div class='app-modal-body'>
        <div id="printSectionId" class="container" >
          <div class="header mt-1" style="background-color: #933430;  ">
            <div class="row">
              <div class="col-md-4 float-left"> <img src="assets/icons/newLogo.jpg"></div>
              <div class="col-md-8 float-center mt-2">
                <p class="fstyle" style=" color:white">Bhagya Shree</p>
                <p class="fstyle" style=" color:white">B.Date :{{today | date:'MMM d, y'}}</p>
                <p class="fstyle" style=" color:white">B.Time :{{today | date:'hh:mm a'}}</p>
                <!-- <p class="fstyle" style=" color:white">Draw TIme:{{matcham}}</p> -->
              </div>
              <!-- <div class="col-md-4 float-right">
                    <qrcode [qrdata]="myAngularxQrCode" [size]="100" [level]="'M'"></qrcode>
                  </div> -->
            </div>

          </div>
          <div class="modal-body ">
            <section class="section3">
              <table>
                <th style="text-align:center; " width="5%" scope="col" class="fstyle">Number</th>
                <th style="text-align:right" width="5%" scope="col" class="fstyle">Qty</th>
                <th style="text-align:center" width="5%" scope="col" class="fstyle">Amt</th>
                <ng-container *ngFor=" let sl of slots">
                  <tr>
                    <td colspan="10" style="text-align: center; "><b class="fstyle"> Time: </b>
                    </td>
                  </tr>
                  <ng-container >
                    <ng-container >

                      <tr class="table-active" style="text-align:center" class="fstyle">
                        <td>
                          <ng-container *ngIf="item.gherno<10" class="fstyle">0</ng-container>
                          <ng-container *ngIf="item.gherno >=10" class="fstyle"></ng-container>
                        </td>
                        <td style="text-align: right" width="5%" class="fstyle"></td>
                        <td style="text-align:center" width="5%" class="fstyle"></td>
                      </tr>
                      <tr class="table-light">
                        <td colspan="10">
                          <b style="font-size: 19px; font-weight: 700;" class="fstyle">
                            <ng-container >
                              <ng-container *ngIf="item.gherno<10" class="fstyle">0</ng-container>
                              <ng-container *ngIf="item.gherno >=10" class="fstyle"></ng-container>
                              <ng-container *ngIf="numbers<10" class="fstyle">0, </ng-container>
                              <ng-container *ngIf="numbers >=10" class="fstyle">, </ng-container>
                            </ng-container>
                          </b>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <tr class="table-success">
                  <td style="text-align:center" width="5%" class="fstyle"> T.Amt:--{{ticketTotalPrice}}</td>
                  <td style="text-align:center" colspan="8" width="5%" class="fstyle"></td>
                </tr>
              </table>
            </section>
          </div>
        </div>
        <div class="modal-footer" style="background-color: #933430;" class="doNotPrint">
          <button type="button" class="btn btn-secondary" (click)="modal5.hide()">Close</button>
        </div>
      </div>
    </app-history-modal>
  </div>
</main>