.hide {
  display: none;
}

// .rounded-input {
//   width: 50px;
//   height: 50px;
//   text-align: center;
// }
.img{
  
  margin-left: -110px;
  margin-top: -50px;
}

.login-back{
  background: #4169e1;
}

.text-orange{
  color: #4169e1;
}

.bg-orange {
  background: #4169e1;
}