<div class="login-back" style="height:100% ;overflow: hidden;">
  <div class="Login-Form">
    <div class="row mt-5" style="position:absolute;top: 10%;top: 4%;
    left: 49%;">
      <div class="col-md-12 img">
      <img src="assets/images/1.png" style="width: 239px;
      height: 69px;">
      </div>
      </div>
  <section class="login-form d-flex align-items-center justify-content-center h-100vh">
  <div class="bg-white p-5 form-wrap shadow-lg btn-pill w-25">
 
  <div class="row" style="margin-top: -30px;">
  <label style=" color: #4169e1; font-weight: 500;
  font-size: 26px;">&nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  JSG</label>
  
  </div>
  <div class="row">
  <!-- <label style=" text-align: center;font-weight: 600; color: #4169e1; margin-left: 41px;
  font-size: 16px;"> Govt of India Approved</label> -->
  
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  
  <div class="text-center mb-2">
  <h2 class="text-orange" style="margin-top: 20px;font-size: 24px;">Sign in</h2>
  </div>
  <div class="row">
  <div class="form-label-group col-md-12">
  <input type="email" formControlName="email" id="email" class="form-control bodered"
  placeholder="Phone Number">
  
  <label for="email-address">Email address/Phone No</label>
  </div>
  <div class="form-label-group col-md-12">
  <input type="{{type}}" class="form-control bodered fa fa-eye" placeholder="Password " formControlName="passwordHash"
  id="password"><span class="fa fa-eye" style="position: absolute;top: 36%;right: 10%;" (click)="changeType()"></span>
  <!-- <input type="password" name="password" id="myPassword" size="30" />
<img src="theicon" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" /> -->
  <label for="password">Password</label>
  </div>
  </div>
  <div class="row">
  <div class="col-md-5">
  </div>
  <div class="col-md-7 text-right">
  <p class="m-0">
  <a href="javascript:void(0);" (click)="openForgotPassword() " class="text-gray">
  <p>Forgot Password?</p>
  </a>
  </p>
  </div>
  </div>
  <button id="btnLogin" class=" btn-lg bg-orange text-white btn-block mt-1 " [disabled]="loading" type="submit">
  Sign in
  </button>
  <div class="col-md-12 mt-1 text-center ">
  <div class="row" style="height: 20px;">
  <b style="color: red;font-weight:600 ;margin-left: 34px;">{{error}}</b>
  </div>
  <div class="row" style="margin-top: 27px;
  width: 251px;">
  <span class="text-gray">By signing in, you agree to our
  <a href="javascript:void(0);" (click)="terms()" class="xen-red">Terms of Service</a> and
  <a href="javascript:void(0);" (click)="policy()" class="xen-red">Privacy Policy.</a>  
  </span>
  </div>
  <div class="row ml-5">
    <b>Version:{{appVersion}}</b> 
  </div>
  </div>
  </form>
  </div>
  </section>
  </div>
  <div class="Forget-Form hide">
  <section class="login-form d-flex align-items-center justify-content-center h-100vh ">
  <div class="bg-white p-5 form-wrap shadow-lg btn-pill w-25">
  
  <div class="text-center mb-5">
  <h2 class="text-orange">Forgot Password</h2>
  </div>
  <form class="m-form login" [formGroup]="loginForm" (ngSubmit)="resetUser()">
  <div class="form-label-group col-md-12">
  <input type="email" formControlName="email" id="email" class="form-control bodered"
  placeholder="enter your email id" [(ngModel)]="userModel.email">
  
  <label for="email-address">Email address/Phone No</label>
  </div>
  <div class="text-center" style="padding-top: 30px;">
  <button type="submit" class="btn btn-lg xen-btn button filled" class="btn btn-primary" [disabled]="loading"
  [ngClass]="{'m-loader m-loader--right m-loader--light': loading}">
  Request Link
  </button>
  </div>
  <div class="text-center" style="padding-top: 30px;">
  <button type="submit" class="btn btn-lg xen-btn button filled" class="btn btn-success" [disabled]="loading"
  (click)="openLoginForm()" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}">
  Login
  </button>
  </div>
  <div class="col-md-12 mt-5 text-center ">
  <span class="text-gray" >By signing in, you agree to our
  <a href="javascript:void(0);" (click)="terms()" class="xen-red">Terms of Service</a> and
  <a href="javascript:void(0);" (click)="policy()" class="xen-red">Privacy Policy.</a>
  </span>
  </div>
  <div class="row">
  <br>
  <span class="text-gray">
  Version:{{appVersion}}
  </span>
  
  </div>
  </form>
  
  </div>
  
  </section>
  </div>
  <div class="footer-copyright text-center py-3" style="margin-top: -58px;color: white;">© 2019-2020 Copyright:
  <a style="color: white;">JSG</a>
  </div>
  </div>
  
  
  <app-terms-modal #termsCondition>
  
  <div class='app-wallet-modal-body'>
  <div class="modal-header" >
  <h5 class="modal-title" style="color:#4169e1 ; text-align: center;font-weight: 600; font-size: 26px;">Terms and Conditions</h5>
  <button type="button" class="close" data-dismiss="modal" (click)="termsCondition.hide()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
  <div class="row">
  <div class="col-md-12">
  <label style="font-size: x-large;"> Their are expressly and emphatically restricted from all of the following:
  </label>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12">
  1.publishing any Website material in any media;
  </div>
  </div>
  <div class="row">
  <div class="col-md-12">
  2.selling, sublicensing and/or otherwise commercializing any Website material;
  </div>
  </div>
  <div class="row">
  <div class="col-md-12">
  3.publicly performing and/or showing any Website material;
  </div>
  </div>
  <div class="row">
  <div class="col-md-12">
  4.using this Website in any way that is, or may be, damaging to this Website;
  </div>
  </div>
  <div class="row">
  <div class="col-md-12">
  5.using this Website in any way that impacts user access to this Website;
  </div>
  </div>
  </div>
  <div class="modal-footer" >
  <button type="button" class="btn btn-secondary" (click)="termsCondition.hide()">Close</button>
  </div>
  </div>
  </app-terms-modal>
  
  <app-terms-modal #Policy>
  
  <div class='app-wallet-modal-body'>
  <div class="modal-header" >
  <h5 class="modal-title" style="color:#4169e1 ; text-align: center;font-weight: 600; font-size: 26px;">Privacy & Policies</h5>
  <button type="button" class="close" data-dismiss="modal" (click)="Policy.hide()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
  <div class="row">
  <div class="col-md-12">
  <label style="font-size: x-large;"> This privacy notice applies solely to
  information collected by this website. </label>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12">
  1. What personally identifiable information is collected from you through the website, how it is used and with whom it may be share
  
  </div>
  </div>
  <div class="row">
  <div class="col-md-12">
  2. What choices are available to you regarding the use of your data.
  
  </div>
  </div>
  <div class="row">
  <div class="col-md-12">
  3.publicly performing and/or showing any Website material;
  </div>
  </div>
  <div class="row">
  <div class="col-md-12">
  4.The security procedures in place to protect the misuse of your information.
  </div>
  </div>
  <div class="modal-footer" >
  <button type="button" class="btn btn-secondary" (click)="Policy.hide()">Close</button>
  </div>
  </div>
  </div>
  </app-terms-modal>
  