
<main class="col-md-10 ml-sm-auto col-lg-10 styles">
  <div class="px-4">
    <div class="row  border-bottom">
      <div class="col-md-11">
          <h3 class="  pb-2 mb-1 sticky-top" style="color: #933430;margin-top: -10px; z-index:0;  ">
              <b>Clients-App.Form-Report</b></h3>
      </div>
      <div class="col-md-1" >
        <button class="btn btn-danger" (click)="back();" style="margin-top: -10px;">Back</button>
      </div>
      
      </div>
      <!-- <div class="row mt-1 p-2 border-bottom">
        <div class="col-md-4">

        </div>
        <div class="topnav">
            <a class="active" >Home</a>
            <a >News</a>
            <a >Contact</a>
            <a >About</a>
          </div>
    </div> -->
<div class="row mt-4">
    <!-- <div class="col-md-3">
<input type="date" style="width: 100%;"[(ngModel)]="TodayDate"
[ngModelOptions]="{standalone: true}" >
    </div>
<div class="col-md-1">
    <button class="btn btn-danger" value="Submit">Submit</button>
</div> -->
<!-- <div class="col-md-1">
  <label style="font-weight: 600;">Name:-</label>
        
</div>
<div class="col-md-4">
    <label style="font-weight: 600;">Ayush Saxena(1000020010)</label>
</div> -->

<div class="col-md-4">
  <label style="font-weight: 600;">Slot-Time:-</label>
    <label style="font-weight: 600;">{{this.viewSlotsdrawTime}}</label>
</div>
<div class="col-md-6">

</div>
<div class="col-md-2">
  <button class="btn btn-danger" value="print" (click)="print();"> Print </button>
</div>
</div>
      <div class="row mt-5">

            <div class="col-md-12 anyClass">
            <div slimScroll size="5px" height="calc(100vh - 320px)">
            <table class="table ">
            <colgroup>
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">

        
            </colgroup>
            <thead>
            <th style="text-align: center;">App.Form/Time</th>
            <th style="text-align: center;">Form Id</th>
            <th style="text-align: center;">TotalPrice</th>
            <th style="text-align: center;">winningPrice</th>
            <!-- <th style="text-align: center;">View</th> -->

        
            </thead>
            <tbody class="bg">
            <tr  *ngFor= "let u of SlotsDetails">
            <td style="text-align: center;">{{u.createDate}}</td>
            <td style="text-align: center;">{{u.ticketId}}</td>
            <td style="text-align: center;">{{u.totalPrice}}</td>
            <td style="text-align: center;">{{u.winningPrice}}</td>
            <!-- <td  style="text-align: center;"><a class="fa fa-eye" (click)="Details()"></a></td> -->

        
            </tr>
            
            </tbody>
            </table>
            </div>
            </div>
            
    </div>
  </div>
  </main>
