<div     ng-controller="myListCtrl" ui-keypress="{ 38:'say()', 40:'say()', 13:'say()' }">
  <!-- <div  *ngIf="disablebooking==1" > -->
    <div class="div">
  <main class="col-md-11 ml-sm-auto col-lg-11 " style="background: lightgray;
    position: absolute;
    left: 9%;
    top: 7%;
    overflow: hidden;">
    <div class="px-4">
      <!-- <h1 class="page-heading-wrap bg-white  border-bottom sticky-top"> Booking</h1> -->
      <div class="row mt-3">
        <div class="col-md-9">
          <section class="login-form d-flex align-items-center ">
            <div class="bg-white p-1 form-wrap shadow-lg " style="width: 100%;
              height: 93px;margin-top: -15px;">
              <div class="col-md-7">
                <div class="anyClass" style="margin-left: -12px;">

                  <ng-container *ngFor="let u of getreverseLuckyArray">
                    <ng-container *ngIf="u.status==1">
                      <button class="btn m-1 " style="color: white; background:#4169e1;  border-color: black;width: 66px;
                          font-weight: 600;
                          height: 36px;
                          font-size: 18px;">
                        <ng-container *ngIf="u.gherno<10">0{{u.gherno}}</ng-container>
                        <ng-container *ngIf="u.gherno >=10">{{u.gherno}}</ng-container>
                        <ng-container *ngIf="u.luckyno<10">0{{u.luckyno}} </ng-container>
                        <ng-container *ngIf="u.luckyno >=10">{{u.luckyno}}</ng-container>
                      </button>
                    </ng-container>
                    <ng-container *ngIf="u.status==2">
                      <button class="btn m-1 btn-secondary" style="  background: #4169e1; border-color: black; width: 66px;
                          font-weight: 600;
                          height: 31px;
                          font-size: 17px;">
                        <ng-container *ngIf="u.gherno<10">0{{u.gherno}}</ng-container>
                        <ng-container *ngIf="u.gherno >=10">{{u.gherno}}</ng-container>
                        <ng-container *ngIf="u.luckyno<10">0{{u.luckyno}} </ng-container>
                        <ng-container *ngIf="u.luckyno >=10">{{u.luckyno}}</ng-container>
                      </button>

                    </ng-container>
                  </ng-container>

                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col-md-3">
          <section class="login-form d-flex align-items-center ">
            <div class="bg-white p-1 form-wrap shadow-lg newDesign4" style="height: 93px; position: absolute;
              top: -15px;left: -3%;width: 106%;">
              <div class="row">
                <div class="col-md-4">
                  <div class="row text-center ml-1 mt-1" style="color:#7e13e2; font-size: 15px; font-weight: 600;">
                    Last Tr No.
                  </div>
                  <div class="row text-center ml-1 mt-1"
                    style="color: #7e13e2; font-size: 15px;  font-weight: 600; font-style: inherit; margin-top: 3px; ">
                    Last Amt.
                  </div>
                  <div class="row mt-1 ml-1">
                    <button toggle="#password-field" class="  field-icon btn-primary"
                      style="height: 32px; width: 84%;    font-weight: 600; font-size: 9px;" (click)="togleamount()">
                      Amount <br>(Ctrl+A)</button>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row text-center ml-1" style="color: #7e13e2; font-size: 17px; font-weight: 600;">
                    {{lastid}}
                  </div>
                  <div class="row text-center ml-1"
                    style="color: #7e13e2; font-size: 17px; font-weight: 600; margin-top: 3px; ">
                    {{previoustrans}}
                  </div>
                  <div class="row mr-1">
                    <input id="password-field" type={{type}} class="form-control" style="width: 84%; height:32px;
                              border-color: #7e13e2; font-weight: 600;position: absolute;
                              top: 62%;left:-4%; font-size: 17px;" disabled name="password" value="{{amtvalue}}">
                  </div>
                </div>
                <div class="col-md-4">

                  <div class="row  mr-1">
                    <button  hidden class=" btn-danger s" style="height: 29px;width: 93px;font-size: 11px;
                        font-weight: 600;border-radius: 4px;" (click)="cancelPreview()"> Cancle(Ctrl+C)</button>
                  </div>
                  <div class="row mr-1">
                    <button class=" btn-primary" style="height: 29px;width: 93px;font-size: 11px;
                    font-weight: 600;margin-top: 3px;border-radius: 4px;" (click)="openClaimModal()">Scheme
                      </button>
                      <!-- <input type="text" style="height: 29px;width: 93px;font-size: 11px;
                      font-weight: 600;margin-top: 3px;border-radius: 4px;"(change)="text($event)" 
                        > -->
                  </div>
                  <div class="row " style="color:#933430; font-size: 17px; font-weight: 600;">
                    <ng-container *ngIf="showamt==true">

                      <button class="btn-warning"
                        style="height: 26px; width: 91px; font-size: 12px; font-weight: 600; margin-top: 3px; text-align: left;">
                        Balance Low</button>
                    </ng-container>
                    <ng-container *ngIf="showamt==false">

                    </ng-container>
                  </div>

                </div>

              </div>
            </div>
          </section>
        </div>
        <!-- <div class="col-md-2" style="width: 100%;">
              <section class="login-form d-flex align-items-center ">
                <div class="bg-white p-2 form-wrap shadow-lg newDesign4" style="height: 130px;">
      
      
                </div>
              </section>
            </div> -->
      </div>
      <div class="row mt-1">
        <div class="col-md-4">
          <section class="login-form d-flex align-items-center ">
            <div class="bg-white p-2 form-wrap shadow-lg  " style="height: 490px;width: 100%;">

              <div class="">
                <h5 class=" " style="color:  #4169e1; padding-bottom: 30px;">Item</h5>
                <button *ngIf="allgherstatus==2" class="btn btn-primary" style="float: left; width: 40px; height: 30px; font-size: 15px; margin-top: -33px;"  autofocus (click)="allgher()">All</button>
                <button *ngIf="allgherstatus==1" class="btn btn-outline-primary" style="float: left; width: 40px; height: 30px; font-size: 15px;  margin-top: -33px;"  (click)="allgher()">All</button>
                <img  src="assets/images/cho.png" style="height: 68px; margin-left: 45px; margin-top: -94px; width:50px">
                <img  src="assets/images/jally.png" style="height: 68px; width:90px; margin-left: 36px; margin-top: -96px;">
                <img  src="assets/images/candy.png" style="height: 66px; width:55px; margin-left: 30px; margin-top: -96px;">
                <!-- <h5 class=" " style="color:  #4169e1;margin-left: 60px; padding-bottom: 30px;">Item Code  </h5> -->
                <h6 class=" " style="color:  #4169e1; margin-top: -285px; margin-left: -115px;  font-size: 14px;  transform: rotate(90deg); text-align: right">10-40 <br> chocklet</h6>
                <h6 class=" " style="color:  #4169e1;  margin-left: 122px; margin-top: 85px; font-size: 14px;  transform: rotate(90deg); text-align: right">41-70 <br>Jally</h6>
                <h6 class=" " style="color:  #4169e1; margin-left: 304px; margin-top: 60px; font-size: 14px;  transform: rotate(90deg) ; text-align: left">71-00 Candy </h6>
              </div>
              <table class="table" style="position: absolute; width: 10px; margin-left:  -2px; margin-top: 17px;">
                <tr   *ngFor=" let item of gherNumber;">
                  <td> 


                    <button *ngIf="item.status=='1'" class="btn btn-outline-primary all_gher_single_row "
                      (click)="rowgher(item.value)" id="btn5" style="width:23px; height: 34px;"></button>
                    <button *ngIf="item.status=='2'" class="btn btn-primary fa fa-check all_gher_single_row" (click)="rowgher(item.value)"
                      id="btn5"></button>
                  </td>
                </tr>
              </table>
              <table class=" mt-4 ml-4 " >
                <ng-container>
                  <tr *ngFor="let item of modelFirst;">
                    <td *ngFor="let number of item;"> 
                      <button *ngIf="number.status=='active'" class="btn btn-primary my-navigable-element " id="btn4"
                        (click)="isKeyPressed($event, number)">{{number.name}}</button>
                      <button *ngIf="number.status=='inactive'" (click)="selectedNumber(number)" 
                        (click)="isKeyPressed($event, number)" (click)="getluckyNumber(number)"
                        class="btn btn-outline-primary my-navigable-element " autofocus id="allgher">{{number.name}}</button>
                      <button *ngIf="number.status=='gray'" (click)="selectedNumber(number)"
                        class="btn btn-secondary btn4 my-navigable-element " (click)="isKeyPressed($event, number)"
                        id="btn4">{{number.name}}</button>
                    </td>
                  </tr>
                </ng-container>
              </table>
            </div>
          </section>
        </div>
        <div class="col-md-5">
          <section class="login-form d-flex align-items-center ">
            <div class="bg-white p-2 form-wrap shadow-lg  " style="height: 490px;
              line-height: 0.5;margin-left: -5%;width: 106%">
              <div class=" ">
                <!-- <input type="radio" value="Odd"> Odd
                <input type="radio" value="Odd">Even
                 -->

                <!-- <div class=" bg-secondary text-white "> -->
                <div class=" text-center">
                  <h5 style="color: royalblue;">Product MRP</h5>
                </div>
                <!-- </div> -->
                <div *ngFor=" let item of frontNumber;" class="mt-2 ml-5">
                  <div>
                    <div class="btn-group-vertical left  ">
                      <button type="text "  value="B" class=""
                        style="width: 32px;height: 17px; color: #4169e1; font-size: 15px; font-weight: 600; text-align: center; border: none; background-color: white; " id="back_number" class="back_number_row ">B</button>
                      <input  type="number"   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="3"   (change)="back($event)" (click)="backNumber(item.value)"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="BackModel[item.value]"
                        style="width: 32px;height: 17px;" class="back_number_row"  id="back_number">
                    </div>
                  </div>
                </div>
                <table cellspacing="0" cellpadding="0" id="page">
                  <ng-container>
                    <tr *ngFor="let item of modelSecond; let i=index">
                      <td> <button type="text" class="text-center front_number_row"  value="F"
                          style="width: 32px;height: 17px;  color: #4169e1; font-size: 15px; font-weight: 600; text-align: center; border: none; background: none;" id="front_number_id">F</button>
                        <input  type="number"   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="3" class="right "  style="width: 34px;
                          margin-right: 5px;height: 17px;" id="front_number" (change)="first($event)"
                          [(ngModel)]="secondModelFirstValues[i]" (click)="firstNumber(i)">
                      </td>
                      <td *ngFor="let number of item;">
                        <!-- <button *ngIf="number.status=='active'" class="btn btn-primary" (click)="FNumber(number.value)"
                                id="btn1">{{number.name}}</button>
                              <button *ngIf="number.status=='inactive'" class="btn btn-outline-primary" id="btn1"
                                (click)="FNumber(number.value)">{{number.name}}</button>
                              <button *ngIf="number.status=='change'" class="btn btn-secondary" id="btn1"
                                (click)="FNumber(number.value)">{{number.name}}</button>
                              <button *ngIf="number.status=='yellow'" (click)="FamilysingleNumber(item.value)"
                                class="btn btn-warning" id="btn1" (click)="FNumber(number.value)">{{number.name}}</button>
                              <button *ngIf="number.status=='danger'" class="btn btn-danger" id="btn1"
                                (click)="FNumber(number.value)">{{number.name}}</button>
                              <button *ngIf="number.status=='dark'" class="btn btn-dark" (click)="FNumber(number.value)"
                                id="btn1">{{number.name}}</button> -->
                        <button *ngIf="number.status=='active'" style="border: none;width: 32px;
                          height: 18px;
                          font-size: 15px;" class="btn btn-primary single_number" (click)="FNumber(number.value)"
                          id="btn1">{{number.name}}</button>
                        <button *ngIf="number.status=='inactive'" style="border: none;width: 32px;
                          height: 18px;
                          font-size: 15px;" class="btn btn-outline-primary single_number"  id="numb"
                          (click)="FNumber(number.value)">{{number.name}}</button>
                        <button *ngIf="number.status=='change'" style="border: none;width: 32px;
                          height: 18px;
                          font-size: 15px;" class="btn btn-primary single_number" id="btn1"
                          (click)="FNumber(number.value)">{{number.name}}</button>
                        <!-- <button *ngIf="number.status=='yellow'" style="border: none;width: 32px;
                          height: 18px;
                          font-size: 15px;" (click)="FamilysingleNumber(item.value)" class="btn btn-danger" id="btn1"
                          (click)="FNumber(number.value)">{{number.name}}</button> -->
                          <button *ngIf="number.status=='yellow'" style="border: none;width: 32px;
                          height: 18px;
                          font-size: 15px;"  class="btn btn-primary single_number" id="btn1"
                          (click)="FNumber(number.value)">{{number.name}}</button>
                        <button *ngIf="number.status=='danger'" style="border: none;width: 32px;
                          height: 18px;
                          font-size: 15px;" class="btn btn-primary single_number" id="btn1"
                          (click)="FNumber(number.value)">{{number.name}}</button>
                        <button *ngIf="number.status=='dark'" style="border: none;width: 32px;
                          height: 18px;
                          font-size: 15px;" class="btn btn-primary single_number" (click)="FNumber(number.value)"
                          id="btn1">{{number.name}}</button>
                        <ng-container *ngFor="let buttonValues of buttonsList">
                          <ng-container *ngIf="buttonValues.type == 'single'">
                            <input type="number"   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="3" class="even tableDesign"
                              id=secondModelValues{{number.value}} (change)="singleSelection(number.value)"
                              [(ngModel)]="secondModelValues[number.value]" class="single_number" style="width: 30px; height: 15px; font-weight: 600; font-size: 13px;" >
                          </ng-container>
                        </ng-container>
                      </td>
                    </tr>
                  </ng-container>
                </table>
                <div class="row mt-3 ml-2">
                  <div class="row" style="margin-left: 6px;
                      margin-top: -12px">

                    <div class="col-md-12">
                      <div *ngFor="let buttonValues of buttonsList" class=" mr-2  btn-group-vertical">
                        <button *ngIf="buttonValues.type == 'even'" type="button" class="btn btn-primary" id="btn3"
                          style="width: 62px;
                            height: 23px; font-weight: 600; font-size: 12px; align-content: center;">{{buttonValues.name}}</button>
                        <button *ngIf="buttonValues.type == 'odd'" type="button" class="btn btn-secondary" id="btn10"
                          style="width: 62px;
                            height: 23px; font-weight: 600; font-size: 12px; align-content: center;">{{buttonValues.name}}</button>
                        <button *ngIf="buttonValues.type == 'right'" type="button" class="btn btn-danger" id="btn11"
                          style="width: 62px;
                            height: 23px; font-weight: 600; font-size: 12px; align-content: center;">{{buttonValues.name}}</button>
                        <button *ngIf="buttonValues.type == 'left'" type="button" class="btn btn-dark" id="btn12"
                          style="width: 62px;
                            height: 23px; font-weight: 600; font-size: 12px; align-content: center;">{{buttonValues.name}}</button>
                        <button *ngIf="buttonValues.type == 'family'" type="button" class="btn btn-warning" id="btn13"
                          style="width: 62px;
                            height: 23px; font-weight: 600; font-size: 12px; align-content: center;">{{buttonValues.name}}</button>
                        <button *ngIf="buttonValues.type == 'all'" type="button" class="btn btn-info" id="btn3"
                          style="width: 62px;
                            height: 23px; font-weight: 600; font-size: 12px; align-content: center; ;">{{buttonValues.name}}</button>
                        <div *ngIf="buttonValues.type != 'single'" class="input-group mb-3">
                          <input type="number"   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="3" class="form-control" id="buttonModel{{buttonValues.typeid}}"
                            (change)="eventicketNumber(buttonValues.typeid,buttonValues.typeid)"
                            [(ngModel)]="buttonModel[buttonValues.typeid]" [ngModelOptions]="{standalone: true}"
                            style="width: 62px; height:23px ; font-size: 12px; border-color: black; border-width: 2px;">
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col-md-3">
          <section class="login-form d-flex align-items-center ">
            <div class="bg-white p-2 form-wrap shadow-lg"
              style="padding: 2.39rem !important; height: 490px;width:319px; margin-left: -24px; ">
              <!-- <div class="col-md-3"> -->
              <!-- <div class=" bg-secondary text-white "> -->
              <div class=" text-left">
                <h3 style="color: black; margin-top: -35px;font-size: 14px; font-weight: 600;">
                  {{today | date:'MMM d, y'}} {{today | date:'H:mm:ss'}} </h3>
                <div class="row">                 
                  <button type="button" class="btn btn-primary"
                    style="  width: 110px;
                    margin-left: -20px; color: white; border-color: black; border-width: 2px;"
                    [(disabled)]="isDisabled">Grand Total</button>
                    <span class="input-group-text" id="basic-addon3"
                    style=" width:85px;color: #0c4586; border-color:#4169e1; border-width: 2px; background: white ; font-weight: 600;">{{grandtotal}}</span>
                    <button type="button" class="btn btn-primary fa fa-trash"
                    style="    font-size: 13px;
                    font-weight: 600;
                    color: white;
                    border-color: black;
                    border-width: 2px;
                    position: absolute;
                    left: 66%;
                    width: 85px;
                    height: 39px;
                    margin-left: -2px;"
                    (click)="reset()">&nbsp; Ctrl+D</button>
                  </div>
       
              </div>
    
              <table class="table table-bordered table-striped mb-1 " style="border-width: 2px;    margin-left: -30px;
              width: 125%;margin-top:20px">
                <th style="font-size: 13px; font-weight: 600; color:#4169e1 ; ">No.(Count)</th>
                <!-- <th></th> -->
                <th style="font-size: 13px; font-weight: 600; color:#4169e1 ;">Qty</th>
                <!-- <th></th> -->
                <th style="font-size: 13px; font-weight: 600; color:#4169e1 ;">Amount</th>
                <!-- <th></th> -->
              </table>
              <div class="section3">
                <table class="table table-bordered table-striped mb-1 " style="border-width: 2px;">
                  <ng-container *ngFor="let item of billModel; index as i">
                    <ng-container *ngFor="let values of item.values;index as i2">
                      <tr>
                        <td style="font-size: 15px; font-weight: 600; color:#4169e1 ;width: 54%;">
                          <b style="font-size: 15px; font-weight: 600;">
                            <ng-container *ngIf="item.gherno<10">0{{item.gherno}} C({{values.count}})</ng-container>
                            <ng-container *ngIf="item.gherno >=10">{{item.gherno}} C({{values.count}})</ng-container>
                          </b>
                        </td>
                        <td width="5%" style="text-align:right"><i class="fa fa-minus-circle" (click)="minus(values) "
                            style="color: red"></i></td>
                        <td style="text-align: center" width="5%"><b
                            style="font-size: 15px; font-weight: 600;">{{values.ticketNo}}</b></td>
                        <td width="5%"> <i class="fa fa-plus-circle" (click)="plus(values)" style="color: green"></i>
                        </td>
                        <td style="text-align:center" width="5%"><b
                            style="font-size: 15px; font-weight: 600;">{{values.totalticketAmt}}</b></td>
                        <td width="20%" style="text-align:center"><i class="fa fa-window-close"
                            (click)="delete(i, i2, item)" style="color: rgb(87, 83, 83)"></i></td>
                      </tr>
                      <tr>
                        <td colspan="12"><b style="font-size: 15px; font-weight: 600;">
                            <ng-container *ngFor="let numbers of values.numbersSelected">
                              <ng-container *ngIf="item.gherno<10">0{{item.gherno}}</ng-container>
                              <ng-container *ngIf="item.gherno >=10">{{item.gherno}}</ng-container>
                              <ng-container *ngIf="numbers<10">0{{numbers}}, </ng-container>
                              <ng-container *ngIf="numbers >=10">{{numbers}}, </ng-container>
                            </ng-container>
                          </b>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </table>
              </div>

              <div class="design mt-1" style="margin-left: -25px;">
                <ng-container>
                  <div class="input-group-prepend ">
                    <!-- <button type="button" class="btn btn-danger fa fa-trash"
                      style="font-size: 15px; font-weight: 600;  color: white; border-color: black; border-width: 2px;"
                      (click)="reset()">&nbsp; Ctrl+D</button> -->
                    <ng-container *ngIf="disableprint==false">
                      <button type="button" class="btn btn-primary fa fa-print"
                        style="font-size: 15px; font-weight: 600;  color: white; border-color: black; border-width: 2px;"
                        (click)="saverepo()" [(disabled)]="isDisabled">&nbsp; Ctrl+P</button>
                    </ng-container>

                    <span class="input-group-text" id="basic-addon3"
                      style="font-size: 15px; color: #0c4586; border-color:#4169e1; border-width: 2px; background: white ; font-weight: 600;">T.Amt</span>
                    <div class="col-sm-10">
                      <span class="input-group-text" id="basic-addon3"
                        style="font-size: 15px; font-weight: 600; border-width: 2px; color: #000000; border-color:#000000; background: white ; width: 95px; height: 46px;"><b>{{totalModel.total}}</b></span>
                      <!-- <input class=" form-control total" type="text" [(ngModel)]="totalModel.total"
                                [ngModelOptions]="{standalone: true}" readonly style="width: 80px;" style="border: black; background: white;"  ngModel maxlength="2"> -->
                    </div>
                  </div>
                </ng-container>


              </div>
            </div>
            <!-- </div> -->
          </section>
        </div>
      </div>
      <div>
      </div>
      <div class="row mt-1" style="height: 108px;">
        <div class="col-md-12">
          <section class="login-form d-flex align-items-center ">
            <div class="bg-white p-2 form-wrap shadow-lg" style="    width: 1744px;
                margin-right: -36px;height: 120px;">
              <div class="row ml-3 mt-3 md-2">
                <div class="col-md-1" >
                  <button type="button" class=" btn btn-outline-primary"
                    style="font-size: 15px; font-weight: 600; margin-top: -40px; margin-left: -33px; width: 88px; height: 28px; text-align: justify;">F-Slot</button>
                  <button type="button" style="margin-top: -88px; margin-left: 38px;font-size: 15px;    width: 42px;
                  height: 33px; text-align: left;"
                    class=" btn btn-primary button button5">{{countslot-leftslot}}</button>
                  <button type="button" style="    font-weight: 600;
                  font-size: 14px;
                  margin-top: -76px;
                  margin-left: -33px;
                  width: 93px;
                  height: 26px;" class=" btn btn-outline-primary fa fa-ticket" (click)="preview()">&nbsp;Ctrl+T</button>
                   <button *ngIf="allButton == 0" type="button" style="font-weight: 600;font-size: 14px;margin-top: -68px;margin-left: -33px;width: 44px;height: 26px;"
                    class=" btn btn-outline-primary" (click)="allSlotTime()" >All</button>
                    <button *ngIf="allButton == 1" type="button" style="font-weight: 600;font-size: 14px;margin-top: -68px;margin-left: -33px;width: 44px;height: 26px;"
                    class=" btn btn-primary" (click)="allSlotTime()" >All</button>
                   <input type="number" style="font-weight: 600;font-size: 14px;margin-top: -68px;margin-left: 5px;width: 44px;height: 26px;"
                  [(ngModel)]="textValue" [ngModelOptions]="{standalone: true}" (change)="valuechange($event)"class=" btn btn-outline-primary" >
                  <!-- <button  type="button" style="font-weight: 600;font-size: 14px;margin-top: -68px;margin-left: -33px;width: 44px;height: 26px;"
                  class=" btn btn-danger" (click)="onChange()" >do</button> -->
                </div>
                <div class="col-md-11">
                  <div class="row">
                    <div   *ngFor="let time of bookingslot;">
                      <div class="veta">
                        <ng-container *ngIf="!existInSlots(time)">
                          <button *ngIf="time.startTime >= matchtime" type="button" class="btn btn-outline-primary mr-1"
                            id="advance" style="width:85px; font-size: 15px; font-weight: 600; margin-top: -45px;"
                            (click)="addtime(time)">{{time.drawTimeAm}}</button>
                        </ng-container>
                      </div>
                        <div class="cheta">
                          <ng-container *ngIf="existInSlots(time)">
                            <button type="button" class="btn btn-primary mr-1" id="advance"
                              style="width: 85px; font-size: 15px; font-weight: 600; margin-top: -45px;"
                              (click)="addtime(time)">{{time.drawTimeAm}}</button>
                          </ng-container>
                        </div>
<!--                      
                        <div class="neta  hide" >
                          <ng-container *ngIf="!existInSlots(time)">
                            <button *ngIf="time.startTime >= matchtime" type="button" class="btn btn-danger mr-1"
                              id="advance" style="width:85px; font-size: 15px; font-weight: 600; margin-top: -45px;"
                              (click)="addtime(time)">{{time.drawTimeAm}}</button>
                          </ng-container>
                        </div> -->
                        
                      </div>
                    <!-- <div class="" *ngFor="let time of bookingslot;">
                      <ng-container *ngIf="!existInSlots(time)">
                        <button type="button" class="btn btn-outline-danger mr-1" id="advance"
                          style="width:76px; font-size: 13px; font-weight: 600; margin-top: -45px;"
                          (click)="addtime(time)">{{time.drawTimeAm}}</button>
                      </ng-container>
                      <ng-container *ngIf="existInSlots(time)">
                        <button type="button" class="btn btn-danger mr-1" id="advance"
                          style="width: 76px; font-size: 13px; font-weight: 600; margin-top: -45px;"
                          (click)="addtime(time)">{{time.drawTimeAm}}</button>
                      </ng-container>

                    </div> -->
                  </div>
                </div>
              
              </div>
             
            </div>
         
          </section>
         
        </div>
      </div>

      <app-modal #modal1>
        <div class='app-modal-body'>
          <div class="modal-header" style="background-color: #4285F4;">
            <h5 class="modal-title" style="color:#ffffff; text-align: center">Verify YourSelf</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="row">

              <div class=" col-3">
                <!-- <label for="exampleInputEmail1" style="color:#dc3545;">PhoneNo</label>
                      <input type="text" class="form-control" id="productName" aria-describedby="emailHelp"
                        placeholder="Enter phone Number" [(ngModel)]="loginModel.username"
                        [ngModelOptions]="{standalone: true}"  required> -->

              </div>
              <div class="form-group col-6">
                <label for="exampleInputPassword1" class="text-center"
                  style="color:#4285F4; align-content: center; text-align: center; margin-left: 100px; font-size: 17px;">
                  Enter Your Password</label>
                <input type="password" class="form-control" id="manufacture" [(ngModel)]="loginModel.password"
                  [ngModelOptions]="{standalone: true}" required>
              </div>
              <div class=" col-3">

              </div>
            </form>
          </div>
          <div class="modal-footer" style="background-color: #4285F4;">
            <button type="button" class="btn btn-primary" (click)="checkLogin()">Check</button>
            <button type="button" class="btn btn-secondary" (click)="modal1.hide()">Close</button>
          </div>
        </div>

      </app-modal>

      <app-modal #modal3>
        <div class='app-modal-body'>
          <div class="modal-header" style="background-color: #F7D488;">
            <h5 class="modal-title" style="color:#4285F4; text-align: center">Verify YourSelf</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="row">

              <div class="form-group col-md-3"></div>
              <div class="form-group col-md-6">
                <p style="color: brown;"> Username and Password is nt correct</p>

              </div>
              <div class="form-group col-md-3"></div>
            </form>
          </div>
          <div class="modal-footer" style="background-color: #F7D488;">
            <!-- <button type="button" class="btn btn-danger" (click)="checkLogin()">Check</button> -->
            <button type="button " style="align-content: center;" class="btn btn-secondary"
              (click)="modal3.hide()">Close</button>
          </div>
        </div>

      </app-modal>


      <app1-modal #modal4>
        <div class='app-modal-body' style="margin-left: 120px;">

          <div class="modal-body">
            <form class="row">

              <div class="form-group col-md-3"></div>
              <div class="form-group col-md-6">




                <img src="/assets/icons/pp.jpg">
                <div>
                  <b style="font-size: 30px; color: white;">Result is Processing...</b>
                </div>

              </div>
              <div class="form-group col-md-3"></div>
            </form>
          </div>
          <!-- <div class="modal-footer" >
               
                <button type="button" class="btn btn-secondary" (click)="modal4.hide()">Close</button>
              </div> -->
        </div>

      </app1-modal>

      <ticket-modal #modal2>
        <div class='app-modal-body'>
          <div id="printSectionId" class="container">
            <div class=" mt-1" style="background-color: #4285F4; height: 110px;">
              <div class="row">
                <div class="col-md-4 float-left" style="font-size: larger; color: black; font-weight: 600;">  JSG</div>
                <div class="col-md-8 float-center mt-2">
                  <b class="fstyle" style=" color:white;  font-size: 24px; font-weight: 600;"></b><br>
                  <b class="fstyle" style=" color:white; font-weight: 600; text-align: center;"></b>
                </div>
                <div class="row" >
                    <b style="color:white; font-size: 14px; margin-left: 28px; ">&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;JAI SHREE GANESHA</b>
                    <b style="color:white; font-size: 14px; margin-left: 28px; margin-top: -5px; margin-bottom: 10px; ">Created Date: {{today | date:'MMM d, y'}}{{today | date:'hh:mm a'}}</b>
                </div>
                <!-- <img src="assets/icons/newLogo.jpg">
              <div style="  float: left; margin-top: 45px; font-size: 26px;margin-left: 11px; font-weight: 600;"><b
                  style="font-size: 29px;">Govt of India</b><br>
                <b style="margin-left:45px; font-size: 26px;">Approved</b>
              </div> -->
                <!-- <div class="col-md-4 float-right">
                      <qrcode [qrdata]="myAngularxQrCode" [size]="100" [level]="'M'"></qrcode>
                    </div> -->
              </div>

            </div>
            <div class="modal-body ">
              <section class="section3">
                <table>
                  <th style="text-align:center; " width="5%" scope="col" class="fstyle">Number</th>
                  <th style="text-align:right" width="5%" scope="col" class="fstyle">Qty</th>
                  <th style="text-align:center ; color: #4285F4;" width="5%" scope="col" class="fstyle">Amt</th>
                  <ng-container *ngFor=" let sl of slots">
                    <tr>
                      <td colspan="10" style="text-align: center; "><b class="fstyle">Time: {{sl.drawTimeAm}}</b>
                      </td>
                    </tr>
                    <ng-container *ngFor="let item of previewModal; index as i">
                      <ng-container *ngFor="let values of item.values;index as i2">

                        <tr class="table-active" style="text-align:center" class="fstyle">
                          <td style="font-weight: 700; font-size: 19px;">
                            <ng-container *ngIf="item.gherno<10" class="fstyle">0{{item.gherno}}</ng-container>
                            <ng-container *ngIf="item.gherno >=10" class="fstyle">{{item.gherno}}</ng-container>
                          </td>
                          <td style="text-align: right; font-weight: 700; font-size: 19px;" width="5%" class="fstyle">{{values.ticketNo}}</td>
                          <td style="text-align:center; font-weight: 700; font-size: 19px; color: #4285F4;" width="5%" class="fstyle">{{values.totalticketAmt}}</td>
                        </tr>
                        <tr class="table-light">
                          <td colspan="10">
                            <b style="font-size: 19px; font-weight: 700;" class="fstyle">
                              <ng-container *ngFor="let numbers of values.numbersSelected">
                                <ng-container *ngIf="item.gherno<10" class="fstyle">0{{item.gherno}}</ng-container>
                                <ng-container *ngIf="item.gherno >=10" class="fstyle">{{item.gherno}}</ng-container>
                                <ng-container *ngIf="numbers<10" class="fstyle">0{{numbers}}, </ng-container>
                                <ng-container *ngIf="numbers >=10" class="fstyle">{{numbers}}, </ng-container>
                              </ng-container>
                            </b>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                     <tr class="table-success">
                    <td style="text-align:center; font-weight: 700; font-size: 19px;" width="5%" class="fstyle">Form value</td>
                    <td style="text-align:center; font-weight: 700; font-size: 19px;" colspan="8" width="5%" class="fstyle">{{totalModel.tickettotal}}</td>
                  </tr>
                  </ng-container>
                  <tr style="background-color: #4285F4;">
                    <td style="text-align:center; font-weight: 700; font-size: 22px; color: aliceblue;" width="5%" class="fstyle"> Sub Total</td>
                    <td style="text-align:center; font-weight: 700; font-size: 22px; color: aliceblue;" colspan="8" width="5%" class="fstyle">{{this.previewModel.total}}</td>
                  </tr>
                </table>
              </section>
            </div>
          </div>
          <div class="modal-footer" style="background-color: #4285F4;" class="doNotPrint">
            <!-- <button type="button" class="btn btn-danger" id="print" (click)="ticpre()">Print</button> -->
            <button type="button" class="btn btn-secondary" (click)="modal2.hide()">Close</button>
          </div>
        </div>
      </ticket-modal>
      <ticket-modal #modal5>
        <div class='app-modal-body'>
          <div id="printSectionId" class="container">
            <ng-container *ngFor="let can of canceltickethistory">
            <div class=" mt-1" style="background-color:blue; height: 100px;">
              <div class="row">
                <img style="height: 70px;
                width: 176px;
                margin-top: 25px;
                margin-left: 61px;" src="./assets/images/Untitled.png">
                <!-- <div style="  float: left; margin-top: 45px; font-size: 26px;margin-left: 11px; font-weight: 600;"><b
                    style="font-size: 29px;">Govt of India</b><br>
                  <b style="margin-left:45px; font-size: 26px;">Approved</b>
                </div> -->
              </div>
              <div class="row">
                <div class="col-md-12">
                  <b style="font-size: 22px;"> &nbsp; &nbsp; &nbsp; &nbsp;JAI SHREE GANESHA</b>
                </div>
              </div>

            </div>
            <div class="row">
              <b style="font-weight: 600; font-size: 30px; margin-left: 15px;">Are You Sure, to cancel this Form?</b>
            </div>
            <div class="row">
              <div class="col-md-12">
                <b style="font-size: 17px;">  Date: {{can.bookingDate}} {{can.drawTimeAm}}</b>
              </div>
            </div>
            <div class="row" style="text-align: center;">
              <b style="margin-left: 70px;"> Quantity(Number)</b>
             
            </div>
            <div class="modal-body ">
              <section class="section3">
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <ng-container *ngFor="let num of can.ticketNumbers | keyvalue">
                        <div class="col-4">
                          <tr>
                            <td class="style" style="font-size: 17px; font-weight: 600;">{{num.key}}</td>
                            <td class="style"   style="font-size: 17px; font-weight: 600;">({{num.value}})</td>
                          </tr>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>

                <b>Per Form Price Rs.{{getPriceModel.singlePrice}}</b> <br>
                <b>Total :{{can.totalPrice}} </b> <br>
                <b>Total Form: {{can.totalTicket}} </b><br>
                <b>retailerId: {{can.retailerId}} </b><br>
                <b>createDate: {{can.createDate}} </b>

                <div style="margin-left: 10px;">
                  <ngx-barcode [bc-width]="3" [bc-height]="100" [bc-value]=can.ticketId [bc-display-value]="true">
                  </ngx-barcode>
                </div>
              </section>
            </div>
          </ng-container>
          </div>
          <div class="modal-footer" style="background-color: #933430;" class="doNotPrint">
            <button type="button" class="btn btn-danger" id="print" (click)="cancel()">Cancel</button>
            <button type="button" class="btn btn-secondary" (click)="modal5.hide()">Close</button>
          
          </div>
        </div>
      </ticket-modal>
      <app-modal #modal8>
        <div class='app-modal-body'>
          <div class="modal-header" style="background-color: #F7D488;">
            <h5 class="modal-title fstyle" style="color:#4285F4; text-align: center">Self Scheme Details</h5>
            <button type="button" class="close fstyle" data-dismiss="modal" (click)="modal8.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3 class="fstyle">Sattelment Type</h3>
            <div>
              <form #myForm="ngForm" (submit)="myForm.reset()" class="col-12">
                <div class="form-group">
  
                  <label class="self fstyle">By Self</label>
  
                </div>
              </form>
  
              <form class="form-group col-12">
                <div>
                  <h3 class="fstyle">Payment Method</h3>
                  <!-- <label class="radio-inline m-4 "><input type="radio" name="optradio" checked>NEFT</label>
              <label class="radio-inline m-4"><input type="radio" name="optradio">RTGS</label>
              <label class="radio-inline m-4"><input type="radio" name="optradio">VPA</label> -->
                  <label class="radio-inline m-4 fstyle"><input type="radio" name="optradio">Cash</label><br>
  
                  <input type="text" name="amount"  style="background-color: lightgray" disabled
                    value={{bookingDetails.winningPrice}} class="fstyle">
                  <input class="ml-1" type="text" name="comment" style="background-color: lightgray"
                    placeholder="Comments" class="fstyle">
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer" style="background-color: #F7D488;">
            <button type="button" class="btn btn-danger fstyle" (click)="selfClaim(bookingDetails.id)" [(disabled)]="Disabledis">Save</button>
            <button type="button" class="btn btn-secondary fstyle" (click)="modal8.hide()">Close</button>
          </div>
        </div>
      </app-modal>
      <app-modal #modal6>
        <div class='app-modal-body' style="width: 800px;">
          <div class="modal-header">
            <h5 class="modal-title" style="color:#4169e1; text-align: center">Scheme Form</h5>
            <button type="button" class="close" data-dismiss="modal" (click)="modal6.hide()"aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <label for="ticket" class="fstyle" style="color: #4285F4; margin-left: 61px;">Application Number:</label>
                <input type="text" name="ticket" [(ngModel)]="ticket" [ngModelOptions]="{standalone: true}" id="Box1"
                    class="form-control" placeholder="Enter Application Number" aria-describedby="helpId" maxlength="10 "
                    autofocus style="margin-left: 9px;margin-top: -15px;width: 283px;">
                  <button type="submit" (click)="getdetails();" class="btn btn-primary fstyle" style="margin-left: 19px;
                  margin-top: -10px; height: 36px;">Search</button>
                <div class="form-group" id="searchField  ">
                  
                </div>
              </div>
              <div class="claim-Form mt-4">
                <ng-container>
                  <ng-container>
                    <table class="table hide  ">
                      <colgroup>
                        <col width="10%">
                        <col width="15%">
                        <col width="15%">
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                      </colgroup>
                      <thead>
                        <th class="fstyle">Form Id</th>
                        <th class="fstyle">SlotTime</th>
                        <th class="fstyle">Total Price</th>
                        <th class="fstyle">Booking Date</th>
                        <th class="fstyle">Winning Price</th>
                        <th class="fstyle">Scheme</th>
                      </thead>
                      <b *ngIf="claimList == null">No Record Found</b>
    
                      <tbody class="bg">
                        <tr>
                          <td  style="text-align: center;"><b class="fstyle">{{bookingDetails.id }}</b></td>
                          <td style="text-align: center;"><b class="fstyle">{{bookingDetails.startTime}}</b></td>
                          <td style="text-align: center;"><b class="fstyle">{{bookingDetails.totalPrice}}</b></td>
                          <td style="text-align: center;"><b class="fstyle">{{bookingDetails.bookingDate}}</b></td>
                          <td style="text-align: center;" ><b class="fstyle">{{bookingDetails.winningPrice}}</b></td>
                          <td   *ngIf="this.bookingDetails.status== 5" style="text-align: center;">
                            <ng-container *ngIf="claimList.id==null">
                                <button class="btn btn-warning fstyle"  style="margin-left: 10px;">Better Luck!</button>
                                </ng-container>                   
                         <ng-container *ngIf="claimList.id!=null">
                      <button class="btn btn-danger fstyle"(click)="selfClaim(bookingDetails.id)" [(disabled)]="Disabledis">Scheme</button>
                        <!-- <button class="btn btn-warning fstyle" (click)="modal4.show()" style="margin-left: 10px;">Farword
                          Claim</button> -->
                        </ng-container>
                        <ng-container *ngIf="claimList.status.id == 15">
                          <button class="btn btn-danger fstyle" (click)="modal()">Form Canceled</button>
                            <!-- <button class="btn btn-warning fstyle" (click)="modal4.show()" style="margin-left: 10px;">Farword
                              Claim</button> -->
                            </ng-container>
                      </td>
                          <td class="fstyle" *ngIf="this.bookingDetails.status == 14"><b>PROCESSED</b></td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-container>
                </ng-container>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-danger" (click)="checkLogin()">Check</button> -->
            <button type="button " style="align-content: center;" class="btn btn-secondary"
              (click)="close()">Close</button>
          </div>
        </div>

      </app-modal>
    </div>
  </main>
</div>
</div>
