.style{
    font-size: 24px;
    font-weight: 600;
}


.table-bordered th, .table-bordered td {
    border: 10px solid black;
}
table.table-bordered{
    border:10px solid black;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:10px solid black;
}
table.table-bordered > tbody > tr > td{
    border:10px solid black;
}

.barcode{
    width: 1px;
    height : 10px;
}