<main class="col-md-12 ml-sm-auto col-lg-12 styles" style="overflow: hidden;">
  <div class="col-md-4" style="margin-left: -24px;">
    <div id="printSectionId">
      <ng-container *ngFor="let item of totaltickets">
        <div class="row">
          <img style="height: 70px;
          width: 176px;
          margin-top: 25px;
          margin-left: 61px;" src="./assets/images/Untitled.png">
          <!-- <div style="  float: left; margin-top: 45px; font-size: 26px;margin-left: 11px; font-weight: 600;"><b
              style="font-size: 29px;">Govt of India</b><br>
            <b style="margin-left:45px; font-size: 26px;">Approved</b>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-12">
            <b style="font-size: 22px;"> &nbsp; &nbsp; &nbsp; &nbsp;JAI SHREE GANESHA</b>
          </div>
        </div> 
      
        <div class="row">
          <div class="col-md-12">
            <b style="font-size: 20px;">GSTIN:-27AAICB7487RIZL</b>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <b style="font-size: 20px;"> Dr. Date.{{item.bookingDate}} {{item.slot}}</b>
          </div>
        </div>
        <section class="section3 ">
          <table>
            <tr>
              <th class="style">No(Qty)</th>
            </tr>
            <div class="row">
              <div class="col-9">
                <div class="row">
                  <ng-container *ngFor="let num of item.ticketNumbers | keyvalue">
                    <div class="col-4">
                      <tr>
                        <td style="font-size: 20px;" class="style">{{num.key}}</td>
                        <td style="font-size: 20px;" class="style">({{num.value}})</td>
                      </tr>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </table>

          <b style="font-size: 20px;" class="style">Per Form Price Rs.{{singlePrice}}</b> <br>
          <b style="font-size: 20px;" class="style">Form Value:{{item.totalPrice}} </b> <br>
          <b style="font-size: 20px;" class="style">Total Form: {{item.totalTicket}} </b><br>
          <b style="font-size: 20px;" class="style">retailerId: {{item.retailerId}} </b><br>
          <b style="font-size: 20px;" class="style">createDate: {{item.createDate}} </b>
          <br>
          <div style="margin-left: 10px;">
            <ngx-barcode [bc-width]="3" [bc-height]="100" [bc-value]=item.ticketId [bc-display-value]="true">
            </ngx-barcode>
          </div>


        </section>
      </ng-container>
      <input type="button" (click)="back()" value="Back" style="position: absolute;top: 10%;left: 271%;">
    </div>
  </div>
</main>