<main class="col-md-9 ml-sm-auto col-lg-10 styles">
  <div class="px-4">
    <div class="row border-bottom">
      <div class="col-md-4">

        <h3 class="page-heading-wrap  pb-2 mb-1  sticky-top" style="color: #4169e1;  z-index:0; "> <b>Packet History
        </b></h3>
        </div>
          <div class="col-md-5" style="margin-top: -10px;">
            <div class="btn-group">
              <button type="button" *ngIf="navModel.wallet==1" class="btn btn-outline-primary fstyle" (click)="walletHistory()"
                (click)="navbar(2)" style="width: 150px; font-size: 17px;">Packet
              </button>
              <button type="button" *ngIf="navModel.wallet==2" class="btn btn-primary fstyle" (click)="walletHistory()"
                (click)="navbar(2)" style="width: 150px; font-size: 17px; ">Packet
              </button>
              <!-- <button type="button" *ngIf="navModel.walletHistory==1  && id != 4" class="btn btn-outline-danger fstyle"
                    (click)="openDistributorWalletHistory()" (click)="navbar(1)" style="width: 180px; font-size: 17px;">
                    Recharge History
                  </button>
                  <button type="button" *ngIf="navModel.walletHistory==2  && id != 4" class="btn btn-danger fstyle"
                    (click)="openDistributorWalletHistory()" (click)="navbar(1)" style="width: 180px; font-size: 17px;">
                    Recharge History
                  </button> -->
                  <button type="button" *ngIf="navModel.walletHistory==1 && id == 4" class="btn btn-outline-primary fstyle"
                  (click)="openClientWalletHistory()" (click)="navbar(1)" style="width: 180px; font-size: 17px;">
                  Recharge History
                </button>
                <button type="button" *ngIf="navModel.walletHistory==2  && id == 4" class="btn btn-primary fstyle"
                  (click)="openClientWalletHistory()" (click)="navbar(1)" style="width: 180px; font-size: 17px;">
                  Recharge History
                </button>
             
          
            </div>
        </div>
        <div class="col-md-3">
          Date: {{this.date}}
        </div>
     
    </div> 
        <div class="row mt-3 border-bottom">
          <div class="col-md-6">
            <!-- <a> <img src="assets/icons/wallet .png" style="width:30px ;margin-bottom: 10px; height:30px"> <b -->
              <a> <b
                class="fstyle"> &nbsp;  {{Balance.amount}}</b></a>
            <a style="font-size: 21px;"> &nbsp;&nbsp;Is Your Packet Balance</a>
          </div>
         <div class="col-md-4">
          <input type="date" name="" placeholder="Enter Date" [(ngModel)]="WalletCalenderDate" [ngModelOptions]="{standalone: true}"
          style="width: 100% ;">

         </div>
       <div class="col-md-1">
        <input type="button" class="btn btn-primary" (click)="walletReportByDate()"  value="Submit" style="margin-top: -6px;">           

       </div>
        </div>
      
        <div class="row">
          <div class="col-12 anyClass">
            <div class="open-tabs" id="">
              <div class="container-fluid scrollable fstyle" slimScoll size="2px" height="calc(100vh - 320px)">
                <div id="team-table" class="table mt-1">
                  <form>

                  </form>
                </div>
                <table class="table">
                  <colgroup>
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="20%">
                    <col width="15%">
                    <col width="20%">

                  </colgroup>
                  <thead>
                    <!-- <th class="fstyle">Booking ID</th> -->
                    <th  style="text-align: center;" class="fstyle">Date</th>
                    <th  style="text-align: center;" class="fstyle ">Amount</th>                     
                    <th  style="text-align: center;" class="fstyle">Mode</th>
                    <th  style="text-align: center;" class="fstyle">Type</th>
                  </thead>
                  <tbody class="bg">
                    <tr *ngFor ="let u of filteredWalletList | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize;">
                      <td style="text-align: center;">{{u.transactionDate}}</td>
                      <td style="text-align: center;">{{u.transactionAmount}}</td>
                      <td style="text-align: center;">{{u.transactionMode}}</td>
                      <td style="text-align: center;">{{u.currentAbalance}}</td>
                      <!-- <td  style="text-align: center;"><a class="fa fa-eye" (click)="slotDetails()"></a></td>         -->
                      </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 d-flex justify-content-center mr-5" *ngIf="filteredWalletList.length > 0" style="margin-top: -20px;">
          <ngb-pagination [collectionSize]="filteredWalletList.length" [(page)]="page" [maxSize]="6"
                          [rotate]="true"
                          [pageSize]="pageSize" class="d-flex justify-content-center"
                          [boundaryLinks]="true">
          </ngb-pagination>
        </div>
 
    </div>
    </main>