<main class="col-md-9 ml-sm-auto col-lg-11 styles">
  <div class="px-4">
    <div class="row">
      <div class="col-md-4 ml-4 ">
        <h4 class="page-heading-wrap bg-white  pb-2 mb-1 border-bottom sticky-top"
          style="margin-top: -10px;color: #4169e1; "> <b>Product MRP Wise Out Of Stock </b></h4>

      </div>
      <div class="col-md-3 " style=" left: 6%">
        <ng-container *ngIf="pre1==true">
          <button (click)="predateFunction()" class="btn btn-outline-primary">Back</button>
        </ng-container>

        <label
          style="font-size: 17px;font-weight: 600;">&nbsp;&nbsp;&nbsp;{{today | date:'MMM d, y'}}&nbsp;&nbsp;&nbsp;</label>
        <ng-container *ngIf="nxt1==true">
          <button (click)="nextdateFunction() " class="btn btn-outline-primary">Next</button>
        </ng-container>
      </div>

      <div class="text-right left" style="margin-left: 14%;">
        <input type="text" placeholder="Application form number" name="search" [(ngModel)]="searchText" style="width: 186px;">
        <button (click)="search1()" type="submit" class="btn btn-outline-primary" style="height: 32px;">Submit</button>
      </div>
    </div>
 
    <div class="panel panel-default ">
        <section class="login-form d-flex align-items-center " style=" margin-top: 1%;">
            <div class="bg-white p-2 form-wrap shadow-lg" style="width: 100%;">
      <div class="row" style="margin-left: 0px;">

        <ng-container *ngIf="checkdate!=today">
          <!-- <ng-container *ngFor="let slot of tempSlots">
            <ng-container *ngIf="slot.status == 2">
              <button class="btn  " (click)="getmyResult(slot.id)">
                <ng-container><button class="btn btn-danger" style=" width: 103px;
                          height: 36px;font-weight: 600; font-size: 17px;">{{slot.drawTimeAm}}</button>
                </ng-container>
              </button>
            </ng-container>
          </ng-container> -->
          <ng-container *ngFor="let slot of tempSlots">
            <ng-container >
           
                <ng-container><button *ngIf="slot.status == 1" class="btn btn-outline-primary" style=" width: 103px;
                        height: 36px; font-weight: 600; font-size: 17px;" (click)="getmyResult(slot.id)" [(disabled)]="isDisabled">{{slot.drawTimeAm}}</button>
                        <button *ngIf="slot.status == 2" class="btn btn-primary" style=" width: 103px;
                        height: 36px; font-weight: 600; font-size: 17px;" (click)="getmyResult(slot.id)" [(disabled)]="isDisabled1">{{slot.drawTimeAm}}</button>
                </ng-container>
            
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="checkdate==today">
          <!-- <ng-container *ngFor="let slot of tempSlots">
            <ng-container *ngIf="slot.status == 2">
              <button class="btn  " (click)="getmyResult(slot.id)">
                <ng-container><button class="btn btn-danger" style=" width: 103px;  
                              font-weight: 600; font-size: 17px;">{{slot.drawTimeAm}}</button>
                </ng-container>
              </button>
            </ng-container>
          </ng-container> -->
          <ng-container *ngFor="let slot of tempSlots">
            <ng-container >
              <!-- <button class="btn " (click)="getmyResult(slot.id)"> -->
                <ng-container>
                    
                  <button *ngIf="slot.status == 1" class="btn btn-outline-primary" style=" width: 103px;  
                            font-weight: 600; font-size: 17px;" (click)="getmyResult(slot.id)" [(disabled)]="isDisabled">{{slot.drawTimeAm}}</button>
                            <button *ngIf="slot.status == 2" class="btn btn-primary" style=" width: 103px;  
                            font-weight: 600; font-size: 17px;" (click)="getmyResult(slot.id)" [(disabled)]="isDisabled">{{slot.drawTimeAm}}</button>
                </ng-container>
            
            </ng-container>
          </ng-container>

        </ng-container>

      </div>
      </div>
        </section>
      <section class="login-form d-flex align-items-center " style=" margin-top: 1%;">
        <div class="bg-white p-2 form-wrap shadow-lg" style="width: 100%;">
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-2">
      <label style="font-size: 26px; font-weight: 600;">
          {{today | date:'MMM d, y'}} </label>
  </div>
  <div class="col-md-4">
      <label style="font-size: 26px; font-weight: 600;color: rgb(36, 138, 206);">{{time}}</label>
  </div>
  <div class="col-md-2">
      <button class="btn btn-primary " style="font-size: 22px;height: 36px;" (click)="printResult()">Print
          </button>
  </div>
</div>
         
          
         



        </div>
      </section>


      <section class="login-form d-flex align-items-center " style=" margin-top: 1%;">
        <div class="bg-white p-2 form-wrap shadow-lg">
          <div class="row" id="old" style="margin-left: 1px;">
            <ng-container *ngIf="resultList==null;else other_content">
<div class="div col-md-11">
  <div class="row" style="width: 1173px;
  padding-left: 394px;
  font-size: 24px;
  font-weight: 600; color: #4169e1;">
   <h2><b style="color: #4169e1;">This time has not passed yet.</b></h2> 

   
    
  </div></div>
            </ng-container>
            <ng-template #other_content>
              <ng-container *ngFor="let u of resultList">
                <button class="btnnn " style="color: white; background: #4169e1; width: 95px;
                    height: 36px; font-weight: 600; font-size: 17px;">
                  <ng-container *ngIf="u.gherNo<10">0{{u.gherNo}}</ng-container>
                  <ng-container *ngIf="u.gherNo >=10">{{u.gherNo}}</ng-container>
                  <ng-container *ngIf="u.luckyNumber<10">0{{u.luckyNumber}} </ng-container>
                  <ng-container *ngIf="u.luckyNumber >=10">{{u.luckyNumber}}</ng-container>
                </button>
              </ng-container>
            </ng-template>
           

            <!-- <ng-container *ngFor="let u of resultList ">
                      <button class="btnnn m-1 " style="color: white; background: #933430; width: 81px;  
                      font-weight: 600; font-size: 25px;">
                        <ng-container *ngIf="u.gherNo<10">0{{u.gherNo}}</ng-container>
                        <ng-container *ngIf="u.gherNo >=10">{{u.gherNo}}</ng-container>
                        <ng-container *ngIf="u.luckyNumber<10">0{{u.luckyNumber}} </ng-container>
                        <ng-container *ngIf="u.luckyNumber >=10">{{u.luckyNumber}}</ng-container>
                      </button>
                    </ng-container> -->
          </div>
        </div>
      </section>



    </div>
  </div>
</main>