<main class="col-md-10 ml-sm-auto col-lg-10 styles">
 
  <div class="px-4">
    <div class="row border-bottom">
      <div class="col-md-4">

        <h3 class="  pb-2 mb-1  sticky-top" style="color: #4169e1;margin-top: -10px; z-index:0;  ">
          <b> &nbsp;History</b></h3>
        </div>
          <div class="col-md-5" style="margin-top: -10px;">
            <div class="btn-group">
                <button type="button" *ngIf="navModel.ticketHistory==1" (click)="navbar(1)"
                        class="btn btn-outline-primary fstyle" (click)="openHistoryForm()"
                        style="width: 190px; font-size: 17px;">
                     History
                </button>
                <button type="button" *ngIf="navModel.ticketHistory==2" (click)="navbar(1)"
                        class="btn btn-primary fstyle"
                        style="width: 190px; font-size: 17px;">
                         History
                </button>

                <button type="button" *ngIf="navModel.canceledTicket==1" (click)="navbar(2)"
                        class="btn btn-outline-primary fstyle"
                        (click)="openCanceledTicketForm()" style="width: 190px; font-size: 17px;">Canceled 
                </button>
                <button type="button" *ngIf="navModel.canceledTicket==2" (click)="navbar(2)"
                        class="btn btn-primary fstyle"
                        style="width: 190px; font-size: 17px;">Canceled 
                </button>
            </div>
        </div>
        <div class="col-md-1">
          <h3 class="  pb-2 mb-1  sticky-top" style="margin-top: -10px; z-index:0; color: #4169e1; ">Date:</h3>
          
        </div>
<div class="col-md-2">
  <h3 class="  pb-2 mb-1  sticky-top" style="margin-top: -10px; z-index:0;  ">{{this.historyListDate}}</h3>
  
</div>

      
      <!-- <div class="col-md-6" style="margin-top: -40px;"> -->
                <!-- <form #myForm="ngForm" class="search5-Form "> -->
          <!-- <div class="form-group" id="searchField  "> -->
            <!--  <label for="ticket" class="fstyle" style="color: #933430; ">Ticket Number:</label> --> 
            <!-- <input type="text" name="ticket" [(ngModel)]="searchText5" [ngModelOptions]="{standalone: true}" id="ticket"
              class="form-control" placeholder="Enter Ticket Number" aria-describedby="helpId" style="width: 75%;">
            <button type="submit" (click)="search5();" class="btn btn-danger fstyle" style="margin-left: 75%;
            margin-top: -107px;">Search</button> -->
           
         <!-- // </div>        -->
        <!-- </form> -->
      <!-- </div>    -->
    </div>   
            <!-- ------------------------------History Form-------------------- -->

    <div class="pg-login history-Form">
      <div class="row mt-3  " >
        <div class="col-md-4">
          <input type="date" name="" placeholder="Enter Date" style="height: 36px;margin-left: 18px;"[(ngModel)]="historyListByDate" [ngModelOptions]="{standalone: true}">
          <input type="button" class="btn btn-primary" (click)="openHistoryByDate()"  value="Submit" style="margin-left: 10px;height: 36px;margin-top: -8px;">           
        </div>  
        <div class="col-md-4" style="margin-left: -25px;">
          <!-- <label style="font-weight: 600;font-size: 18px;color: #933430;">Date:-</label>
          <b>{{this.historyListDate}}</b>&nbsp; &nbsp; -->
          <label style="font-weight: 600;font-size: 18px;color: #4169e1;"> Sub Total:-</label>
          <b>INR ({{this.TotalAmt}})</b>
        </div>
        <div class="col-md-4" style="margin-right: 25px;">
          <input type="text" name="search-menu" id="search-menu-1" class="form-control"
          placeholder="Search by FormId" [(ngModel)]="searchDataActivate"
          (keyup)="onSearchFilterActivate(searchDataActivate)">
        </div> 
       </div>
      <section id="login" class="d-flex justify-content-center">
        <div class="container-fluid"> 
          <div class=" anyClass mt-2">
            <ng-container>
              <ng-container>
                <table class="table">
                  <colgroup>
                    <col width="20%">
                    <col width="15%">
                    <col width="10%">
                    <col width="12%">
                    <col width="13%">
                    <col width="10%">
                    <col width="40%">
                    <!-- <col width="10%"> -->
                  </colgroup>
                  <thead>
                    <th class="fstyle" style="text-align:center"> Date/Time</th>
                    <th class="fstyle"style="text-align:center">Form ID</th>
                    <!-- <th class="fstyle"style="text-align:center">Booking Time</th> -->
                    <th class="fstyle"style="text-align:center">Slot Time</th>
                    <th class="fstyle"style="text-align:center">Form Price</th>
                    <th class="fstyle"style="text-align:center">Total From</th>
                    <th class="fstyle"style="text-align:center">Status</th>
                    <th class="fstyle"style="text-align:center">Re-Print/Cancel</th>
                    <!-- <th class="fstyle"style="text-align:center">Cancel</th> -->
                  </thead>
                  <tbody class="bg">
                    <tr *ngFor="let demo of filteredhistoryList  | slice: (page-1) * pageSize:(page-1) * pageSize + pageSize;">
                      <td class="fstyle"style="text-align:center">{{demo.createDate}}</td>
                      <td class="fstyle"style="text-align:center">{{demo.ticketId}}</td>
                      <!-- <td class="fstyle"style="text-align:center">{{demo.createDate}}</td> -->
                      <td class="fstyle"style="text-align:center">{{demo.slot.endTime}}</td>
                      <td class="fstyle"style="text-align:center">{{demo.totalPrice}}</td>
                      <td class="fstyle"style="text-align:center">{{demo.totalTicket}}</td>
                      <td class="fstyle"style="text-align:center" *ngIf="demo.status.id == 1 || demo.status.id == 14  ">Processed</td>
                      <td class="fstyle"style="text-align:center" *ngIf="demo.status.id == 15">Canceled</td>

                      <!-- <td (click)="previewticketModal(demo.id)" style="text-align:center"><a class="fa fa-eye fstyle"></a></td> -->
                      <td  style="text-align:center" ><button class="btn btn-primary " (click)="ticketModal(demo.id)"
                       >Re-Print</button> &nbsp;&nbsp;
                       <ng-container  *ngIf="flag==0">  
                        <button class="btn btn-primary "  (click)="cancleTicket(demo.id)"  [(disabled)]="isDisabled"
                        *ngIf="demo.cancalable === true && demo.cancel==1">Cancel</button>
                       </ng-container>
                       
                      </td>
                      <!-- <td  style="text-align:center"><button class="btn btn-danger fstyle" (click)="cancleTicket(demo.id)"
                        >Cancel</button></td> -->
                    </tr>
                  </tbody>
                </table>
              </ng-container>
            
            </ng-container>
          </div>
          <div class="row d-flex justify-content-center mr-5">
            <ngb-pagination [collectionSize]="filteredhistoryList.length" [(page)]="page" [maxSize]="8"
                            [rotate]="true"
                            [pageSize]="pageSize" class="d-flex justify-content-center"
                            [boundaryLinks]="true">
            </ngb-pagination>
          </div>
        </div>
      </section>
    </div>
          <!-- ------------------------------Canceled Ticket Form-------------------- -->
          <div class="pg-login CanceledTicket-Form hide">
      <div class="row mt-3 " >
        <div class="col-md-4">
          <input type="date" name="" placeholder="Enter Date" style="height: 36px;margin-left: 18px;"[(ngModel)]="cancelHistoryListByDate" [ngModelOptions]="{standalone: true}">
          <input type="button" class="btn btn-primary" (click)="openCanceledHistoryByDate()"  value="Submit" style="margin-left: 10px;height: 36px;margin-top: -8px;">           
        </div>  
        <div class="col-md-4" style="margin-left: -25px;">
          <label style="font-weight: 600;font-size: 18px;color: #4169e1;">Date:-</label>
          <b>{{this.CancelhistoryListDate}}</b>&nbsp; &nbsp;
          <label style="font-weight: 600;font-size: 18px;color: #4169e1;"> Sub Total:-</label>
          <b>INR ({{this.CancelTotalAmt}})</b>
        </div>
        <!-- <div class="col-md-4" style="margin-right: 25px;">
          <input type="text" name="search-menu" id="search-menu-1" class="form-control"
          placeholder="Search by TicketId" [(ngModel)]="searchDataActivate"
          (keyup)="onSearchFilterActivate(searchDataActivate)">
        </div>  -->
       </div>
      <section id="login" class="d-flex justify-content-center">
        <div class="container-fluid"> 
          <div class=" anyClass mt-2">
            <ng-container>
              <ng-container>
                <table class="table">
                  <colgroup>
                    <col width="20%">
                    <col width="15%">
                    <col width="10%">
                    <col width="12%">
                    <col width="13%">
                    <col width="10%">
                    <col width="40%">
                    <!-- <col width="10%"> -->
                  </colgroup>
                  <thead>
                    <th class="fstyle" style="text-align:center"> Date/Time</th>
                    <th class="fstyle"style="text-align:center">Form ID</th>
                    <!-- <th class="fstyle"style="text-align:center">Booking Time</th> -->
                    <th class="fstyle"style="text-align:center">Slot Time</th>
                    <th class="fstyle"style="text-align:center">Form Price</th>
                    <th class="fstyle"style="text-align:center">Total Form</th>
                    <th class="fstyle"style="text-align:center">Status</th>
                    <th class="fstyle"style="text-align:center">Re-Print </th>
                    <!-- <th class="fstyle"style="text-align:center">Cancel</th> -->
                  </thead>
                  <tbody class="bg">
                    <tr *ngFor="let demo of filteredCancelhistoryList  | slice: (page2-1) * pageSize2:(page2-1) * pageSize2 + pageSize2;">
                      <td class="fstyle"style="text-align:center">{{demo.createDate}}</td>
                      <td class="fstyle"style="text-align:center">{{demo.ticketId}}</td>
                      <!-- <td class="fstyle"style="text-align:center">{{demo.createDate}}</td> -->
                      <td class="fstyle"style="text-align:center">{{demo.slot.startTime}}</td>
                      <td class="fstyle"style="text-align:center">{{demo.totalPrice}}</td>
                      <td class="fstyle"style="text-align:center">{{demo.totalTicket}}</td>
                      <td class="fstyle"style="text-align:center" *ngIf="demo.status.id == 1 || demo.status.id == 14  ">Processed</td>
                      <td class="fstyle"style="text-align:center" *ngIf="demo.status.id == 15">Canceled</td>

                      <!-- <td (click)="previewticketModal(demo.id)" style="text-align:center"><a class="fa fa-eye fstyle"></a></td> -->
                      <td  style="text-align:center" ><button class="btn btn-primary " (click)="ticketModal(demo.id)"
                       >Re-Print</button> &nbsp;&nbsp;
                        <button class="btn btn-primary " (click)="cancleTicket(demo.id)"
                        *ngIf="demo.cancalable === true">Cancel</button>
                      </td>
                      <!-- <td  style="text-align:center"><button class="btn btn-danger fstyle" (click)="cancleTicket(demo.id)"
                        >Cancel</button></td> -->
                    </tr>
                  </tbody>
                </table>
              </ng-container>
            
            </ng-container>
          </div>
          <div class="row d-flex justify-content-center mr-5">
            <ngb-pagination [collectionSize]="filteredCancelhistoryList.length" [(page)]="page2" [maxSize]="8"
                            [rotate]="true"
                            [pageSize]="pageSize2" class="d-flex justify-content-center"
                            [boundaryLinks]="true">
            </ngb-pagination>
          </div>
        </div>
      </section>
    </div>


    <!--=========================== Modal 2 Start ==========================================-->

   
    <!--=========================== Modal 3 End ==========================================-->



    <!--=========================== Modal 4 End ==========================================-->
   


    <!--=========================== Modal 5 End ==========================================-->
    <!-- <app-history-modal #modal5>
        <div class='app-modal-body'>
           
            <div id="printSectionId" class="container">
                
              <div class="header mt-2" style="background-color: #933430;  ">
                  <button type="button" class="close fstyle" data-dismiss="modal" (click)="modal5.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                <div class="row">
                  <div class="col-md-4 float-left"> <img  src="assets/icons/newLogo.jpg"></div>
                  <div class="col-md-8 float-center mt-2">
                    <p class="fstyle" style=" color:white">Bhagya Shree</p>
                    <p class="fstyle"  style=" color:white">B.Date: {{ ticketBookingDate}}</p>
                    
                    <p class="fstyle"  style=" color:white">Draw TIme:{{ticketSlotTime}}</p>
                  </div>
                </div>
    
              </div>
              <div class="modal-body "style="overflow: scroll;    height: 220px">
                <section class="">
                <table >
                    <th style="text-align:center; " width="5%" scope="col" class="fstyle">Number</th>
                  <th style="text-align:right" width="5%" scope="col" class="fstyle">Qty</th>
                  <th style="text-align:center" width="5%" scope="col" class="fstyle">Amt</th>
                  <ng-container >        
                  <ng-container *ngFor="let item of TicketpreviewModal; ">                      
                      <tr class="table-active" style="text-align:center" class="fstyle">
                        <td><ng-container *ngIf="item.gherno<10">0{{item.gherno}}</ng-container>
                          <ng-container *ngIf="item.gherno >=10">{{item.gherno}}</ng-container></td>
                          <td style="text-align: right" width="5%">{{item.ticketNo}}</td>
                          <td style="text-align:center" width="5%">{{item.totalticketAmt}}</td>
                      </tr>
                      <tr class="table-light">
                          <td colspan="10">
                              <b style="font-size: 19px; font-weight: 700;" class="fstyle" >
                                  <ng-container *ngFor="let numbers of item.numbersSelected">
                                    <ng-container *ngIf="item.gherno<10">0{{item.gherno}}</ng-container>
                                    <ng-container *ngIf="item.gherno >=10">{{item.gherno}}</ng-container>
                                    <ng-container *ngIf="numbers<10">0{{numbers}}, </ng-container>
                                    <ng-container *ngIf="numbers >=10">{{numbers}}, </ng-container>
                                  </ng-container>
                                  </b>
                          </td>
                        </tr>
                  </ng-container>
                </ng-container>
                <div class="row">
                  <div class="col-9">
                    <div class="row">
                      <ng-container *ngFor="let num of ticketNumbers | keyvalue">
                        <div class="col-4">
                          <tr>
                            <td style="font-size: 20px;" class="style">{{num.key}}</td>
                            <td style="font-size: 20px;" class="style">({{num.value}})</td>
                          </tr>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                  <tr class="table-success">
                    <td style="text-align:center" width="5%" class="fstyle"> Total Amt</td>
                    <td style="text-align:center" colspan="8" width="5%" class="fstyle">{{ticketTotalPrice}}</td>
                  </tr>
                </table>
              </section>
              </div>
            </div>
            <div class="modal-footer"class="doNotPrint">
             
              <button type="button" class="btn btn-secondary" (click)="modal5.hide()"style="margin-left: 196px;background-color: #933430; margin-bottom: 10px;  ">Close</button>
            </div>
          </div>
    </app-history-modal> -->
    
    <!-- <app-history-modal #modal5>
      <div class='app-modal-body'>
        <div id="printSectionId" class="container" >
          <div class="header mt-1" style="background-color: #933430;  "> -->
            <!-- <div class="row"> -->
              <!-- <div class="col-md-4 float-left"> <img src="assets/icons/newLogo.jpg"></div> -->
              <!-- <div class="col-md-8 float-center mt-2"> -->
                <!-- <p class="fstyle" style=" color:white">Bhagya Shree</p>
                <p class="fstyle" style=" color:white">B.Date :{{today | date:'MMM d, y'}}</p>
                <p class="fstyle" style=" color:white">B.Time :{{today | date:'hh:mm a'}}</p> -->
                <!-- <p class="fstyle" style=" color:white">Draw TIme:{{matcham}}</p> -->
              <!-- </div> -->
              <!-- <div class="col-md-4 float-right">
                    <qrcode [qrdata]="myAngularxQrCode" [size]="100" [level]="'M'"></qrcode>
                  </div> -->
            <!-- </div> -->

          <!-- </div>
          <div class="modal-body ">
            <section class="section3">
              <table>
                <th style="text-align:center; " width="5%" scope="col" class="fstyle">Number</th>
                <th style="text-align:right" width="5%" scope="col" class="fstyle">Qty</th>
                <th style="text-align:center" width="5%" scope="col" class="fstyle">Amt</th>
                <ng-container *ngFor=" let sl of slots">
                  <tr>
                    <td colspan="10" style="text-align: center; "><b class="fstyle">Draw Time: </b>
                    </td>
                  </tr>
                  <ng-container >
                    <ng-container >

                      <tr class="table-active" style="text-align:center" class="fstyle">
                        <td>
                          <ng-container *ngIf="item.gherno<10" class="fstyle">0</ng-container>
                          <ng-container *ngIf="item.gherno >=10" class="fstyle"></ng-container>
                        </td>
                        <td style="text-align: right" width="5%" class="fstyle"></td>
                        <td style="text-align:center" width="5%" class="fstyle"></td>
                      </tr>
                      <tr class="table-light">
                        <td colspan="10">
                          <b style="font-size: 19px; font-weight: 700;" class="fstyle">
                            <ng-container >
                              <ng-container *ngIf="item.gherno<10" class="fstyle">0</ng-container>
                              <ng-container *ngIf="item.gherno >=10" class="fstyle"></ng-container>
                              <ng-container *ngIf="numbers<10" class="fstyle">0, </ng-container>
                              <ng-container *ngIf="numbers >=10" class="fstyle">, </ng-container>
                            </ng-container>
                          </b>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <tr class="table-success">
                  <td style="text-align:center" width="5%" class="fstyle"> T.Amt:--{{ticketTotalPrice}}</td>
                  <td style="text-align:center" colspan="8" width="5%" class="fstyle"></td>
                </tr>
              </table>
            </section>
          </div>
        </div>
        <div class="modal-footer" style="background-color: #933430;" class="doNotPrint">
          <button type="button" class="btn btn-secondary" (click)="modal5.hide()">Close</button>
        </div>
      </div>
    </app-history-modal> -->
  </div>
</main>